<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>客户定价详情- 我的医药网</title>

<!-- mypharma_公共资源 -->
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<!-- mypharma_样式 -->
<link rel="stylesheet" type="text/css" href="/css/global.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/order.css">

<!--PNG格式图片兼容IE6解决方案 -->
<!--[if IE 6]>
      <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js"></script>
      <script type="text/javascript">
	    DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
</head>

<body>
	<div class="container">
		#parse("common/header_top.vm") #parse("common/header.vm")
		<div class="content">
			<div class="wrap cc">
				#parse("common/left_menu_sales.vm")
				<div class="user_right fl">
					<!-- 用户中心_主体内容_S -->
					<div class="indmain">
						<div class="path">
							<p><a class="color" href="/sales/index.html">销售中心</a>&gt; 销价管理 &gt;<a class="color" href="/sales/goods_price_set/main.html">商品定价情况（试）</a>&gt;$!{goods.gName}</p>
						</div>
						<h3 class="xjgl-title cc">
		                    <span class="title fl">$!{goods.gName} 商品定价详情</span>
		                </h3>
                    
                <div class="order_query">
                    <div class="xjgl-data-ctn">
                       <ul class="cc">
                           <li>
                               <p class="amount color01">$!customerNumber</p>
                               <p class="text">可采购客户数</p>
                           </li>
                           <li>
                               <p class="amount color02">$!havePriceSetNumber</p>
                               <p class="text">已定价客户数</p>
                           </li>
                           <li>
                               <p class="amount color04">$!noPriceSetNumber</p>
                               <p class="text">按基价销售客户数量</p>
                           </li>
                       </ul>
                    </div>

               </div>
                    
               <div class="order_detail">

                   <div class="table table-top">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="b-l">编号</th>
                                    <th>价格组名称</th>
                                    <th>影响客户数</th>
                                    <th>最后生效时间↓</th>
                                    <th class="b-r" width="130">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                             #if(!$null.isNull($priceSetList) && $priceSetList.size()!=0)	
								#foreach($priceSet in $!priceSetList)
                                <tr>
                                    <td>$!{priceSet.gpsCode}</td>
                                    <td><a class="a-text" href="/sales/set_price/edit.html?gpsId=$!{priceSet.gpsId}">$!{priceSet.gpsName}</a></td>
                                    <td>$!{priceSet.availableCount}</td>
                                    <td>$!{priceSet.updateTimeStr}</td>
                                    <td>
                                    	<label class="checkbox-ctn"><input class="check" onclick="changeStatus(this)" name="" id="gpsStatus" type="checkbox" #if($priceSet.gpsStatus == 1) checked="checked" #end value="$!{priceSet.gpsId}">生效</label>
                                    	<a class="a-text" href="/sales/set_price/edit.html?gpsId=$!{priceSet.gpsId}&nr=true">另存为</a>
                                    </td>
                                </tr>
                               	#end
                             #end
                            </tbody>
                        </table>
                        <!--分页开始 -->
						#if($!{pagerInfo}) #if($!{pagerTotal} >1)
						#pagerInfo($!pagerInfo,$!{pagerTotal},"/sales/set_price/main.html",$!{pagerQueryParam})
						#end #end
						<!--分页结束 -->
                    </div>
					
					<div class="btn cc">
                        <a href="/sales/set_price/single_add.html?gId=$!{goods.gId}" class="fr btn-text">+为本商品添加价格组</a>
                    </div>

					<dl class="xjgl-dl">
	                    <dt class="cc">
	                        <span class="fl">$!{goods.gName} 商品信息</span>
	                        <a target="_blank" href="/sales/goods/goods_viewUI.html?gId=$!{goods.gId}" class="fr">查看详情>></a></dt>
	                    <dd class="cc">
	                        <div class="text-ctn">
	                            <span class="left">商品名称：</span>$!{goods.gName}
	                        </div>
	                        <div class="text-ctn">
	                            <span class="left">商品别名：</span>$!{goods.gAlias}
	                        </div>
	                        <div class="text-ctn">
	                            <span class="left">商品编码：</span>$!{goods.gSn}
	                        </div>
	                    </dd>
	                    <dd class="cc">
	                        <div class="text-ctn">
	                            <span class="left">批准文号：</span>$!{goods.gLicenseNo}
	                        </div>
	                        <div class="text-ctn">
	                            <span class="left">规格：</span>$!{goods.gSpecifications}
	                        </div>
	                        <div class="text-ctn">
	                            <span class="left">生产厂家：</span>$!{goods.gManufacture}
	                        </div>
	                    </dd>
	                </dl>
               </div>

               </div>
                     



					<!-- 用户中心_主体内容_E -->
				</div>
			</div>
		</div>
	</div>
	#parse("/common/footer.vm")

	<!-- mypharma_脚本 -->
	<script src="/js/jquery-1.9.1.min.js?version=201612090950"></script>
	<script src="/js/publish.js"></script>
	<script src="/js/jquery-1.9.1.min.js?version=201612090950" type="text/javascript"></script>
	<script src="/js/pager.js" type="text/javascript"></script>
	<script src="/js/pop_div.js" type="text/javascript"></script>
	<script src="/js/extend.datetime.js" type="text/javascript"></script>
	<script src="/js/jquery.json-2.2.js" type="text/javascript"></script>
	<script src="/js/load.js"></script>
	<script src="/js/dialog/dialog.js"></script>
	#parse("common/common_script.vm")
	<script src="/js/public/My97DatePicker/WdatePicker.js"
		type="text/javascript"></script>
	<script src="/js/enterpriseHelp.js" type="text/javascript"></script>

	<script>
	
	$(function(){
		
		$(".th-tips-show").mouseenter(function(){
			$(".th-tips").show();
		});
		
		$(".th-tips-show").mouseleave(function(){
			$(".th-tips").hide();
		});
		
	})
	
	function changeStatus(obj){
		var gpsStatus = false;
		 if($(obj).prop("checked")){
			 gpsStatus = true;
         }
		 var gpsId = obj.value;
		 $.ajax({
             url: "/sales/set_price/modify_set_price.html",
             type: "POST",
             data: {"gpsStatus":gpsStatus,"gpsId":gpsId},
             dataType : 'json',
             success: function (result) {
 	            if (result.data == true) {
 	            	$("#searchForm").submit();
 	            }else{
 	            	top.ue.msg("系统错误，请稍后重试！");
 	            }
             }
         });
	}
	
	function checkNum(obj){
		var id = obj.id;
		$('#'+id).keyup(function(e) {
			var keycode = e.keyCode;
			if (keycode === 9) { // tab切换跳出
				return false;
			} else if (keycode < 48 || (keycode > 57 && keycode < 96) || keycode > 105) {
				//var number = $(this).val().replace(/\D|^0/g, '');
				var number = $(this).val().replace(/[^\d.-]/g, "");
				$('#'+id).val(number);
			}
		})
		
		
		
	}

		function isPrice(s) {
			s = $.trim(s);
			var p = /^-?[1-9]+(\.\d+)?$|^-?0(\.\d+)?$|^-?[1-9]+[0-9]*(\.\d+)?$/; 
			return p.test(s);
		}
		
		function addCusteomer(){
	    	var mask = $("#popUpMaskCustomer");
			var dialog = $("#popUpDIVCustomer");
	            $.ajax({
	                url: "/sales/biz/enterprise_help.html",
	                type: "POST",
	                data: {},
	                dataType: "html",
	                cache: false,
	                success: function (result) {
	    	            if (result.success == false) {
	    	            	top.ue.msg(result.message);
	    	            }else{
							//设置弹出框内容
							document.getElementById("content").innerHTML = result;
							//显示弹出层与遮照层
							showPopUpDIV(dialog,mask);
	    	            }
	                }
	            });
	    
			
		}
		
		function chooseEnterprise(){
			var length = $("input[name='chk']:checked").length;
	    	if(length == 0){
	    		top.ue.msg("请选择你要添加的客户！");
	    		return ;
	    	}
	    	$("input[name='chk']:checked").each(function(){
	    		
	    		var tr = $(this).parent().parent();
	    	});
	    	
	    	closePopUpDIV('popUpMaskCustomer','popUpDIVCustomer');
		}
		
		function checkGInSnValue(url,type){
			var gInSns = $("#gInSns").val();
			if(gInSns == undefined){
				searchPager(url,type);	
			}else{
				gInSns = gInSns.replace("，",",").replace(/\s+/g,"");
				$("#gInSns").val(gInSns);
				if(gInSns.split(",").length>200 && !type){
					top.ue.msg("Sorry,您每次最多可导入200个内码，您可以分多次导入商品！");
					return ;
				}else if(url){
					searchPager(url,type);	
				}
			}
		}
	</script>
	<!-- 添加页面 -->
    <div class="mask" id="popUpMaskCustomer"></div>
    <div class="dialog w460" id="popUpDIVCustomer" style="width:800px;height:700px;">
      <div class="head"><span class="dialog-title">选择客户</span><a href="javascript:closePopUpDIV('popUpMaskCustomer','popUpDIVCustomer');window.location.reload(true);" class="btn-close"></a></div>  
      <div class="con" id="content">
      </div>
    </div>
</body>
</html>