<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>企业认证 - 我的医药网</title>
    
    <!-- 公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    
    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}" />
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">
	<link rel="stylesheet" type="text/css" href="/css/validate.css?v=$!{jscss_version}">
	<link rel="stylesheet" type="text/css" href="/css/load.css?v=$!{jscss_version}" />
	<script type="text/javascript">
        var wwwUrl = '$!{wwwHostAndPort}';
        var userUrl = '$!{userHostAndPort}';
    </script>
     <!-- 脚本 -->
    <script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}"></script>
    <script src="/js/publish.js?v=$!{jscss_version}"></script>
    <script type="text/javascript" src="/js/pager.js?v=$!{jscss_version}"></script>
    <script src="/js/dragDrop.js?v=$!{jscss_version}"></script>
    <script src="/js/dialog/dialog.js?v=$!{jscss_version}"></script>
    <script src="/js/jquery.json-2.2.js?v=$!{jscss_version}"></script>
    <script src="/js/public/My97DatePicker/WdatePicker.js?v=$!{jscss_version}"></script>
	<script src="/js/jquery.validate.min.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/validate-methods.js?v=$!{jscss_version}" type="text/javascript"></script>	
	<script src="/js/messages_zh.js?v=$!{jscss_version}" type="text/javascript"></script>	
	<script src="/js/pop_div.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/ajaxupload.3.6.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/public/public.js?v=$!{jscss_version}"></script>
	<script src="/js/search.js?v=$!{jscss_version}" type="text/javascript"></script>
	#parse("common/common_script.vm")
 	<script type="text/javascript">
	 	function loadPic(){
			for(var i=1;i<=10;i++){
				uploadPic(i);
			}
			uploadPic(13);
			/*
			*加载页面的时候
			*企业类型是医院和诊所(必填资质)和企业类型是医院和诊所(非必填资质)
			*隐藏
			*/
			$("#box1").show();
			$("#box2").show();
			$("#box3").show();
			$("#box4").show();
			$("#box5").show();
			$("#box6").show();
			$("#box7").show();
			$("#box8").show();
			$("#box9").show();
			$("#box10").show();
		}
	 	
	 	//省市区级联
		$(function(){
			$("#eProvince").change(function(){
				var provinceId = $(this).val();
				var townId = findLocation($("#eCity"),"",provinceId);
// 				findLocation($("#eRegion"),"",townId);
// 				var _townId = findLocation($("#eCity"),"","");
				findLocation($("#eRegion"),"","");
				
				$("#eCity").val("");
				$("#eRegion").val("");
				loadSltitem();
			});
			$("#eCity").change(function(){
				var provinceId = $(this).val();
				findLocation($("#eRegion"),"",provinceId);
				
				$("#eRegion").val("");
				loadSltitem();
			});
			$("#eRegion").change(function(){
				loadSltitem();
			});
			loadLocation();
			
			//验证
			$("#form").validate({
	            submitHandler: add, //如果验证通过的回调函数
	            ignore: ":hidden",//不验证的元素
	            rules: {
		            	eLicenseNo: {
		                    required: true,
		                    minlength:15,
		                    maxlength: 50,
		               		remote: {
		                        type: "post",
		                        url: "/purchase/account/enterprise_certified_checkELicenseNo.html",
		                        data: {
		                        	eLicenseNo: function() {
		                                return $("#eLicenseNo").val();
		                            }
		                        },
		                        dataType: "json",
		                        dataFilter: function(dataXML) {
		                        	var result = dataXML;
		                            if (result=="true")
		                                return false;
		                            else
		                                return true;
		                        }
		                    }
		            	},
		            	eName: {
		                    required: true
		            	},
		            	eContactor:{
		            		required: true
		            	},
		            	eMobile:{
		            		required: true,
		            		isMobile: true
		            	},
		            	eAddress:{
		            		required: true
		            	},
		            	epNo1:{
		            		required: true
		            	},
		            	epStartTime1:{
		            		required: true
		            	},
// 		            	epEndTime1:{
// 		            		required: true
// 		            	},
		            	epNo2:{
		            		required: false
		            	},
		            	epStartTime2:{
		            		required: false
		            	},
		            	epEndTime2:{
		            		required: false
		            	},
		            	epNo3:{
		            		required: false
		            	},
		            	epStartTime3:{
		            		required: false
		            	},
		            	epEndTime3:{
		            		required: false
		            	},
		            	epNo13:{
		            		required: false
		            	},
		            	epStartTime13:{
		            		required: false
		            	},
		            	epEndTime13:{
		            		required: false
		            	}
	                },
	            messages: {
	            	eLicenseNo:{
	            		remote: "该工商注册号已认证，请联系客服：400-060-3351"
	            	}
	            },
               errorPlacement: function(error, element) {
                   error.appendTo(element.parent());
               },
               errorElement:"em"
	        });
			
			$("#notReqInfoBtn").click(function(){
				if($(this).attr("isHidden") == undefined  || $(this).attr("isHidden") == "1"){
					$(this).attr("isHidden","0");
					$("#notReqInfoBtnInfo").hide();	
					$(this).find("a").removeClass("btn_open_up").addClass("btn_pack_up");
				}else{
					$(this).attr("isHidden","1");
					$("#notReqInfoBtnInfo").show();
					$(this).find("a").addClass("btn_open_up").removeClass("btn_pack_up");
				}
			});
			
			$("#reqInfoBtn").click(function(){
				if($(this).attr("isHidden") == undefined  || $(this).attr("isHidden") == "1"){
					$(this).attr("isHidden","0");
					$("#reqInfoBtnInfo").hide();	
					$(this).find("a").removeClass("btn_open_up").addClass("btn_pack_up");
				}else{
					$(this).attr("isHidden","1");
					$("#reqInfoBtnInfo").show();
					$(this).find("a").addClass("btn_open_up").removeClass("btn_pack_up");
				}
			});
			
		});
	 	
		//省市区加载
		function loadLocation(provinceId,townId,areaId){
			if(provinceId){
				findLocation($("#eProvince"),provinceId,0);
				if(townId != ""){
					findLocation($("#eCity"),townId,provinceId);
					if(areaId != ""){
						findLocation($("#eRegion"),areaId,townId);
					}
				}
			}else{
				var _provinceId = findLocation($("#eProvince"),"",0);
// 				var _townId = findLocation($("#eCity"),"",_provinceId);
// 				findLocation($("#eRegion"),"",_townId);
				var _townId = findLocation($("#eCity"),"","");
				findLocation($("#eRegion"),"","");
			}
			loadSltitem();
		}
		
		//object:加载对象    value:默认值  lpId:上级id
		function findLocation(object,value,lpId){
			var id = 0;
			$.ajax({
                url: '/location/provincialCity',
                data: {lpid: lpId},
                type:"post",
                async:false,
                success: function(data) {
					var location = data.data;
					if(location!=''){  
                        var jObject = $(object).siblings("ul");  
                        jObject.prev().text("");
                        jObject.empty();//清除select中的 option  
                        $.each(location,function(index,item){  
                        	if(index ==0 ){
                        		id = item.lid;
                        		if(!value){
                        			jObject.prev().text("请选择").removeClass("on");
                        		}
                        	}
                        	if(value == item.lid){
                        		jObject.prev().text(item.lname).removeClass("on");
                        		jObject.next().val(item.lid);
                        	}
                            var opt ='<li data-value="'+item.lid+'"><a href="javascript:;">'+item.lname+'</a></li>'; 
                            jObject.append(opt);  
                        });  
                    }else{  
                    	location = '';  
                    	 var jObject = $(object).siblings("ul");  
                         jObject.prev().text("");
                         jObject.empty();//清除select中的 option  
                         jObject.prev().text("请选择").removeClass("on");
                    }
                }
            });
			return id;
		}
		
		//下拉框点击事件
		function loadSltitem(){
			$(".sltitem").unbind("click");
		    //自定义下拉框
			$(".sltitem").click(function(e){
				e.stopPropagation();
				var len = $(this).find('li').length;
				$(this).find("span").addClass("on");
				if(len > 6){
					$(this).find("ul").css('height','120px').show();
				}else{
					$(this).find("ul").show();
				}		
			});
		    
			$(".sltitem li").unbind("click");
			$(".sltitem li").click(function(e){
				e.stopPropagation();
				var text = $(this).text();
				var value = $(this).data("value");
				$(this).closest("ul").prev().text(text).removeClass("on");
				$(this).closest("ul").next().val(value).change();
				$(this).closest("ul").hide();
			});
		}
	 	
	 	
	 	function uploadPic(picId){
			   var uploadPic = $("#uploadPic"+picId);
		        new AjaxUpload(uploadPic,{
		            action: "/cdn/imageInfo_upload.html?type=1&parse=1&pcId="+picId,
		            name: 'file_path',
					id:'RockyForTest'+picId,
		            responseType:"json",
		            onSubmit : function(file, ext){
		            	if (ext && /^(jpg|gif|png|jpeg)$/.test(ext)) {
		                    ext_str = ext;
		                } else {
		                	top.ue.msg("非图片文件格式,请重传！");
		                    return false;
		                }
		                $.showLoad();
		            },
		            onComplete: function(file, result){
		            	$.hideLoad();
		            	if (result.success == false) {
		            		if(result.message == "outofsize"){
                                top.ue.msg("文件过大，无法上传！");
		            		}else if(result.message == "error"){
		            			top.ue.msg("文件过大，无法上传！");
		            		}
		            		return false;
		            		
		            	}else{
		            		$("#saImgPath"+picId).val(result.data.id);//response返回的是mogoDB记录id
// 		                	$('#showPic'+picId).attr("src",result.data.picUrl+result.data.id+result.data.picSize);
		                	$('#showPic'+picId).attr("src",result.data.picUrl.replace("&amp;","&"));
		                	$("#bucket_key"+picId).val(result.data.id);
		                	if($("#epNo"+picId).val()==''||$("#epNo"+picId).val()=='undefind'){
		                		$("#epNo"+picId).val(result.data.cerNo);
		                	}
		                	if($("#epStartTime"+picId).val()==''||$("#epStartTime"+picId).val()=='undefind'){
		                		$("#epStartTime"+picId).val(result.data.startTime);
		                	}
		                	if($("#epEndTime"+picId).val()==''||$("#epEndTime"+picId).val()=='undefind'){
		                		$("#epEndTime"+picId).val(result.data.endTime);
		                	}
		                	$("#imageInfo"+picId).val($.toJSON(result.data.imageInfo));
		            	}
		                $.hideLoad();
		            }
		        });
		   }
	 	function toAdd(){
    	    $('#form').submit();
	 	}
	 	
	 	
	 	//添加
	 	function add(){
	 		//检验省  市  区  必填
	 		var eProvince = $("#eProvince").val();
	 		var eCity = $("#eCity").val();
	 		if(eProvince == ""){
	 			top.ue.msg("请选择所属省");
				return false;
	 		}
	 		if(eCity == ""){
	 			top.ue.msg("请选择所属市");
				return false;
	 		}
	 		
	 		
	 		//判断企业类型进行remove元素
	 		var eType=$("#selectEType").val();
	 		
	 		//8-身份证和9-法人授权委托书两者必填其一
	 		var saImgPath8=$("#saImgPath8").val();
	 		var saImgPath9=$("#saImgPath9").val();
	 		/*if(saImgPath8 == "" && saImgPath9 == ""){
	 			dialog({
                    title: "提示信息",
                    content: "身份证和法人授权委托书两者必填其一！",
                    width: 300
                });
				return;
	 		}*/
	 		//企业类型非医院和诊所(必填资质)和企业类型非医院和诊所(非必填资质)
	 		if(eType==1 || eType==2 || eType==3 || eType==4 || eType==5){
	 			//验证必填的图片是否上传
	 			var saImgPath1=$("#saImgPath1").val();
	 			var saImgPath2=$("#saImgPath2").val();
	 			var saImgPath3=$("#saImgPath3").val();
// 	 			var saImgPath8=$("#saImgPath8").val();
	 			if(saImgPath1=="" || saImgPath2=="" || saImgPath3==""){
	 				top.ue.msg("必填资质图片必须上传！");
	 				return;
	 			}
	 			$("div").remove("#box13");
	 		}
	 		//企业类型是医院和诊所(必填资质)和企业类型非医院和诊所(非必填资质)
	 		if(eType==6 || eType==7){
// 	 			var saImgPath1=$("#saImgPath1").val();如果是医院或者诊所企业营业执照非必填
// 	 			var saImgPath8=$("#saImgPath8").val();
	 			var saImgPath13=$("#saImgPath13").val();
	 			if(saImgPath13==""){
	 				top.ue.msg("必填资质图片必须上传！");
	 				return;
	 			}
	 			$("div").remove("#box2");
	 			$("div").remove("#box3");
	 			$("div").remove("#box6");
	 			$("div").remove("#box7");
	 		}
	 		
    	        		$.showLoad();
    	     		   //获得企业资质的全部信息
    	     		   var registerEnterpriseWrapper=$("#form").serializeJson();
    	     		   registerEnterpriseWrapper=$.toJSON(registerEnterpriseWrapper);
    	     		   $.ajax({
    	     			    type: 'post',
    	     			    url: '/purchase/account/enterprise_certified_add.html',
    	     			    data: {
    	     			    		"registerEnterpriseWrapper":registerEnterpriseWrapper,
    	     			    		"bizenterprise":registerEnterpriseWrapper
    	     			    	},
    	     			    dataType: 'json',
    	     			    success: function(data) {
    	     			    	if (data) {
    	     		                  top.ue.alert({
    	     			                title: '提示信息',
    	     			                content: "保存成功！",
    	     			                end: function() {
    	     			                    location = "/purchase/account/enterprise_certified.html";
    	     			                }
    	     			            })
    	     		               } else {
    	     		                   top.ue.msg("保存企业认证失败！");
    	     		             }
    	     			    }
    	     			});
	 		
	   }
	 	//企业类型切换来变幻企业的资质
	 	function changeEType(){
	 		var eType=$("#selectEType").val();
	 		if(eType == 6 || eType==7){// 医院和诊所
	 			var str = $("#eLicenseNo-error").html();
	 			if(str == "最少 15 个字"){
	 				$("#eLicenseNo-error").remove();
	 				$("#eLicenseNo").removeClass("error");
	 			}
	 			
	 			$("#box1").find("em").each(function(i){
	 				$(this).remove();
	 			});
	 			
	 			$("#eLicenseNo").rules("remove");  
	 			$("#eLicenseNo").rules("add", {  
	 				required: true,
                    maxlength: 50,
               		remote: {
                        type: "post",
                        url: "/purchase/account/enterprise_certified_checkELicenseNo.html",
                        data: {
                        	eLicenseNo: function() {
                                return $("#eLicenseNo").val();
                            }
                        },
                        dataType: "json",
                        dataFilter: function(dataXML) {
                        	var result = dataXML;
                        	//初始的工商注册号
                        	var initELicenseNo=$("#initELicenseNo").val();
                        	//修改的工商注册号
                        	var eLicenseNo=$("#eLicenseNo").val();
                        	if(initELicenseNo==eLicenseNo){
                        		return true;
                        	}else{
                        		if (result=="true")
	                                return false;
	                            else
	                                return true;
                        	}
                        }
                    },
                    messages : {  
                    	remote : "该工商注册号已认证，请联系客服：400-060-3351"  
                    }  
	            }); 
	 			
	 			$("#eLicenseNoShow").css("display","inline");
	 		}else{
	 			$("#eLicenseNoShow").css("display","none");
				$("#eLicenseNo").rules("remove");  
	 			$("#eLicenseNo").rules("add", {  
	 				required: true,
	 				minlength:15,
                    maxlength: 50,
               		remote: {
                        type: "post",
                        url: "/purchase/account/enterprise_certified_checkELicenseNo.html",
                        data: {
                        	eLicenseNo: function() {
                                return $("#eLicenseNo").val();
                            }
                        },
                        dataType: "json",
                        dataFilter: function(dataXML) {
                        	var result = dataXML;
                        	//初始的工商注册号
                        	var initELicenseNo=$("#initELicenseNo").val();
                        	//修改的工商注册号
                        	var eLicenseNo=$("#eLicenseNo").val();
                        	if(initELicenseNo==eLicenseNo){
                        		return true;
                        	}else{
                        		if (result=="true")
	                                return false;
	                            else
	                                return true;
                        	}
                        }
                    },
                    messages : {  
                    	remote : "该工商注册号已认证，请联系客服：400-060-3351"  
                    }  
	            }); 
	 		}
	 		//显示企业类型非医院和诊所(必填资质)和企业类型非医院和诊所(非必填资质)
	 		if(eType==1 || eType==2 || eType==3 || eType==4 || eType==5){
	 			$("#box1").show();
	 			$("#box2").show();
	 			$("#box3").show();
	 			$("#box8").show();
	 			$("#box4").show();
	 			$("#box5").show();
	 			$("#box6").show();
	 			$("#box7").show();
	 			$("#box9").show();
	 			$("#box10").show();
	 			$("#box13").hide();
	 		}
	 		//显示企业类型是医院和诊所(必填资质)和企业类型非医院和诊所(非必填资质)
	 		if(eType==6 || eType==7){
	 			$("#box1").show();
	 			$("#box8").show();
	 			$("#box13").show();
	 			$("#box4").show();
	 			$("#box5").show();
	 			$("#box9").show();
	 			$("#box2").hide();
	 			$("#box3").hide();
	 			$("#box6").hide();
	 			$("#box7").hide();
	 			$("#box10").hide();
	 		}
	 		
	 		//医院和诊所时 企业营业执照必填 其他类型为非必填
	 		if(eType==6 || eType==7){
	 			$("#box1").find("h5").find("i").remove();
	 		}
	 		if(eType==1 || eType==2 || eType==3 || eType==4 || eType==5){
	 			$("#box1").find("h5").find("i").remove();
	 			$("#box1").find("h5").html("企业营业执照<i>(必填项)</i>：");
	 		}
	 		if(eType==6 || eType==7){
	 			$("#epNo1").rules("remove"); 
	 			$("#epStartTime1").rules("remove"); 
	 			$("#epEndTime1").rules("remove"); 
	 		}
	 		if(eType==1 || eType==2 || eType==3 || eType==4 || eType==5){
	 			$("#epNo1").rules("remove"); 
	 			$("#epStartTime1").rules("remove"); 
	 			$("#epEndTime1").rules("remove"); 
	 			$("#epNo1").rules("add", {  
	 				required: false,
	            }); 
	 			$("#epStartTime1").rules("add", {  
	 				required: false,
	            }); 
	 			$("#epEndTime1").rules("add", {  
	 				required: false,
	            }); 
	 		}
	 		
	 		//医院和诊所时 企业营业执照  如为盈利性机构，请上传营业执照
	 		if(eType==6 || eType==7){
	 			$("#typeShow").css("display","block");
	 		}
	 		if(eType==1 || eType==2 || eType==3 || eType==4 || eType==5){
	 			$("#typeShow").css("display","none");
	 		}
	 	}
	 	//查看范例图片
		function showImage(img) {
				var imgUrl ="/image/zizhi/img"+img+".jpg";
				var content = '<img src="'+imgUrl+'" height="400px;" width="750px;"/>';
				top.utils.showImg(imgUrl);
		}
	 	
	 	function submitForm(){
	 		$('#form').submit();
	 	}
 	</script>
	 <!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
      <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
      <script type="text/javascript">
	    DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
	</head>
  <body onload="loadPic()">
    <div class="container">
      #parse("common/header_top.vm")
      #parse("common/header.vm")
      <div class="content">
        <div class="wrap cc">
          #parse("common/left_menu_purchase.vm")
          <div class="user_right fl">
            <!-- 用户中心_主体内容_S -->
            <div class="indmain">
            	<div class="path">
                    <p class="fl"><a href="/purchase/index.html" class="color">采购中心</a> &gt; 账户中心 &gt; 企业认证</p>
                    <div class="prompt fl">您必须完成企业认证后才能进行其他操作！如有疑问请您致电400-060-3351。</div>
                </div>
                <div class="kh_process">
                  <ul>
                      <li class="process-list"></li>
                      <li class="process-list"></li>
                      <li class="process-list"></li>
                  </ul>
                  <ul class="process-box">
                      <li class="process-txt for-cur">
                      	<em>填写认证信息</em>
                      	<em  class="ico-pic">1</em>
                      </li>
                      <li class="process-txt">
                      	<em>等待管理员审核</em>
                        <em class="ico-pic">2</em>
                      </li>
                      <li class="process-txt">
                      	<em>查看审查结果</em>
                      	<em class="ico-pic">3</em>
                      </li>
                  </ul>
                </div>
                <div class="path_authenticate project_box">
                    <span class="caption">企业基本信息</span>           
                </div>
                <form method="post" id="form">
<!--                 <input type="hidden" name="eStatus" value="0"/> -->
				<!-- 保存的同时即为待审核状态 -->
                <input type="hidden" name="eStatus" value="2"/>
                <input type="hidden" name="eUpdated" value="0"/>
                <input type="hidden" name="appId" value="5"/>
                <dl class="path_hide">
                <dd>
                     <div class="order_query order member" style="position:relative;">
                        <img  src="/image/app_audit.jpg" style="width:30%;position:absolute; right:-30px; top: 5%;z-index: -1" />
                        <ul>
                        	<li class="one">
                                <label class="left">企业类型<i>*</i>：</label>
                                <div class="sltitem w348" id="cate">
                                    <select id="selectEType" name="eType" style="height: 32px;width: 348px;font-family: '微软雅黑';line-height: 28px;" onchange="changeEType();">
                                    	<option value="1">单体药房</option>
                                    	<option value="2">连锁药店总店</option>
                                    	<option value="3">连锁药店分店（直营店）</option>
                                    	<option value="4">连锁加盟店</option>
                                    	<option value="6">医院</option>
                                    	<option value="7">诊所</option>
                                    </select>
                                </div>
                            </li>
                            <li class="one">
                                <label class="left">营业执照注册号<i>*</i>：</label>
                                <input id="eLicenseNo" name="eLicenseNo" type="text" class="w-txt">
                            </li>
                            <div id="eLicenseNoShow" style="display: none; float: left; padding-left: 155px; color:red;">可填医疗机构执业许可证号</div>
                            <li class="one">
                                <label class="left">企业名称<i>*</i>：</label>
                                <input name="eName" id="eName" type="text" class="w-txt">
                            </li>
                            <li class="one">
                                <label class="left">联系人<i>*</i>：</label>
                                <input name="eContactor" id="eContactor" type="text" class="w-txt">
                            </li>
                            <li class="one">
                                <label class="left">联系电话<i>*</i>：</label>
                                <input name="eMobile" id="eMobile" type="text" class="w-txt">
                            </li>
                            <li class="one">
                                <label class="left">所属区域<i>*</i>：</label>
                                <div class="sltitem sltitem_area">
                                    <span class="">请选择</span>
                                    <ul>
<!--                                         <li data-value="0"><a href="javascript:;"></a></li> -->
                                    </ul>
                                    <input name="eProvince" id="eProvince" type="hidden">
                                </div>
                                <div class="sltitem sltitem_area">
                                    <span class="">请选择</span>
                                    <ul>
<!--                                         <li data-value="0"><a href="javascript:;"></a></li> -->
                                    </ul>
                                    <input name="eCity" id="eCity" type="hidden">
                                </div>
                                <div class="sltitem sltitem_area" >
                                    <span class="">请选择</span>
                                    <ul>
<!--                                        <li data-value="0"><a href="javascript:;"></a></li> -->
                                    </ul>
                                    <input name="eRegion" id="eRegion" type="hidden">
                                </div>
                            </li>
                            <li class="one">
                                <label class="left">详细街道<i>*</i>：</label>
                                <input name="eAddress" id="eAddress" type="text" class="w-txt">
                            </li>
                            <div style="color:red; padding-left: 155px; float: left;">请保持与GSP证书地址一致</div>
                        </ul>
                    <!--上传图片-->
                    <div class="image-upload-box">
                    	<div class="project_box mt10" id="reqInfoBtn">
                        	<span class="caption">资质信息</span>
                            <a href="javascript:;" class="btn_pack_up"></a>
                        </div>
                        <div id="reqInfoBtnInfo">
                        	#foreach($picNotNull in $bizEnterprisePicList)
	                        <div class="box" style="display: none;" id="box$!{picNotNull.epType}">
	                            <div class="cc">
	                                <div class="img-box">
	                                	#if($!{picNotNull.epType}==1 || $!{picNotNull.epType}==2 || $!{picNotNull.epType}==3 || $!{picNotNull.epType}==13)
	                                    	<h5>$!{picNotNull.epName}<i>(必填项)</i>：</h5>
	                                    #else
	                                    	<h5>$!{picNotNull.epName}：</h5>
	                                    #end
	                                    <input type="hidden" value="$!{picNotNull.epType}" name="epType$!{picNotNull.epType}"/>
	                                    <div class="img-file" id="uploadPic$!{picNotNull.epType}">
			                                       <img id="showPic$!{picNotNull.epType}" height="139px;" width="139px;"/>
			                                       <input type="hidden" id="saImgPath$!{picNotNull.epType}" name="epPic$!{picNotNull.epType}">
			                                       <input type="hidden" id="bucket_key$!{picNotNull.epType}" name="bucket_key$!{picNotNull.epType}">
		                                           <input type="hidden" id="imageInfo$!{picNotNull.epType}" name="imageInfo$!{picNotNull.epType}">
			                            </div>
	                                </div>
	                                <div class="form-group">
	                                	<div>
	                                    	<a href="javascript:showImage($!{picNotNull.epType});"><i></i>查看范例</a>
	                                    </div>
	                                    #if($!{picNotNull.epType}!=8 && $!{picNotNull.epType}!=9&& $!{picNotNull.epType}!=10)
		                                    <label>证照号码：</label>
		                                    <div class="control-item">
		                                        <input type="text" class="form-control" placeholder="" id="epNo$!{picNotNull.epType}" name="epNo$!{picNotNull.epType}">
		                                    </div>
		                                    <label>证件有效期：</label>
		                                    <div class="control-item">
		                                        <input type="text" id="epStartTime$!{picNotNull.epType}" name="epStartTime$!{picNotNull.epType}"  class="form-control" placeholder="" onfocus="WdatePicker({skin : 'whyGreen', dateFmt : 'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'epEndTime$!{picNotNull.epType}\')}'})">
		                                    </div>
		                                    <label>至</label>
		                                    <div class="control-item">
		                                        <input type="text" id="epEndTime$!{picNotNull.epType}" name="epEndTime$!{picNotNull.epType}" class="form-control" placeholder="" onfocus="WdatePicker({skin : 'whyGreen', dateFmt : 'yyyy-MM-dd', minDate:'#F{$dp.$D(\'epStartTime$!{picNotNull.epType}\')}',maxDate:'2099-12-31'})">
		                                    </div>
	                                    #end
	                                </div>
	                                <div class="ctn-box" id="typeShow" style="display:none;">如为盈利性机构，请上传营业执照</div>
	                            </div>
	                             #if($!{picNotNull.epType}==4 || $!{picNotNull.epType}==5)
	                            <span style="color: red;">非三证合一,此项为必填</span>
	                            #end
	                            

	                            
	                            #if($!{picNotNull.epType} == 1)
	                                <div class="info-box">
	                                                                                                注意事项：<br/>
 									1.企业名称需要与营业执照名称保持一致<br/>
 									2.三证合一的企业请在证照号码处填写“全国统一社会信用代码”<br/>
 									3.证照起止日期为必填，若为长期终止时间可不填                                                     
	                                </div>
	                                #elseif($!{picNotNull.epType} == 2)
	                                <div class="info-box">
	                               	注意事项：<br/>
 									1.证号必须清晰可见<br/>
 									2.仓库地址默认为收货地址<br/>
 									3.有效期务必清晰可见并在有效期内
 									</div>
	                                #elseif($!{picNotNull.epType} == 3)
	                                <div class="info-box">
	                                                                                                注意事项：<br/>
 									1.认证地址务必保持与收货地址一致<br/>
 									2.有效期必须清晰可见并且必须在有效期内
 									</div>
	                                #elseif($!{picNotNull.epType} == 9)
	                                <div class="info-box">
	                                                                                                注意事项：<br/>
 									1.受委托人的姓名与身份证号须清晰可见<br/>
 									2.需注明授权有效期<br/>
 									3.需法定代表人签字盖章
 									</div>
	                                #elseif($!{picNotNull.epType} == 8)
	                                <div class="info-box">
	                             	注意事项：<br/>
 								    1.身份证需包含正反两面<br/>
									2.身份证须在有效期内
									</div>
	                            #end
	                        </div>
	                        #end
                        </div>
                    </div>
                    <div class="btn tac"><a href="javascript:void(0);"  onclick="toAdd();">保存并提交认证</a></div>
                </div>
                </dd>
                </dl>
                </form>
            </div>
            <!-- 用户中心_主体内容_E -->
          </div>
        </div>
      </div>
    </div>
   #parse("/common/footer.vm")
  </body>
</html>