<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console-log" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[[%l %d{HH:mm:ss SSS\} %-5p] %m%n" />
		</layout>
	</appender>
	<appender name="file-log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${prop.log.dir}/gp-pay-service.log" />
		<param name="Encoding" value="UTF-8" />
		<param name="append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[[%l %d{MM-dd HH:mm:ss SSS} %-5p] %m%n" />
		</layout>
	</appender>
	
	<!-- logstash -->
	<appender name="logstash-log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${prop.log.dir}/logstash.log" />
		<param name="Encoding" value="UTF-8" />
		<param name="append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="net.logstash.log4j.JSONEventLayoutV1" />
	</appender>
		
	<logger name="com.alibaba" additivity="false"> 
         <level value="${prop.log.rogrand-level}"></level>
		 <appender-ref ref="${prop.log.rogrand-appender}"/>
		 <appender-ref ref="${prop.log.logstash-appender}"/>
	</logger>
	
	<logger name="com.mph" additivity="false"> 
         <level value="${prop.log.rogrand-level}"></level>
		 <appender-ref ref="${prop.log.rogrand-appender}"/>
		 <appender-ref ref="${prop.log.logstash-appender}"/>
	</logger>

    <logger name="java.sql" additivity="false">
         <level value="${prop.log.rogrand-level}"></level>
		 <appender-ref ref="${prop.log.rogrand-appender}"/>
		 <appender-ref ref="${prop.log.logstash-appender}"/>
    </logger>
    
	<root>
		<level value="${prop.log.root-level}" />
		<appender-ref ref="${prop.log.rogrand-appender}"/>
		<appender-ref ref="${prop.log.logstash-appender}"/>
	</root>
</log4j:configuration>