<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的医药网 - 在线支付</title>
    <link rel="stylesheet" type="text/css" href="/css/load.css?v=$!{jscss_version}" />
    <script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/jquery.json-2.2.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    #parse("common/common_script.vm")
    <script type="text/javascript">
    $(function(){
    	// 打开遮盖层“正在操作，请稍后...”
    	$.showLoad();
    	
    	$("#payForm").submit();
    })
       
       
    </script>
</head>
  <body>
    
  
  <form method="post" id="payForm" name="payForm" action="$serviceResult.getResult().getFormActionUrl()">
  	#foreach($key in $serviceResult.getResult().form.keySet())  
	<input type="hidden" name="$key" value="$serviceResult.getResult().form.get($key)" /> 
	#end 
  </form>
  
  </body>
</html>