<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的医药网 - 支付交易</title>
    
    <!-- mypharma_公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    
    <!-- mypharma_样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/load.css?v=$!{jscss_version}" />
    <!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
      <script type="text/javascript" src="scripts/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
      <script type="text/javascript">
	    DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
    
  </head>

  <body>
    <div class="container">
       #parse("common/header_top.vm")
       #parse("common/header.vm")
       <div class="content">
        <div class="wrap cc">
			#parse("common/left_menu_purchase.vm")
          <div class="user_right fl">
            <!-- 用户中心_主体内容_S -->
            <div class="indmain">
                <div class="path">
                    <p><a href="/purchase/index.html" class="color">采购中心</a>&gt; 交易管理 &gt; 已买到的药品</p>
                </div>                   
						
                <div class="order_detail yh">        
                    <div class="table">
                        <table cellpadding="0" cellspacing="0">
                            <thead class="head">
                                <tr class="line">
                                    <th>交易流水号</th>
                                    <th>名称</th>
                                    <th>描述</th>
                                    <th>金额</th>
                                    <th>费用</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
							#if(!$null.isNull($payTransactions) && $payTransactions.size()!=0)
                            #foreach($item in $payTransactions)
                               <tr>
                                    <td>$item.id</td>
                                    <td>$item.title</td>
                                    <td>$item.description</td>
                                    <td>$item.amount</td>
                                    <td>$item.feeAmount</td>
                                    <td>#if($item.notifyStatus==1)
                                    	成功
                                    	#elseif($item.notifyStatus==2)
                                    	失败
                                    	#else
                                    	未交易
                                    	#end
                                    </td>
                                    <td>
                                    <a href="/pay/transaction/$item.id/detail"  class="btn-abox">查看详情</a>
								    </td>
                                </tr>
                                #end
                                #else
				                           <tr>
				                             <td colspan="11">无相关数据！</td>
				                           </tr>
                             #end
						     </tbody>
                         </table>
                      </div>
                </div>
                    <!--待发货-->
                <!--待收货-->
                <!--已完成-->
                </div>
            </div>
            <!-- 用户中心_主体内容_E -->
          </div>
        </div>
      </div>
    </div>
    </div>
    #parse("/common/footer.vm")
  
    <script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/publish.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/pager.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/jquery.json-2.2.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/dialog/dialog.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/ajax.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/public/My97DatePicker/WdatePicker.js?v=$!{jscss_version}" type="text/javascript"></script>
    #parse("common/common_script.vm")
    <script type="text/javascript">
    
    $(function(){
    })

    function cancel(id) {
        top.ue.confirm({
            title: '取消订单',
            content: "您确认要取消此笔订单吗？",
            ok: function () {
                $.showLoad();
                $.ajaxPost("/purchase/order/ddqx.html", {"oId": id}, function (result) {
                    $.hideLoad();
                    if (result != "") {
                        var obj = eval("(" + result + ")");
                        if (1 == obj.data) {
                            window.location.href = "/purchase/order/wddd.html";
                            return false;
                        } else {
                            top.ue.msg("订单状态已经发生改变，请刷新页面");
                            window.location.href = "/purchase/order/wddd.html";
                            return false;
                        }
                    }

                });
            }
        })
    }
        
    function view(id){
    	$("#operForm").attr("target","_self");
    	$("#operForm").append("<input type=hidden name=oId value="+id+" />");
    	$("#operForm").attr("action","/purchase/order/ddxq.html");
    	$("#operForm").submit();
    }
    
    function pay(id){
    	$("#operForm").append("<input type=hidden name=oId value="+id+" />");
    	$("#operForm").attr("target","_blank");
    	$("#operForm").attr("action","/purchase/order/pay.html");
    	$("#operForm").submit();
    }
    
    function backPart(id){
    	$("#operForm").attr("target","_self");
    	$("#operForm").append("<input type=hidden name=oId value="+id+" />");
    	$("#operForm").attr("action","/purchase/order/ddthPart.html");
    	$("#operForm").submit();
    }
    
    function backAll(id){
    	$.showLoad();
    	$.ajaxPost("/order/orderIsCanBack.html", {"oId":id}, function(result) {
    		$.hideLoad();
    		if (result != "") {
    			var obj=eval("("+result+")");
    			if(1 == obj.data){
        			$("#operForm").attr("target","_self");
                	$("#operForm").append("<input type=hidden name=oId value="+id+" />");
                	$("#operForm").attr("action","/purchase/order/ddth.html");
                	$("#operForm").submit();
        		}else{
                    top.ue.msg("订单状态已经发生改变，请刷新页面");
        	    	window.location.href = "/purchase/order/wddd.html";
        			return false;
        		}
    		}
       });
    }
    
    function accept(id){
    	$.showLoad();
    	$.ajaxPost("/order/orderIsCanAccept.html", {"oId":id}, function(result) {
    		$.hideLoad();
    		if (result != "") {
    			var obj=eval("("+result+")");
    			if(1 == obj.data){
    				$("#operForm").attr("target","_self");
    		    	$("#operForm").append("<input type=hidden name=oId value="+id+" />");
    		    	$("#operForm").attr("action","/purchase/order/ddsh.html");
    		    	$("#operForm").submit();
        		}else{
                    top.ue.msg("订单状态已经发生改变，请刷新页面");
        	    	window.location.href = "/purchase/order/wddd.html";
        			return false;
        		}
    		}
       });
    }
    
    function submitForm(i){
    	window.location.href = "/purchase/order/wddd.html?status="+i;
		return false;
    }
    </script>
  </body>
</html>