<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>我的医药网 - 销售中心 - 资质管理</title>
    
    <!-- mypharma_公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="http://special.mypharma.com/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="http://special.mypharma.com/favicon.ico">
    
    <!-- mypharma_样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">

    <link rel="stylesheet" type="text/css" href="/css/new_order.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/new_dialog.css?v=$!{jscss_version}">
    <script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}"></script>
    <script src="/js/publish.js?v=$!{jscss_version}"></script>
    <script type="text/javascript" src="/js/pager.js?v=$!{jscss_version}"></script>
    <script src="/js/dragDrop.js?v=$!{jscss_version}"></script>
    <script src="/js/dialog/dialog.js?v=$!{jscss_version}"></script>
    <script src="/js/jquery.json-2.2.js?v=$!{jscss_version}"></script>
    <script src="/js/public/My97DatePicker/WdatePicker.js?v=$!{jscss_version}"></script>
	<script src="/js/jquery.validate.min.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/validate-methods.js?v=$!{jscss_version}" type="text/javascript"></script>	
	<script src="/js/messages_zh.js?v=$!{jscss_version}" type="text/javascript"></script>	
    <script src="/js/jquery.SuperSlide.js"></script>
   	<script type="text/javascript" src="/js/pager.js?v=$!{jscss_version}"></script>
    <!-- 脚本 -->
	<script src="/js/pop_div.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/ajaxupload.3.6.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/public/public.js?v=$!{jscss_version}"></script>
    <script src="/h5/res/layer2/layer.js?v=$!{jscss_version}"></script>
    <script src="/js/ajax.js?v=$!{jscss_version}" type="text/javascript"></script>
    
    #parse("common/common_script.vm")
	<script type="text/javascript">
    	$(function(){
    		$(".btn").each(function(){
    			$(this).on("click",function(){
					var _eid = $(this).attr("data-edit");
                    if(_eid){
						$("#"+_eid).trigger("click");
					}
				})
    		})
    	})
    
		var picSign=0;	
		function loadPic(){
			var eStatus="$!{bizEnterprise.eStatus}";
			var userType="$!{userinfos.userType}";
			//商业资质（不区分是否认证状态下必填资质不能修改，改为所有资质均可以修改）
			if(userType==2){
				for(var i=1;i<=11;i++){
	    			uploadPic(i);
	    		}
				for(var i=14;i<=17;i++){
	    			uploadPic(i);
	    		}
	    		for(var i=19;i<=22;i++){
	    			uploadPic(i);
	    		}
			}
			//工业资质（不区分是否认证状态下必填资质不能修改，改为所有资质均可以修改）
			if(userType==3){
				for(var i=1;i<=2;i++){
	    			uploadPic(i);
	    		}
	    		for(var i=4;i<=12;i++){
	    			uploadPic(i);
	    		}
	    		for(var i=14;i<=17;i++){
	    			uploadPic(i);
	    		}
	    		for(var i=19;i<=22;i++){
	    			uploadPic(i);
	    		}
	    		uploadPic(31);
			}
			
			
		}
		
	   function uploadPic(picId){
		   var uploadPic = $("#uploadPic"+picId);
		   
		   if(!uploadPic.length) return false;
	        new AjaxUpload(uploadPic,{
	            action: "/cdn/imageInfo_upload.html?type=1&pcId="+picId,
	            name: 'file_path',
	            id:"uploadInput"+picId,
	            responseType:"json",
	            init:function(prop){
	            	if(!$("#showPic"+picId).hasClass("hasNoImg")){
	            		$("#uploadInput"+picId).height(0);
	            		$("#showPic"+picId).on("click",function(){
	            			var url = $(this).attr("src");
	            			if(url) window.open(url);
							else layer.msg("图片地址不正确，无法预览");
	            		})
	            	}else{
	            		$("#uploadInput"+picId).height("118px");
	            	}
	            },
	            onSubmit : function(file, ext){
	            	if (ext && /^(jpg|gif|png|jpeg)$/.test(ext)) {
	                    ext_str = ext;
	                } else {
	                	dialog({
		                       title: "提示信息",
		                       content: "非图片文件格式,请重传！",
		                       width: 300
		                   });
	                    return false;
	                }
	                showLoading($("#uploadPic"+picId),1);
	            },
	            onComplete: function(file, result){
	            	if (result.success == false) {
	            		if(result.message == "outofsize"){
	            			dialog({
	 	                       title: "提示信息",
	 	                       content: "文件过大，无法上传！",
	 	                       width: 300
	 	                    });
	            		}else if(result.message == "error"){
	            			dialog({
	 	                       title: "提示信息",
	 	                       content: "文件过大，无法上传！",
	 	                       width: 300
	 	                    });
	            		}
                        showLoading("#uploadPic"+picId,0);
	            		return false;
	            		
	            	}else{
	            		if(picId==1 || picId==2 || picId==3 || picId==8 || picId==11 || picId==12 || picId==14 || picId==15
	            		   || picId==16 || picId==17 || picId==19 || picId==20){
	            			picSign=1;
	            		}
	            		$("#saImgPath"+picId).val(result.data.id);//response返回的是mogoDB记录id
	                	$('#showPic'+picId).attr("src",result.data.picUrl.replace("&amp;","&")).on("load",function () {
                            showLoading("#uploadPic"+picId,0);
                        });
	                	$("#bucket_key"+picId).val(result.data.id);
	                	$("#editPic"+picId).attr("class", "btn"); 
	                	$("#imageInfo"+picId).val($.toJSON(result.data.imageInfo));
						/*setTimeout(function () {
                            showLoading("#uploadPic"+picId,0);
                        },3000)*/
	            	}
	            }
	        });
	   }
	   
		//查看范例图片
		function showImage(img) {
				var imgUrl ="/image/zizhi/img"+img+".jpg";
				var content = '<img src="'+imgUrl+'" height="400px;" width="750px;"/>';
            top.utils.showImg(imgUrl);
		}

		function showLoading(pDom,show) {
			if(!show){
                $(pDom).find("img.img-loading").remove();
                $(pDom).find("img").css("opacity","1");
				return false;
			}
			if(!$(pDom).find("img.img-loading").length){
                $(pDom).find("img").css("opacity","0.1");
				var _img = new Image();
                _img.className = "img-loading";
				_img.src = "/image/icon_user_loading.gif";
				$(pDom).append($(_img));
			}
        }

	</script>
    
  </head>
  <body onload="loadPic()">
    <div class="container">
       #parse("common/header_top.vm")
       #parse("common/header.vm")
      <div class="content">
        <div class="wrap cc">
        #parse("common/left_menu_sales.vm")
          <div class="user_right fl">
              <!-- 用户中心_主体内容_S -->
              <div class="c-box">
                  <div class="user-path"><a href="/sales/index.html" class="color">销售中心</a> &gt; 资质中心 &gt;<i class="up-h">资质管理</i></div>
                  <div class="user-notice">
                      <div class="user-qyzz-tabs tab-hd">
                          <ul class="uqt-nav tab-nav">
                              		<li><a href="javascript:;">企业资质</a></li>
                               #if($!{link}=="yes")
                              		<li class="on"><a href="javascript:;">下载客户资质</a></li>
                               #else
                                    <li><a href="javascript:;">下载客户资质</a></li>
                               #end
                          </ul>
                      </div>
                      <div class="tab-bd">
                          <div class="tab-pal">
                              <div class="user-qyzz-ctn">
                                  <div class="uqc-tips mt10"><span class="h">上传后方便合作客户快速下载。</span> 已上传 <span class="h">$!{finishCount}</span> /$!{picCount}</div>
                                  <div class="uqc-ctn mt10">
                                      <div class="uqc-upload">
                                          <div class="u-head cc">
                                              <h3 class="h-title">必填项目</h3>
                                              <div class="h-tips">上传或者修改带有“*”必填项目标识的资质后需要重新进行企业资质审核，审核过程中不影响任何功能操作。</div>
                                              <a href="javascript:;" class="btn-open-up"></a>
                                          </div>
                                          <div class="u-list">
                                              <ul class="u-wrap cc">
				                                #if($!{userinfos.userType}==2)
						                        #foreach($picNotNull in $bizEnterprisePicsNotNull)
						                        <!-- 商业必填的资质没有GMP证书 -->
						                        #if($!{picNotNull.epType}!=12)
                                                  <li class="u-item">
                                                      <div class="u-i-title"><i class="h">*</i>$!{picNotNull.epName}</div>
                                                      <input type="hidden" value="$!{picNotNull.epType}" name="epType$!{picNotNull.epType}" id="epType$!{picNotNull.epType}"/>
		                                    		  <input type="hidden" value="$!{picNotNull.epId}" name="epId$!{picNotNull.epType}" id="epId$!{picNotNull.epType}"/>
                                                      <div class="u-i-img" id="uploadPic$!{picNotNull.epType}">
			                                    		#if($!{picNotNull.epPic})
					                                       <img id="showPic$!{picNotNull.epType}" src="$!{picNotNull.imgUrl}" height="118px;" width="118px;"/>
					                                    #else
					                                       <img id="showPic$!{picNotNull.epType}" height="118px;" width="118px;"/>
					                                    #end
					                                       <input type="hidden" value="$!{picNotNull.epPic}" id="saImgPath$!{picNotNull.epType}" name="epPic$!{picNotNull.epType}">
					                                       <input type="hidden" id="bucket_key$!{picNotNull.epType}" name="bucket_key$!{picNotNull.epType}" value="$!{picNotNull.bucket_key}">
			                                               <input type="hidden" id="imageInfo$!{picNotNull.epType}" name="imageInfo$!{picNotNull.epType}">
                                                      </div>
                                                      <div class="u-i-btn">
                                                          <a href="javascript:showImage($!{picNotNull.epType});"" class="btn">范例</a>
													#if($!{picNotNull.isTask}!=1)
                                                          <a href="javascript:;" class="btn" data-edit="uploadInput$!{picNotNull.epType}" >   
                                                            #if($!{picNotNull.epPic})
                                                          	修改
                                                          	#else
                                                          	上传
                                                          	#end
                                                          </a>
                                                          <a href="javascript:savePic($!{picNotNull.epType},'$!{picNotNull.epName}');" class="btn-disabled" id="editPic$!{picNotNull.epType}">保存</a>
                                                    #end
													</div>
                                                  </li>
                                                  #end
							                      #end
							                      #end
							                      
							                    #if($!{userinfos.userType}==3)
						                        #foreach($picNotNull in $bizEnterprisePicsNotNull)
						                        #if($!{picNotNull.epType}!=3)
                                                  <li class="u-item">
                                                      <div class="u-i-title"><i class="h">*</i>$!{picNotNull.epName}</div>
                                                      <input type="hidden" value="$!{picNotNull.epType}" name="epType$!{picNotNull.epType}" id="epType$!{picNotNull.epType}"/>
		                                    		  <input type="hidden" value="$!{picNotNull.epId}" name="epId$!{picNotNull.epType}" id="epId$!{picNotNull.epType}"/>
                                                      <div class="u-i-img img-file" id="uploadPic$!{picNotNull.epType}">
			                                    		#if($!{picNotNull.epPic}&&$!{picNotNull.epPic}!="")
					                                       <img id="showPic$!{picNotNull.epType}" src="$!{picNotNull.imgUrl}" height="118px;" width="118px;"/>
					                                    #else
					                                       <img class="hasNoImg" id="showPic$!{picNotNull.epType}" height="118px;" width="118px;"/>
					                                    #end
					                                       <input type="hidden" value="$!{picNotNull.epPic}" id="saImgPath$!{picNotNull.epType}" name="epPic$!{picNotNull.epType}">
					                                       <input type="hidden" id="bucket_key$!{picNotNull.epType}" name="bucket_key$!{picNotNull.epType}" value="$!{picNotNull.bucket_key}">
			                                               <input type="hidden" id="imageInfo$!{picNotNull.epType}" name="imageInfo$!{picNotNull.epType}">
                                                      </div>
                                                      <div class="u-i-btn">
                                                          <a href="javascript:showImage($!{picNotNull.epType});"" class="btn">范例</a>
														  #if($!{picNotNull.isTask}!=1)
															  #if($!{picNotNull.IsHaveOtherInfo}!=1)
                                                                  <a href="javascript:;" class="btn" data-edit="uploadInput$!{picNotNull.epType}">
																	  #if($!{picNotNull.epPic})
                                                                          修改
																	  #else
                                                                          上传
																	  #end
                                                                  </a>
                                                                  <a href="javascript:savePic($!{picNotNull.epType},'$!{picNotNull.epName}');" class="btn-disabled" id="editPic$!{picNotNull.epType}">保存</a>
															  #else
                                                                  <a class="btn" href="javascript:void(0);" onclick="top.utils.openWithTab('qyrz','企业认证','/sales/account/enterprise_register.html',{fstBread:'账户管理',scdBread:'企业认证'})">认证</a>
															  #end
														  #end
													</div>
                                                  </li>
                                                  #end
							                      #end
							                      #end
                                              </ul>
                                          </div>
                                      </div>

                                      <div class="uqc-upload">
                                          <div class="u-head cc">
                                              <h3 class="h-title">非必填项目</h3>
                                              <a href="javascript:;" class="btn-open-up btn-pack-up"></a>
                                          </div>
                                          <div class="u-list" style="display:none">
                                              <ul class="u-wrap cc">
                                                #foreach($picIsNull in $bizEnterprisePicsIsNull)
						                        <!-- 商业必填的资质没有GMP证书 -->
						                        #if($!{picIsNull.epType}!=12)
                                                  <li class="u-item">
                                                      <div class="u-i-title"><i class="h"></i>$!{picIsNull.epName}</div>
                                                     <input type="hidden" value="$!{picIsNull.epType}" name="epType$!{picIsNull.epType}" id="epType$!{picIsNull.epType}"/>
		                                    		 <input type="hidden" value="$!{picIsNull.epId}" name="epId$!{picIsNull.epType}" id="epId$!{picIsNull.epType}"/>
                                                      <div class="u-i-img img-file" id="uploadPic$!{picIsNull.epType}">
			                                    		#if($!{picIsNull.epPic}&&$!{picIsNull.epPic}!="")
					                                       <img id="showPic$!{picIsNull.epType}" src="$!{picIsNull.imgUrl}" height="118px;" width="118px;"/>
					                                    #else
					                                       <img class="hasNoImg" id="showPic$!{picIsNull.epType}" height="118px;" width="118px;"/>
					                                    #end
					                                       <input type="hidden" value="$!{picIsNull.epPic}" id="saImgPath$!{picIsNull.epType}" name="epPic$!{picIsNull.epType}">
					                                       <input type="hidden" id="bucket_key$!{picIsNull.epType}" name="bucket_key$!{picIsNull.epType}" value="$!{picIsNull.bucket_key}">
			                                               <input type="hidden" id="imageInfo$!{picIsNull.epType}" name="imageInfo$!{picIsNull.epType}">
                                                      </div>
                                                      <div class="u-i-btn">
                                                          <a href="javascript:showImage($!{picIsNull.epType});" class="btn">范例</a>
													#if($!{picIsNull.isTask}!=1)
														#if($!{picIsNull.IsHaveOtherInfo}!=1)
                                                          <a href="javascript:;" class="btn" data-edit="uploadInput$!{picIsNull.epType}">
                                                          	#if($!{picIsNull.epPic})
                                                          	修改
                                                          	#else
                                                          	上传
                                                          	#end
                                                          </a>
                                                          <a href="javascript:savePic($!{picIsNull.epType},'$!{picIsNull.epName}');" class="btn-disabled" id="editPic$!{picIsNull.epType}">保存</a>
                                                    	#else
															<a class="btn" href="javascript:void(0);" onclick="top.utils.openWithTab('qyrz','企业认证','/sales/account/enterprise_register.html',{fstBread:'账户管理',scdBread:'企业认证'})">认证</a>
														#end
													#end
													</div>
                                                  </li>
                                                  #end
							                      #end
                                              </ul>
                                          </div>
                                      </div>

                                  </div>

                              </div>

                          </div>
                          <div class="tab-pal">
                              <div class="user-query">
                              <form action="enterprise_credential.html" method="post" id="searchForm">
                              <input type="hidden" name="pi" value="$!pi">
                              <input type="hidden" name="link" value="yes" id="link">
                                  <table class="uq-table" border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                          <td width="260">
                                              <input class="input input-250" type="text" placeholder="客户名称/客户账号/企业编码/企业内码" name="searckKey" value="$!searchKey"/>
                                          </td>
                                          <td class="tar" width="80"><b>企业类型：</b></td>
                                          <td width="200">
												<div class="sltitem sltitem-195" id="value">
												<span class="">请选择</span>
												<ul>
													<li data-value="0"><a href="javascript:;">请选择</a></li>
													<li data-value="1"><a href="javascript:;">单体药房</a></li>
													<li data-value="2"><a href="javascript:;">连锁药店总店</a></li>
													<li data-value="3"><a href="javascript:;">连锁药店分店（直营店）</a></li>
													<li data-value="4"><a href="javascript:;">连锁加盟店</a></li>
													<li data-value="5"><a href="javascript:;">商业公司</a></li>
													<li data-value="6"><a href="javascript:;">医院</a></li>
													<li data-value="7"><a href="javascript:;">诊所</a></li>
												</ul>
												<input type="hidden" value="" name="eType"
													id="eType"/>
											</div>
                                          </td>
                                          <td class="tar" width="80"><b>合作状态：</b></td>
                                          <td width="130">
                                              <input class="check" id="checkbox" type="checkbox" name="suPurview" value="1" #if($!suPurview == 1) checked="checked" #end>
                                              <label class="check-text" for="checkbox" >合作中（过期）</label>
                                          </td>
                                          <td width="auto">
											<a href="javascript:checkSmInternalCodeValue('/sales/account/enterprise_credential.html',false);" class="btn-query">查询</a>
                                			<a href="javascript:checkSmInternalCodeValue('/sales/account/enterprise_credential.html?link=$!{link}',true);" class="btn-reset"><i class="icon"></i>重置筛选条件</a>
                                          </td>
                                      </tr>
                                  </table>
                                  </form>
                              </div>

                              <div class="user-tips mt20">随时随地下载已经合作企业资质</div>

                              <div class="user-form mt20">
                                  <table class="uf-table" border="0" cellpadding="0" cellspacing="0">
                                      <thead>
                                      <tr>
                                          <th class="t-number" width="50">序号</th>
                                          <th>客户名称</th>
                                          <th>企业编码</th>
                                          <th>企业内码</th>
                                          <th>企业类型</th>
                                          <th>更新时间</th>
                                          <th width="50">操作</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                     #if(!$null.isNull($supplierMemberList) && $supplierMemberList.size()!=0) 
                                     #foreach($supplierMember in $supplierMemberList)
                                      <tr>
                                          #set($pageOrder = $!{velocityCount} + ($!pagerInfo.pageIndex - 1) * $!pagerInfo.pageSize)
                                          <td class="t-number">$!pageOrder</td>
                                          <td><span class="t-update">
                                              #if(!$!supplierMember.suPurview&&$!curEType!=8)
	                                          	<font color="red" title="所有商品均无权限采购，请及时维护采购权限跟分类有效时间">$!supplierMember.eName (过期)<font>
	                                          #else
	                                          	$!supplierMember.eName
	                                          #end
                                          #if($!supplierMember.recentUpdate == 1)
                                          <i class="i-tips">近期更新</i>
                                          #end
                                          </span></td>
                                          <td>$!supplierMember.smCode</td>
                                          <td>$!supplierMember.smInternalCode</td>
                                          <td>
	                                         #if($!supplierMember.eType == 1)
	                                       		 单体药房
	                                        #end
	                                        #if($!supplierMember.eType == 2)
	                                        	连锁药店总店
	                                        #end
	                                        #if($!supplierMember.eType == 3)
	                                        	连锁药店分店（直营店）
	                                        #end
	                                        #if($!supplierMember.eType == 4)
	                                        		连锁加盟店
	                                        #end
	                                        #if($!supplierMember.eType == 5)
	                                        	商业公司
	                                        #end
	                                        #if($!supplierMember.eType == 6)
	                                        		医院
	                                        #end
	                                        #if($!supplierMember.eType == 7)
	                                        		  诊所
	                                        #end
                                        </td>
                                          <td>$utils.formatDate($!supplierMember.eActionTime,"yyyy/MM/dd")</td>
                                          <td>  
                                          <a href="javascript:;" class="t-link" onclick="downLoadPic($!{supplierMember.smId})">下载</a>
										 </td>
                                      </tr>
                                     #end
                                      </tbody>
                                  </table>
                              </div>
				                    <!--分页开始 -->
									#if($!{pagerInfo}) #if($!{pagerTotal} > 1)
									#pagerInfo($!pagerInfo,$!{pagerTotal},"/sales/account/enterprise_credential.html")
									#end #end
									<!--分页结束 -->
									<!-- 用户中心_主体内容_E -->
		                            #else
	                              <div class="user-form mt20">
	                                  <table class="uf-table" border="0" cellpadding="0" cellspacing="0">
	                                      <tbody>
	                                      <tr>
	                                          <td colspan="7">没有查询到数据</td>
	                                      </tr>
	                                      </tbody>
	                                  </table>
	                              </div>
							#end
                          </div>
                      </div>
                  </div>
              </div>
              <!-- 用户中心_主体内容_E -->
          </div>
        </div>
      </div>
    </div>
    #parse("common/footer.vm")
    <script>
		$(function(){
            <!-- uf-table表格最后一列无下边框 -->
            $(".uf-table").find("tr:last td").css("border-bottom","none");

            <!-- 商品展示--Tab切换 -->
            jQuery(".user-notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",trigger:"click",delayTime:300 });

            $.sltitem.select("eType", "$!eType");
            
            //必填项目&非必填项目-展开&收起效果
            $(".btn-open-up").click(function(){
                if($(this).hasClass("btn-pack-up"))
                {
                    $(this).removeClass("btn-pack-up");
                    $(this).parents(".u-head").next(".u-list").fadeIn(300);
                }
                else
                {
                    $(this).addClass("btn-pack-up");
                    $(this).parents(".u-head").next(".u-list").fadeOut(300);
                }
            });
			
		})
		
	function savePic(type,epName) {
		  if($("#editPic"+type).attr("class")=="btn-disabled"){
		  		return;
		  }
		  $("#editPic"+type).attr("class", "btn-disabled"); 
          $.ajaxPost("/sales/account/savePic.html", {
        	  "epName":epName,
              "epId":$("#epId"+type).val(),
              "type": type,
              "bucket_key": $("#bucket_key"+type).val(),
              "epPic": $("#saImgPath"+type).val(),
              "imageInfo": $("#imageInfo"+type).val()
          }, function(result) {
        	  $("#editPic"+type).attr("class", "btn"); 
              if (result != "") {
                  var obj = eval("(" + result + ")");
                  if (1 == obj.data) {
            		  $("#editPic"+type).attr("class", "btn-disabled");
                      $("#uploadInput" + type).addClass("hide");
                      top.ue.msg("保存资质图片成功");
                      location.reload();
                  } else if (0 == obj.data) {
                      top.ue.msg("保存资质图片失败，请稍后重试");
                  }
              }
          });
		}
		
	 function downLoadPic(smId){
	 	 var flag=checkZz(smId);
	 	 
		 if(flag==1){
             top.ue.msg("一分钟之内只能下载一次");
		 }else if(flag==0){
             top.ue.msg("该企业没有资质，暂时不能下载!");
		 }else if(flag==2){
		 	 window.location.href="/sales/member/downLoadAllPic.html?smId="+smId+"";
		 }			 
	  }
	 
	function checkSmInternalCodeValue(url,type){
		var smInternalCodes = $("#smInternalCodes").val();
		if(smInternalCodes == undefined){
			searchPager(url,type);
		}else{
			smInternalCodes = smInternalCodes.replace("，",",").replace(/\s+/g,"");
			$("#smInternalCodes").val(smInternalCodes);
			if(smInternalCodes.split(",").length>200 && !type){
				dialog({
		            title: "提示信息",
		            content: "Sorry,您每次最多可导入200个内码，您可以分多次导入客户。",
		            width: 300
		        });
				return ;
			}else if(url){
				searchPager(url,type);	
			}
		}
	}
	
	function checkZz(smId){
		  var flag = 0;
		  $.ajax({
			  url: '/sales/member/checkZz.html',
	           data: {"smId":smId},
	           type: 'POST',
	           dataType: 'json',
	           async: false,
	           success: function(result) {
	           
	        	   if (result.data == true) {
	        		   flag = 0;   
	        	   }else{
	        	   	   if(result.message=="1"){
	        	   	   		flag=1;
	        	   	   }else{
	        		   		flag = 2;
	        		   }
	        	   }
	           }
		  });
		  return flag;
	  }
    </script>
  </body>
</html>