<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>采购权限 - 我的医药网</title>
    
    <!-- 公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}" />
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">
	<link rel="stylesheet" type="text/css" href="/css/validate.css?v=$!{jscss_version}">
	   
	<script type="text/javascript">
        var wwwUrl = '$!{wwwHostAndPort}';
        var userUrl = '$!{userHostAndPort}';
    </script>
    <!-- 脚本 -->
    <script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}"></script>
    <script src="/js/publish.js?v=$!{jscss_version}"></script>
    <script type="text/javascript" src="/js/pager.js?v=$!{jscss_version}"></script>
    <script src="/js/dragDrop.js?v=$!{jscss_version}"></script>
    <script src="/js/dialog/dialog.js?v=$!{jscss_version}"></script>
    <script src="/js/jquery.json-2.2.js?v=$!{jscss_version}"></script>
    <script src="/js/public/My97DatePicker/WdatePicker.js?v=$!{jscss_version}"></script>
	<script src="/js/jquery.validate.min.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/validate-methods.js?v=$!{jscss_version}" type="text/javascript"></script>	
	<script src="/js/messages_zh.js?v=$!{jscss_version}" type="text/javascript"></script>	
    <!-- 脚本 -->
	<script src="/js/pop_div.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/ajaxupload.3.6.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/public/public.js?v=$!{jscss_version}"></script>
    #parse("common/common_script.vm")
    <script type="text/javascript">
    	//显示添加一级分类的文本
	   function ToAddFristShopPurview(){
		   $("#addFristText").show(1000);
		   $("#addFristButton").show(1000);
	   }
    	//添加一级分类
    	function addFristShopPurview(suId){
    		var addFristText=$("#addFristText").val();
    		//判断输入框是否有值
    		if (addFristText=="") {
                dialog({
	                title: '提示信息',
	                content: "权限名称不能为空",
	                width: 300
	            });
                return;
             }
    		
    		$.ajax({
			    type: 'post',
			    url: '/sales/account/order_purview_addFristShopPurView.html',
			    data: {
			    		"suId":suId,
			    		"spName":addFristText
			    	},
			    dataType: 'json',
			    success: function(data) {
			    	if (data) {
		                 top.ue.alert({
			                title: '提示信息',
			                content: "添加一级分类成功",
			                end: function() {
			                    location = "/sales/account/order_purview_main.html?suId="+suId;
			                }
			            })
		               } else {
		                   dialog({
		                       title: "提示信息",
		                       content: "添加一级分类失败",
		                       width: 300
		                   });
		             }
			    }
			});
	   }
    	//显示添加二级分类的文本
 	   function ToAddSecondShopPurview(spId){
    		//隐藏一级修改文本
    		var editFristText="#editFristText"+spId;
    		var editFristButton="#editFristButton"+spId;
 		   $(editFristText).hide(1000);
 		   $(editFristButton).hide(1000);
    		//显示添加二级分类的文本
    		var addSecondText="#addSecondText"+spId;
    		var addSecondButton="#addSecondButton"+spId;
 		   $(addSecondText).show(1000);
 		   $(addSecondButton).show(1000);
 	   }
 	//添加二级分类
   	function addSecondShopPurview(suId,spId){
   		var Text="#addSecondText"+spId;
   		var addSecondText=$(Text).val();
   		//判断输入框是否有值
   		if (addSecondText=="") {
               dialog({
	                title: '提示信息',
	                content: "权限名称不能为空",
	                width: 300
	            });
               return;
            }
   		
   		$.ajax({
			    type: 'post',
			    url: '/sales/account/order_purview_addSecondShopPurView.html',
			    data: {
			    		"suId":suId,
			    		"spName":addSecondText,
			    		"spId":spId
			    	},
			    dataType: 'json',
			    success: function(data) {
			    	if (data) {
		                  top.ue.alert({
			                title: '提示信息',
			                content: "添加二级分类成功",
			                end: function() {
			                    location = "/sales/account/order_purview_main.html?suId="+suId;
			                }
			            })
		               } else {
		                   dialog({
		                       title: "提示信息",
		                       content: "添加二级分类失败",
		                       width: 300
		                   });
		             }
			    }
			});
	   }
    	
    	//显示修改一级分类的文本
    	function ToEditFristShopPurview(spId,spName){
    		//隐藏二级添加文本
    		var addSecondText="#addSecondText"+spId;
    		var addSecondButton="#addSecondButton"+spId;
 		   $(addSecondText).hide(1000);
 		   $(addSecondButton).hide(1000);
    		//显示修改一级分类的文本
    		var editFristText="#editFristText"+spId;
    		var editFristButton="#editFristButton"+spId;
    		$(editFristText).val(spName);
 		   $(editFristText).show(1000);
 		   $(editFristButton).show(1000);
    	}
    	
    	//修改一级分类
    	function editFristShopPurview(suId,spId){
    		var Text="#editFristText"+spId;
       		var editFristText=$(Text).val();
       		//判断输入框是否有值
       		if (editFristText=="") {
                   dialog({
    	                title: '提示信息',
    	                content: "权限名称不能为空",
    	                width: 300
    	            });
                   return;
                }
       		$.ajax({
    			    type: 'post',
    			    url: '/sales/account/order_purview_editFristShopPurView.html',
    			    data: {
    			    		"suId":suId,
    			    		"spName":editFristText,
    			    		"spId":spId
    			    	},
    			    dataType: 'json',
    			    success: function(data) {
    			    	if (data) {
    		                  top.ue.alert({
    			                title: '提示信息',
    			                content: "修改一级分类成功",
    			                end: function() {
    			                    location = "/sales/account/order_purview_main.html?suId="+suId;
    			                }
    			            })
    		               } else {
    		                   top.ue.msg("修改一级分类失败");
    		             }
    			    }
    			});
    	}
    	
    	//显示修改二级分类的文本
    	function ToEditSecondShopPurview(spId,spName){
    		var editSecondText="#editSecondText"+spId;
    		var editSecondButton="#editSecondButton"+spId;
    		$(editSecondText).val(spName);
 		   $(editSecondText).show(1000);
 		   $(editSecondButton).show(1000);
    	}
    	
    	//修改二级分类
    	function editSecondShopPurview(suId,spId,spPid){
    		var Text="#editSecondText"+spId;
       		var editSecondText=$(Text).val();
       		//判断输入框是否有值
       		if (editSecondText=="") {
                   var da = dialog({
    	                title: '提示信息',
    	                content: "权限名称不能为空",
    	                width: 300
    	            });
                   return;
                }
       		$.ajax({
    			    type: 'post',
    			    url: '/sales/account/order_purview_editSecondShopPurView.html',
    			    data: {
    			    		"suId":suId,
    			    		"spName":editSecondText,
    			    		"spId":spId,
    			    		"spPid":spPid
    			    	},
    			    dataType: 'json',
    			    success: function(data) {
    			    	if (data) {
    		                  top.ue.alert({
    			                title: '提示信息',
    			                content: "修改二级分类成功",
    			                end: function() {
    			                    location = "/sales/account/order_purview_main.html?suId="+suId;
    			                }
    			            })
    		               } else {
    		                   top.ue.msg("修改二级分类失败");
    		             }
    			    }
    			});
    	}
    	
    	
    	
    	//删除一级分类
    	function deleteFristShopPurview(spId,suId){
    		top.ue.confirm({
    	        title: '提示信息',
    	        content: '删除一级分类会把一级分类下的二级分类全部删除,确定删除吗?',
    	        ok: function() {
    	            $.post('/sales/account/order_purview_deleteFristShopPurView.html', {spId : spId}, function(result) {
    	                if (result) {
    	                   var dia2 = dialog({
    	                        title: "提示信息",
    	                        content: "删除一级分类成功",
    	                        width: 300,
    	                        ok:function() {
    	                        	dia2.close();
    	                        	location = "/sales/account/order_purview_main.html?suId="+suId;
    	                        }
    	                    });
    	                    
    	                } else {
    	                    dialog({
    	                        title: "提示信息",
    	                        content: "删除一级分类失败",
    	                        width: 300
    	                    });
    	                }
    	            });
    	        }
    	    });
    	}
    	
    	//删除二级分类
    	function deleteSecondShopPurview(spId,suId){
    		top.ue.confirm({
    	        title: '提示信息',
    	        content: '您确定要删除二级分类吗?',
    	        ok: function() {
    	            $.post('/sales/account/order_purview_deleteSecondShopPurView.html', {spId : spId}, function(result) {
    	                if (result) {
    	                   var dia2 = dialog({
    	                        title: "提示信息",
    	                        content: "删除二级分类成功",
    	                        width: 300,
    	                        ok:function() {
    	                        	dia2.close();
    	                        	location = "/sales/account/order_purview_main.html?suId="+suId;
    	                        }
    	                    });
    	                    
    	                } else {
    	                    dialog({
    	                        title: "提示信息",
    	                        content: "删除二级分类失败！",
    	                        width: 300
    	                    });
    	                }
    	            });
    	        }
    	    });
    	}
    	
    	$(function(){
    		$("#shopPurviewListControl").find("div.top span.name.fl").click(function(){
    			var ulCc = $(this).parents("div.dialog_competence_list").find("ul.cc");
    			if(ulCc.is(":hidden")){
    				ulCc.show();    				
    			}else{
    				ulCc.hide();
    			}
    		})
    	})
    </script>
	<!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
      <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
      <script type="text/javascript">
	    DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
  </head>
 
  <body>
    <div class="container">
       #parse("common/header_top.vm")
       #parse("common/header.vm")
      <div class="content">
        <div class="wrap cc">
        #parse("common/left_menu_sales.vm")
          <div class="user_right fl">
            <!-- 用户中心_主体内容_S -->
            <div class="indmain">
            	<div class="path">
                    <p class="fl"><a href="/sales/index.html" class="color">销售中心</a> &gt; 账户管理 &gt; 采购权限 </p>
                </div>
                <div class="dialog_box mt20">
              <dl class="dialog_ctn">
               <dt>
                 <span class="title">权限范围</span>
               </dt>
               <dd id="shopPurviewListControl">
               		#if($!{supplier.suIsErp}!=1)
               			<input type="button" value="添加一级分类" onclick="ToAddFristShopPurview();"/>
               		#end
               		<input id="addFristText" type="text" style="display: none;"/>
               		<input id="addFristButton" type="button" value="添加" onclick="addFristShopPurview($!{suId});" style="display: none;"/>
               		#foreach($shopPurviewFrist in $shopPurviewFristList)
               		<div class="dialog_competence_list">
                        <div class="top cc">
                            <span class="name fl">$!{shopPurviewFrist.spName}</span>
                            #if($!{supplier.suIsErp}!=1)
                            <a class="btn_edit fl" href="javascript:ToEditFristShopPurview($!{shopPurviewFrist.spId},'$!{shopPurviewFrist.spName}');"></a>
                            <a class="btn_delete fl" href="javascript:deleteFristShopPurview($!{shopPurviewFrist.spId},$!{suId});"></a>
                            <a class="btn_add fl" href="javascript:ToAddSecondShopPurview($!{shopPurviewFrist.spId});"></a>
                            #end
                            <input id="addSecondText$!{shopPurviewFrist.spId}" type="text" style="display: none;"/>
                            <input id="addSecondButton$!{shopPurviewFrist.spId}" type="button" value="添加" onclick="addSecondShopPurview($!{suId},$!{shopPurviewFrist.spId});" style="display: none;"/>
                            <input id="editFristText$!{shopPurviewFrist.spId}" type="text" style="display: none;"/>
                            <input id="editFristButton$!{shopPurviewFrist.spId}" type="button" value="修改" onclick="editFristShopPurview($!{suId},$!{shopPurviewFrist.spId});" style="display: none;"/>
                        </div>
                        #foreach($shopPurviewSecond in $shopPurviewSecondList)
                           #if($!{shopPurviewSecond.spPid}==$!{shopPurviewFrist.spId})
                        <ul class="cc">
                            <li>
                            	<span class="name fl">$!{shopPurviewSecond.spName}</span>
                            	#if($!{supplier.suIsErp}!=1)
                            	<a class="btn_edit fl" href="javascript:ToEditSecondShopPurview($!{shopPurviewSecond.spId},'$!{shopPurviewSecond.spName}');"></a>
                                <a class="btn_delete fl" href="javascript:deleteSecondShopPurview($!{shopPurviewSecond.spId},$!{suId});"></a>
                                #end
                                <input id="editSecondText$!{shopPurviewSecond.spId}" type="text" style="display: none;"/>
                            	<input id="editSecondButton$!{shopPurviewSecond.spId}" type="button" value="修改" onclick="editSecondShopPurview($!{suId},$!{shopPurviewSecond.spId},$!{shopPurviewSecond.spPid});" style="display: none;"/>
                            </li>
                        </ul>
                        	#end
                        #end
                    </div>
                    #end
               </dd>
              </dl>
            </div>

            </div>
            <!-- 用户中心_主体内容_E -->
          </div>
        </div>
      </div>
    </div>
    #parse("/common/footer.vm")
  
    
  </body>
</html>