<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>促销管理-我的医药网</title>

    <!-- mypharma_公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- mypharma_样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">

    <link rel="stylesheet" type="text/css" href="/css/new_order.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/new_dialog.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css?v=$!{jscss_version}">

    <!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
    <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->

</head>

<body>
<div class="container">
    #parse("common/header_top.vm")
    #parse("common/header.vm")
    <div class="content">
        <div class="wrap cc">
            #parse("common/left_menu_sales.vm")
            <div class="user_right fl">

                <!-- 用户中心_主体内容_S -->
                <div class="indmain c-box">
                    #set($activity = $!{pactData.activity})
                    #set($ruleGroup = $!{pactData.ruleGroup})
                    #set($ruleList = $!{pactData.ruleList})
                    #set($goodsList = $!{pactData.goodsList})
                    #set($region = $!{pactData.region})

                    <div class="user-path">销售中心 &gt; 销价管理 &gt; <a href="/sales/promotion/list.html">促销管理</a> &gt; <i class="up-h">$!{pactName}</i></div>

                    <div class="user-cxgl-title">$!{pactName}促销</div>

                #*<div class="user-tips mt10">时间段内指定秒杀商品及秒杀价格，限制活动总库存、限制客户购买数量，超出限定购买数量后，按照活动前原价购买。</div>*#

                  <div class="user-cxgl-table">
					  <form id="searchConForm" action="/sales/promotion/list.html" method="post">
		                  <input type="hidden" name="pi" value="$!pi"/>
		                  <input type="hidden" name="ps" value="$!ps"/>
		                  <input type="hidden" name="status" value="$!status"/>
		                  <input type="hidden" name="pactTitle" value="$!{pactTitle}"/>
		                  <input type="hidden" name="pactStartTime" value="$!{pactStartTime}"/>  
		                  <input type="hidden" name="pactEndTime" value="$!{pactEndTime}"/>
		                  <input type="hidden" name="pactType" value="$!{pactType}"/>
		               </form>
                      <table class="order_table mt10" border="0" cellpadding="0" cellspacing="0">
                      <input type="hidden" id="copyMode" name="copyMode" value="$!{copyMode}"/>
                      <input type="hidden" id="pactId" name="pactId" value="$!{activity.pactId}"/>
                      <input type="hidden" id="pactType" name="pactType" value="$!{activity.pactType}"/>
                      <input type="hidden" id="themeId" name="themeId" value="$!{activity.themeId}"/>
                      <input type="hidden" id="ruleGroupId" name="ruleGroupId" value="$!{ruleGroup.ruleGroupId}"/>
                          <tr>
                              <td class="tar" width="102"><span class="red">*</span><b>促销标题：</b></td>
                              <td width="auto">
                                  <input class="input input-420 fl" type="text" id="pactTitle" name="pactTitle" maxlength="10"  value="$!{activity.pactTitle}" placeholder="将用于活动页页头活动标题，请针对本次活动内容设定标题">
                                  <span class="fl ml10">促销标题最多10个字</span>
                              </td>
                          </tr>
                          <tr>
                              <td class="tar" valign="top"><span class="red">*</span><b>促销描述：</b></td>
                              <td>
                                  <textarea class="textarea fl" name="pactContent" id="pactContent" cols="30" rows="10" maxlength="120" onkeyup="this.value = this.value.substring(0, 120)" placeholder="用于活动页标题下方的活动介绍，可进一步描述本次活动的卖点，吸引客户下单">$!{activity.pactContent}</textarea>
                                  <span class="fl ml10">促销描述最多120个字</span>
                              </td>
                          </tr>
                          <tr>
                              <td class="tar"><span class="red">*</span><b>有&nbsp;&nbsp;效&nbsp;&nbsp;期：</b></td>
                              <td>
                                  <div #if($!status == 1) data-distips="true" class="fl" #end>
                                  <input class="input input-date fl" type="text" name="pactStartTime" id="pactStartTime" 
                                  #if($!copyMode == 1)
									   #if($!status == 1 || $!status == 2)
									     value="$utils.formatDate($!{activity.pactStartTime},'yyyy-MM-dd HH:mm:ss')"
									   #end
								   #else
									   value="$utils.formatDate($!{activity.pactStartTime},'yyyy-MM-dd HH:mm:ss')"
									   #if($!status == 1) disabled #end
								   #end   
                                  readonly="readonly" onfocus-="WdatePicker({skin : 'whyGreen',onpicked:promotion.showTime(), dateFmt : 'yyyy-MM-dd HH:mm:ss'})"/>
                                  </div>
                                  <i class="to">至</i>
                                  <input class="input input-date fl" type="text" name="pactEndTime" id="pactEndTime" 
                                  #if($!copyMode == 1)
									  #if($!status == 1 || $!status == 2)
									     value="$utils.formatDate($!{activity.pactEndTime},'yyyy-MM-dd HH:mm:ss')"
									  #end
								  #else
									  value="$utils.formatDate($!{activity.pactEndTime},'yyyy-MM-dd HH:mm:ss')"
								  #end  
                                  readonly="readonly" onfocus-="WdatePicker({skin : 'whyGreen', onpicked:promotion.showTime(),dateFmt : 'yyyy-MM-dd HH:mm:ss', minDate:'#F{$dp.$D('+'\\'+'\'pactStartTime'+'\\'+'\')}'})"/>
                                  <div class="fl ml10" style="display: none" id="timeDhm">
                            	  	活动时长：
                            	  	<span id="time_d"></span>天
                            	  	<span id="time_h"></span>时
                            	  	<span id="time_m"></span>分
                            	   </div>
                              </td>
                          </tr>
                          <tr>
                              <td class="tar" valign="top"><span class="red">*</span><b>选择客户：</b></td>
                              <td>
                                  <div class="user-cxgl-detail">

                                        <div class="order_detail">

                                            <div class="promotions_ctn">
                                                <input class="radio" type="radio" name="pact_member_status" id="pact_member_status_0" value="0" #if($!{activity.pactMemberStatus} == 0) checked #end/>
                                                <label class="text text-b" for="pact_member_status_0">全部客户参与活动</label>
                                                <input class="radio" type="radio" name="pact_member_status" id="pact_member_status_1" value="1" #if($!{activity.pactMemberStatus} != 0) checked #end />
                                                <label class="text text-b" for="pact_member_status_1">部分客户参与活动</label>
                                            </div>

                                            <div class="toogle-wrap mt10" id="tabbox">
                                                <div class="mt">
                                                    <ul class="tab-mt" id="tabmt">
                                                        <li data-value="1" class="coupon-tab-item #if($!{activity.pactMemberStatus} == 1)curr#end">按单个客户设定</li>
                                                        <li data-value="2" class="coupon-tab-item #if($!{activity.pactMemberStatus} == 2)curr#end">按分组进行设定</li>
                                                    </ul>
                                                    <span class="count" id="customerCount">共选择12家客户</span>
                                                    <div class="count-p">您提交保存促销时，仅当前选中标签中的客户可享受该促销</div>
                                                </div>
                                                <div class="tab-box">
                                                    <div class="tab-con" style="display: block;">
                                                        <p class="count"></p>
                                                        <ul id="customerList">
                                                            <li><a href="javascript:void(0);" onclick="promotion.addCustomer();" class="add_pro" id="sel-a">+ 添加客户</a></li>
                                                            #if($!memberList && $!memberList.size() > 0)
                                                                #foreach($!member in $!memberList)
                                                                    <li id="eIds_$!{member.eId}" value="$!{member.eId}">
                                                                        <div class="customer-item item-selected"><b onclick="promotion.delCustomer($!{member.eId});"></b>${member.eName}</div>
                                                                    </li>
                                                                #end
                                                            #end
                                                        </ul>
                                                    </div>
                                                    <div class="tab-con" style="display: none;">

                                                        <p class="count"></p>

                                                        <div class="type-box cc" id="sctIds">
                                                            <dl>
                                                                <dt class="type-t">业务分组</dt>
                                                                #foreach($type in $!listType)
                                                                    <dd>
                                                                        <div class="customer-item #if($!{type.selected})item-selected#end" id="sct_$!{type.shopCustomerType.sctId}">
                                                                            <b></b>$!{type.shopCustomerType.sctName}（<span id="count_1_$!{type.shopCustomerType.sctId}">$!{type.bizCount}</span>）
                                                                        </div>
                                                                    </dd>
                                                                #end
                                                            </dl>
                                                        </div>
                                                        <div class="type-box cc" id="regionIds">
                                                            <dl>
                                                                <dt class="type-t">区域分组</dt>
                                                                #foreach($region in $!listRegion)
                                                                    <dd>
                                                                        <div class="customer-item #if($!{region.selected})item-selected#end" id="reg_$!{region.supplierRegion.regionId}">
                                                                            <b></b>$!{region.supplierRegion.regionName}（<span id="count_2_$!{region.supplierRegion.regionId}">$!{region.bizCount}</span>）
                                                                        </div>
                                                                    </dd>
                                                                #end
                                                            </dl>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tar" valign="top"><span class="red">*</span><b>选择商品：</b></td>
                                <td>
                                    <div class="user-cxgl-detail mt10">

                                        <div class="order_detail">

                                          <div class="user-form">
                                              <table class="uf-table" border="0" cellpadding="0" cellspacing="0">
                                                  <thead>
                                                  <tr>
                                                      <th><input type="checkbox" class="check" onclick="promotion.selectAllGoods(this);"/></th>
                                                      <th>商品ID</th>
                                                      <th>商品编码</th>
                                                      <th width="130">商品名称</th>
                                                      <th width="130">商品规格</th>
                                                      <th width="130">生产厂家</th>
                                                      <th width="130">基价</th>
                                                      <th>是否拆零</th>
                                                      <th>秒杀价格（元）</th>
                                                      <th>单个客户限购数量</th>
                                                      <th>总活动库存数</th>
                                                      <th>备注</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody id="goodsList">
                                                  #if($!goodsList && $!goodsList.size() > 0)
                                                      #foreach($!goods in $!goodsList)
                                                         <tr id="$!{goods.gId}">
                                                            <td>
                                                                <div style="width: 20px; height: 20px; margin: 0 auto;" #if($!status == 1 && $!copyMode != 1) data-distips="true" #end>
                                                                <input type="checkbox" #if($!status == 1 && $!copyMode != 1) disabled #end name="promotion_goods" class="check" />
                                                                </div>
                                                            </td>
                                                            <td>$!{goods.gId}</td>
                                                            <td>$!{goods.gSn}</td>
                                                            <td><a target="_blank"  style="color: #0f93ce;" class="t-link" href="http://$!{wwwHostAndPort}/item/$!{goods.gId}.html">$!{goods.gName}</a></td>
                                                            <td>$!{goods.gSpecifications}</td>
                                                            <td>$!{goods.gManufacture}</td>
                                                            #if(${goods.gBasePrice}>0)
						                                    <td>¥$utils.doubleFormat(${goods.gBasePrice})</td>
						                                    #else
						                                    <td style="color:#FF0000;">¥$utils.doubleFormat(${goods.gBasePrice})</td>
						                                    #end
                                                            <td>$!{goods.gCanSplitText}</td>
                                                            <td><input class="input" type="text" #if($!status == 1 && $!copyMode != 1) disabled #end style="width:40px;" name="policyPrice" onkeyup="promotion.checkIsNumber($(this));" value="$!{goods.policyMap.policyPrice}" /></td>
                                                            #if($!status != 1 || $!copyMode == 1)
                                                            <td><input class="input" type="text" style="width:40px;" name="limitNum" maxlength="6" value="$!{goods.policyMap.policyNum}" onkeyup="promotion.checkIsInteger($(this));" onblur="promotion.checkMiddlePackge(${goods.gCanSplit},$(this),${goods.gMiddlePackage});" gcanSplit="${goods.gCanSplit}" gmiddlePackage="${goods.gMiddlePackage}"/></td>
                                                            <td><input class="input" type="text" style="width:40px;" name="stockNum" maxlength="6" value="$!{goods.policyMap.goodsNum}" onkeyup="promotion.checkIsInteger($(this));" onblur="promotion.checkMiddlePackge(${goods.gCanSplit},$(this),${goods.gMiddlePackage});" gcanSplit="${goods.gCanSplit}" gmiddlePackage="${goods.gMiddlePackage}"/></td>
                                                            #else
                                                            <td><input class="input" type="text" style="width:40px;" name="limitNum" maxlength="6" value="$!{goods.policyMap.policyNum}" onkeyup="promotion.checkIsInteger($(this));" #if($!{goods.policyMap.policyNum} == "")onblur="promotion.checkMiddlePackge(${goods.gCanSplit},$(this),${goods.gMiddlePackage});"#else onblur="promotion.checkBigNumer($(this),$!{goods.policyMap.policyNum},${goods.gCanSplit},${goods.gMiddlePackage});" #end gcanSplit="${goods.gCanSplit}" gmiddlePackage="${goods.gMiddlePackage}"/></td>
                                                            <td><input class="input" type="text" style="width:40px;" name="stockNum" maxlength="6" value="$!{goods.policyMap.goodsNum}" onkeyup="promotion.checkIsInteger($(this));" onblur="promotion.checkBigNumer($(this),$!{goods.policyMap.goodsNum},${goods.gCanSplit},${goods.gMiddlePackage});" gcanSplit="${goods.gCanSplit}" gmiddlePackage="${goods.gMiddlePackage}"/></td>
                                                            #end
                                                            <td><input class="input" type="text" style="width:40px;" name="policyNote" value="$!{goods.policyMap.policyNote}" /></td>
                                                          </tr>
                                                        #end
                                                      #end
                                                    <!-- 商品显示区域 -->
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="function cc mt10">
                                                #if($!{supplier.suIsErp} == 1)
                                                    <a class="btn" href="javascript:;" onclick="promotion.importGoodsUI();">通过内码批量添加</a>
                                                #end
                                                <a class="btn" href="javascript:;" onclick="promotion.addGoodsUI($!{activity.pactType});">手动添加</a>
                                                <a class="btn" href="javascript:;" onclick="promotion.batchDelGoods();">删除</a>
                                                <span class="count" id="goodsCount">共选择12件商品</span>
                                                <a class="btn fr" href="javascript:;" onclick="promotion.setLimitNum();">批量填写限购数量</a>
                                                <input class="input fr mr10" type="text" id="limitBuyNum" name="limitBuyNum" onkeyup="promotion.checkIsInteger($(this));">
                                            </div>

                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="user-cxgl-btn mt20">
                        #if($!copyMode == 1)
                            <input class="check" id="createAct" type="checkbox">
                            <label class="check-text" for="createAct">创建活动页面</label>
                            <a href="javascript:;" onclick="promotion.savePromotion();" class="btn_text">创建</a>
                        #else
                            <a href="javascript:top.utils.frameBackDel();window.history.go(-1);" style="display: none;" class="btn_text">返回</a>
                            <a href="javascript:;" onclick="promotion.savePromotion();" class="btn_text">保存</a>
                        #end
                    </div>

                </div>
                <!-- 用户中心_主体内容_E -->

            </div>

        </div>
    </div>
    <!-- 弹窗用 -->
    #parse("sales/promotion/promotion_common_window.vm")
</div>
    #parse("common/footer.vm")

<!-- mypharma_脚本 -->
<script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/publish.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/pop_div.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/pager.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/jquery.validate.min.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/messages_zh.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/ajaxupload.3.6.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/dialog/dialog.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/jquery.json-2.2.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/public/My97DatePicker/WdatePicker.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/search.js?v=$!{jscss_version}" type="text/javascript"></script>
##<script src="/js/layui/layui.js?v=$!{jscss_version}"></script>
<script type="text/javascript" src="/h5/res/layer2/layer.js?v=$!{jscss_version}"></script>
<script src="/front/js/layui/laydate.js?v=$!{jscss_version}"></script>
<script src="/js/promotion/promotionActivityContext.js?v=$!{jscss_version}"></script>
    #parse("common/common_script.vm")
<script>
    /*设置框架返回按钮*/
    if(top.utils.getUrlParam('backbtn',window) != 0){
        top.utils.frameBack({
            handler:function (btn) {
                location.href = document.referrer;
            }
        })
    }
</script>
</body>
</html>