<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>忘记密码_我的医药网</title>
    <!-- mypharma_公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- mypharma_样式 -->
    <link rel="stylesheet" type="text/css" href="css/global-old.css?v=$!{jscss_version}" />
    <link rel="stylesheet" type="text/css" href="css/password.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/load.css?v=$!{jscss_version}" />
       
	    <!-- mypharma_脚本 -->
    <script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}"></script>
    <script src="/js/publish.js?v=$!{jscss_version}"></script>
    <script src="/js/register/backPassword.js?v=$!{jscss_version}"></script>
   	<script src="/js/pop_div.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/pager.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/jquery.validate.min.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/messages_zh.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/ajaxupload.3.6.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/dialog/dialog.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/jquery.json-2.2.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    #parse("common/common_script.vm")
	<!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
      <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
      <script type="text/javascript">
	    DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
</head>

<body>
    
       #parse("common/header_top.vm")

     <div class="headbar">
         <div class="wrap fn-clear line-l">
             <h1 class="logo">
                 <a href="http://$!{wwwHostAndPort}" target="_parent">我的医药网</a>
             </h1>
             <div class="logo logo-pwd">
                 <a title="找回密码" href="/backPassword.html">找回密码</a>
             </div>
             <div class="tel logo-tel">客服电话：400-060-3351</div>
         </div>
    </div>
    <div class="content">
        <div class="wrap">
              <div class="process pwdBackImg1">
              </div>
              <!--流程 start-->
                <div class="forget-pwd" >
                    <div class="pass-input-container fn-clear"> 
                     <label class="pass-input-title">手机/邮箱/用户名：</label>
                     <input type="text" class="pass-input pass-input-error" name="mobilenum" value="$!userName" id="userName"> 
                     <span class="pass-input-msg" id="prompt_userName"></span> 
                  	</div>
                  	<div class="pass-input-container vcode-container fn-clear"> 
                      <label class="pass-input-title" for="veritycode">验证码：</label> 
                        <input type="text" class="pass-input vcode-input w55" name="verifycode" value="" id="veritycode"> 
                        <img class="vcode-img" id="code_img" alt="验证码图片" title="验证码图片" onclick="change_captcha()" src="" style="display: inline;"> 
                        <a href="javascript:void(0);" class="vcode-img-change" onclick="change_captcha();return false;">换一个</a> 
                        <input type="hidden" name="codestring" value=""> 
                        <span class="pass-input-msg pl300" id="prompt_verity"></span> 
                   </div>
                   <div class="m-l125"> 
                       <input type="submit" name="" value="下一步" class="pass-button-submit" id="submit_01">
                   </div>
               </div>

               <div class="forget-pwd" style="display: none;">
                    <div class="pass-input-container fn-clear"> 
                         <label class="pass-input-title">验证方式：</label>
                         <div class="sltitem">
                            <span class="">已验证邮箱</span>
                            <ul style="display: none;">
                                <li data-value="0"><a href="javascript:;">已验证邮箱</a></li>
                                <li data-value="1"><a href="javascript:;">已验证手机</a></li>
                            </ul>
                            <input type="hidden" id="validationType" value="0">
                        </div> 
                    </div>
                    <div id="mobile_area" style="display: none;">
	                    <div class="fn-clear mb20"> 
	                        <label class="pass-input-title">您的手机号码：</label>
	                    	<input type="text" class="pass-input pass-input-error b0 w107" name="mobilenum" value="18699967779" id="mobil" readonly>
	                    	<span class="help-inline"><button type="button" role="button" class="btn verification" id="sendTelCode">发送验证码</button></span>
	                    	<p class="help-tips" id="prompt_mobile"></p>
	                    </div>
	                    <div class="pass-input-container fn-clear"> 
	                        <label class="pass-input-title">短信验证码：</label>
	                        <input type="text" class="pass-input pass-input-error mini" name="codenum" value="" id="mobilCode">
	                        <span class="pass-input-msg pl" id="prompt_mobil_code"></span> 
	                    </div>
	                    <div class="m-l125"> 
	                       	<input type="submit" name="" value="下一步" class="pass-button-submit" id="submit_04">
	                    </div>
                    </div>
                    <div id="mail_area">
                      <div class="fn-clear mb20" > 
                         <label class="pass-input-title">您的邮箱：</label>
                         <input type="text" class="pass-input pass-input-error b0 w186" name="emailnum" value="3420*****5@qq.com" id="email" readonly>
                      </div>
                  	  <div class="m-l125"> 
                  	     <input type="submit" name="" value="发送验证邮件" class="pass-button-submit" id="submit_02">
	                  </div>
                    </div>
               </div>
               <div class="forget-pwd" style="display: none;">
                    <div class="pass-input-container fn-clear">
                       <div class="test_tips">
	                       	请登录您的邮箱查收重置密码邮件，该邮件12小时内有效。<br>若没有收到，您可以
	                        <input id="againEmail" name="" type="button" value="点击重发验证邮件">
               		   </div> 
                       <p class="pass-input-tip"><i></i>验证邮件已发送至您的邮箱</p>
                       <div class="m-l41"> 
                       		<input type="submit" name="" value="进入邮箱验证" class="pass-button-submit" id="submit_03">
                       </div>
                    </div>
               </div>
               <div class="forget-pwd" style="display: none;">
                    <input type="hidden" id="prompt_verifypwd_email" value="$!email">
                    <div class="pass-input-container fn-clear"> 
	                     <label class="pass-input-title">新登录密码：</label>
	                     <input type="password" class="pass-input pass-input-forgot left pass-input-error" name="password" value="" id="password" autocomplete="off"> 
	                     <div class="pass-input-pwdmsg"> <span class="pass-input-msg" id="prompt_password"></span> </div>
                  	</div>
                    <div class="pass-input-container fn-clear"> 
                    	<label class="pass-input-title l-h40" for="repassword">确认新密码：</label> 
                    	<input type="password" class="pass-input pass-input-forgot left" name="verifypwd" id="verifypwd_password" value="" autocomplete="off"> 
                    	<p class="pass-input-msg txt-color" id="prompt_verifypwd_password"></p> 
                   	</div>
                    <div class="m-l125"> 
                       <input type="submit" name="" value="下一步" class="pass-button-submit" id="submit_05">
                    </div>
        	   </div>
               <div class="forget-pwd" style="display: none;">
                    <div class="pass-input-container fn-clear">
                        <p class="pass-input-tip"><i></i>恭喜您，密码修改成功</p>
                        <div class="m-l41"> 
                       <input type="submit" name="" value="立即登录" class="pass-button-submit" id="submit_06">
                    </div>
                    </div>
               </div>
        </div>
    </div>
    <!--  footer start  -->
    #parse("/common/footer.vm")
    
    <div class="mask"></div>
    <div class="dialog w460">
      <div class="head"><span>发送短信验证</span><a  href="javascript:void(0);" onclick="closeDialog()"  class="btn-close"></a></div>   
      <div class="con">
          <form action="" id="check_mask_send_mobile_code">
          	<input type="hidden" id="daId" name="daId">
             <ul>
                 <li style="width:365px; margin: 0 auto; height:auto;">
                     <label for="">验证码：</label>
                     <div class="control-item">
                         <input type="text" name="m_mask_captcha" id="m_mask_captcha" value="" class="form-control mini" style="width:65px;">
                         <img id="mask_code_img" onclick="change_mask_captcha()" src="" title="点击可更换验证码" alt="点击可更换验证码" style="cursor:pointer;">&nbsp;&nbsp;
                         <span id="prompt_mask_captcha"></span>
                         <p class="help-tips">请填写验证码，并查收手机短信</p>
                     </div>
                 </li>
              </ul>
              <div class="btn">
              	<a href="javascript:void(0);" id="sendMobileCodeBtn"  class="btn-txt mr7">确认</a>
              	<a href="javascript:void(0);" onclick="closeDialog()" class="btn-txt" >返回</a>
              </div>
          </form>
      </div>
    </div>
    
</body>
<script>
	if($!emailCheck){
		$(".forget-pwd").hide();
		$(".forget-pwd").eq(3).show();
		$(".process").addClass("pwdBackImg3");
	}
	var randomNum = 0;
	change_captcha();
	change_mask_captcha();
	function change_captcha() {
		 randomNum= parseInt(Math.random()*90000000+10000000);
		 $("#code_img").attr("src", "/backPassword/validation.html?randomNum=" + randomNum);
		 $("#veritycode").blur();
	}
	
	
	function change_mask_captcha() {
		 maskRandomNum= parseInt(Math.random()*90000000+10000000);
		 $("#mask_code_img").attr("src", "/backPassword/maskValidation.html?randomNum=" + maskRandomNum);
		 $("#m_mask_captcha").blur();
	}
	
	//关闭dialog
	function closeDialog(){
		$(".dialog").hide();
		$(".mask").hide();
	}
	
</script>
</html>