<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>用户中心 - 我的医药网</title>
    
    <!-- mypharma_公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- mypharma_样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}">
	<link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
       
    <!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
      <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
      <script type="text/javascript">
	    DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
    <style type="text/css">
		.foot {
		    position: absolute;
            bottom: 0;
            height: 120px;
            margin: 0 auto;
            width: 100%;
			}
	</style>
  </head>
 
  <body>
    <div class="container">
       #parse("common/header_top.vm")
	   #parse("common/header.vm")
	   <div class="content">
        <div class="wrap cc">
            <!-- 用户中心_主体内容_S -->
            <div class="errorpage">
                <img src="/image/ico_img.jpg" alt="">
                <div class="errorpage-p">
                    <p class="errorpage-tit">对不起，您访问的地址无法打开！</p>
                    <p class="errorpage-t">有可能该信息已经被删除或您输入的网址不正确。</p>
<!--                    <p class="errprpage-a">您可以：<a href="" class="btn-a" target="_blank">返回首页</a></p>-->
                </div>
            </div>
            <!-- 用户中心_主体内容_E -->
          </div>
        </div>
    </div>
    #parse("/common/footer.vm")
</body>
</html>