<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>销价管理 - 商品客户定价</title>

    <!-- 公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    #parse("common/header_css_new.vm")

</head>
<body>

    <!--页面主体 -->
    <div class="c-box">

        <div class="user-prompt">可以对同一个客户同一个商品多次设置定价，系统会覆盖之前的设置，只执行最近的一次定价设置。</div>

        <div id='detailBox'></div>

        <script type="text/html" id="detailTpl">
            {{# var good = d.datas; }}
            <div class="user-goods-box mt10 cc">
                <div class="ugb-ctn">
                    <div class="g-img">
                        <img src="{{good.gPic}}">
                    </div>
                    <div class="g-info">
                        <div class="g-name" title="{{good.gName}}">{{good.gName}}</div>
                        <div class="g-size" title="{{good.gLicenseNo}}">{{good.gLicenseNo}}</div>
                        <div class="g-company" title="{{good.gManufacture}}">{{good.gManufacture}}</div>
                    </div>
                </div>
                <div class="ugb-info">
                    <ul class="i-wrap cc">
                        <li class="i-item">
                            <span class="text-l">规格：</span>
                            <span class="text-r">{{good.gSpecifications}}</span>
                        </li>
                        <li class="i-item">
                            <div class="text-l">基价：</div>
                            <div class="text-r" title="{{top.utils.notNullPrice(good.gBasePrice,'--')}}"><span  id="basePrice-{{good.gId}}">{{top.utils.notNullPrice(good.gBasePrice,'--')}}</span>
                                <a class="i-link ml5 edit-bp" href="javascript:void(0)" onclick='reviseBasePrice({{good.gId}},$("#basePrice-{{good.gId}}"))'>修改</a>
                            </div>
                        </li>
                        <li class="i-item">
                            <div class="text-l">客户分组定价数：</div>
                            <div class="text-r focus-act" onclick="gotoDetail('dspkhfzdj','/sales/priceManager/singleGoodGroupPrice.html?gId={{good.gId}}&totalGroupCount={{top.utils.notNull(good.customerGroupCountMax,0)}}&hasSetCount={{top.utils.notNull(good.customerGroupCountMax,0) - top.utils.notNull(good.customerGroupCountMin,0)}}&pathName='+location.href+'&titleBack=商品客户定价','商品客户分组定价');">
                                {{# if(good.customerGroupCountMin < good.customerGroupCountMax ){ }}
                                    <span class="i-red-link">{{top.utils.notNull(good.customerGroupCountMin,'0')}}/{{top.utils.notNull(good.customerGroupCountMax,'0')}}</span>
                                {{# }else if(good.customerGroupCountMin == good.customerGroupCountMax ){ }}
                                    <span class="i-link">{{top.utils.notNull(good.customerGroupCountMin,'0')}}/{{top.utils.notNull(good.customerGroupCountMax,'0')}}</span>
                                {{# } else{ }}
                                    <span class="i-link">{{top.utils.notNull(good.customerGroupCountMin,'0')}}/{{top.utils.notNull(good.customerGroupCountMax,'yen;0')}}</span>
                                {{# } }}
                                {{# if(good.customerGroupPriceMin ==null && good.customerGroupPriceMax==null){ }}
                                {{# }else{ }}
                                <span class="i-note" title="{{# if(good.customerGroupPriceMin <=0 && good.customerGroupPriceMax!=null){ }}--{{# } }}{{# if(good.customerGroupPriceMin ==good.customerGroupPriceMax ){ }}{{top.utils.notNullPrice(good.customerGroupPriceMin,'--')}}{{# } else{ }}{{top.utils.notNullPrice(good.customerGroupPriceMin,'--')}}~{{top.utils.notNullPrice(good.customerGroupPriceMax,'--')}}{{# } }}">(
                                {{# if(good.customerGroupPriceMin == good.customerGroupPriceMax ){ }}
                                    {{top.utils.notNullPrice(good.customerGroupPriceMin,'--')}}
                                {{# } else{ }}
                                    {{top.utils.notNullPrice(good.customerGroupPriceMin,'--')}}~{{top.utils.notNullPrice(good.customerGroupPriceMax,'--')}}
                                {{# } }}
                                )</span>
                                {{# } }}
                           </div>
                        </li>
                        {{# if(good.saleControllerName!="" && good.saleControllerName!=null){ }}
                        <li class="i-item"  onclick="gotoDetail('zgkx','/sales/control/sale_group_edit.html?scgId={{good.scgId}}&keys=&pi=1&backbtn=0','专供控销')" >
                            <div class="text-l">控销名称：</div>
                            <div class="text-r" title="{{good.saleControllerName}}">
                                <a class="i-link" href="javascript:void(0)">{{good.saleControllerName}}</a>
                            </div>
                        </li>
                        {{# } }}
                        {{# if(good.presaleIsOpen){ }}
                        {{# if(good.pdPrice!="" && good.pdPrice!=null){ }}
                        <li class="i-item" onclick="gotoDetail('spys','/sales/presale/{{good.presaleId}}/showPresale.html?backbtn=0','预售')">
                            <div class="text-l">预售价：</div>
                            <div class="text-r" title="{{top.utils.notNullPrice(good.pdPrice,'--')}}">{{top.utils.notNullPrice(good.pdPrice,'--')}}</div>
                        </li>
                        {{# } }}
                        {{# } }}
                    </ul>

                    <ul class="i-wrap cc">
                        <li class="i-item">
                            <span class="text-l">商品编码：</span>
                            <span class="text-r" title="{{top.utils.notNull(good.gSn)}}">{{top.utils.notNull(good.gSn,'--')}}</span>
                        </li>
                        <li class="i-item">
                            <div class="text-l">零售价：</div>
                            <div class="text-r" {{top.utils.notNullPrice(good.gPrice)}}>{{top.utils.notNullPrice(good.gPrice,'--')}}</div>
                        </li>
                        <li class="i-item">
                            <div class="text-l" >客户定价数：</div>
                            <div class="text-r" onclick="gotoDetail('spkhdjxq','/sales/priceManager/customSetDiyPriceDetail.html?gId={{good.gId}}','商品客户定价详情')">
                                <span class="i-link">{{top.utils.notNull(good.customerPriceCount,'0')}}</span>
                                {{# if(good.customerPriceMin == null && good.customerPriceMax ==null){ }}
                                {{# }else{ }}
                               <span class="i-note" title="{{# if(good.customerPriceMin <=0 && good.customerPriceMax!=null){ }}--{{# } }}{{# if(good.customerPriceMin == good.customerPriceMax ){ }}{{top.utils.notNullPrice(good.customerPriceMin,'--')}}{{# } else{ }}{{top.utils.notNullPrice(good.customerPriceMin,'--')}}~{{top.utils.notNullPrice(good.customerPriceMax,'--')}}{{# } }}">(
                                {{# if(good.customerPriceMin == good.customerPriceMax ){ }}
                                    {{top.utils.notNullPrice(good.customerPriceMin,'--')}}
                                {{# } else{ }}
                                    {{top.utils.notNullPrice(good.customerPriceMin,'--')}}~{{top.utils.notNullPrice(good.customerPriceMax,'--')}}
                                {{# } }}
                               )</span>
                                {{# } }}
                           </div>
                        </li>
                        {{# if(top.utils.notNull(good.agreementPriceCount)){ }}
                        <li class="i-item" onclick="gotoDetail('spdj','/sales/goods_price/main.html?gId={{good.gId}}','商品定价')">
                            <div class="text-l">协议价客户数：</div>
                            <div class="text-r">
                                <a class="i-link" title="{{top.utils.notNull(good.agreementPriceCount)}}"  href='javascript:void(0)'>{{top.utils.notNull(good.agreementPriceCount,'--')}}</a>
                            </div>
                        </li>
                        {{# } }}
                    </ul>

                    <ul class="i-wrap cc">
                        <li class="i-item">
                            <span class="text-l">商品内码：</span>
                            <span class="text-r" title="{{top.utils.notNull(good.gInSn)}}">{{top.utils.notNull(good.gInSn,'--')}}</span>
                        </li>
                        <li class="i-item">
                            <div class="text-l">商品状态：</div>
                            <div class="text-r">
                                {{# if(good.gStatus == 1){ }}<span style="color: green;">上架</span>{{# }else{ }}<span class="i-red">下架</span>{{# } }}
                            </div>
                        </li>
                        {{# if(top.utils.notNull(good.pactTitle)){ }}
                        <li class="i-item" onclick="gotoDetail('cxgl','/sales/promotion/{{good.pactType}}/{{good.pactId}}/editUI.html?gId={{good.gId}}status=1&pi=&pactTitle=&pactStartTime=&pactEndTime=&pactType=','促销管理')">
                            <div class="text-l">促销名称：</div>
                            <div class="text-r">
                                <a class="i-link" title="{{top.utils.notNull(good.pactTitle)}}" href='javascript:void(0)'>{{top.utils.notNull(good.pactTitle,'--')}}</a>
                            </div>
                        </li>
                        {{# } }}
                        {{# if(good.noSaleCount!="" && good.noSaleCount!=null){ }}
                        <li class="i-item" onclick="gotoDetail('jxspqdgl','/sales/sale_banned/gy_xsgl.html?gId={{good.gId}}','禁销商品渠道管理')">
                            <div class="text-l">禁销客户数：</div>
                            <div class="text-r">
                                <a class="i-link" title="{{top.utils.notNull(good.noSaleCount)}}"  href='javascript:void(0)'>{{top.utils.notNull(good.noSaleCount,'--')}}</a>
                            </div>
                        </li>
                        {{# } }}
                    </ul>

                    <ul class="i-wrap cc">
                        <li class="i-item">
                            <span class="text-l">旗舰店分类：</span>
                            <span class="text-r" title="{{good.sgcId1}} - {{good.sgcId2}}">{{good.sgcId1}} - {{good.sgcId2}}</span>
                        </li>
                    </ul>

                </div>
            </div>
            {{#  }}
        </script>


        <div class="user-btn mt20 cc">
            <div class="b-text fl">
                <i class="b-t-ps">*</i> 目前您已经添加了<i class="b-t-ps" id="ctsCount">0</i>个客户，您可以对这些客户“<a href="javascript:void(0)" class="b-t-link t-disable" id="batchCtsBtn" onclick="batchAddPrice();">批量填写定价</a>”
            </div>
            <a href="javascript:void(0)" class="btn btn-auto btn-blue fr "  id="addCustom">+增加客户</a>
        </div>


        <div class="user-form user-sheet-box mt10">
            <table class="uf-table" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th width="50" align="center">
                        <div class="user-custom-form fl">
                            <fieldset class="checkboxes">
                                <label for="checkbox-p" class="label_check check-box-prt">
                                    <input type="checkbox" value="" id="checkbox-p"  name="sample-checkbox-p" />
                                </label>
                            </fieldset>
                        </div>
                    </th>
                    <th width="200">客户名称</th>
                    <th>企业内码</th>
                    <th>业务分组</th>
                    <th>企业联系人</th>
                    <th>客户地区</th>
                    <th>定价 <a href="javascript:void(0);" onclick="top.utils.open('https://cms.mypharma.com/info/531','_blank')"  style="color: #0E92CE; font-size:10px;"><span class="question">?</span>填写说明</a></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="customerList">
                <tr>
                    <td colspan="9">
                        <div class="t-none">暂未添加客户，请添加您要定价的客户  <a href="javascript:void(0)" class="t-link" onclick="$('#addCustom').trigger('click');" >马上添加>></a></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="user-btn mt10 cc addSelBox" style="display: none">
                <div class="user-custom-form fl">

                    <fieldset class="checkboxes">
                        <label for="checkbox-p-1" class="label_check check-box-prt" style="padding-left:25px;">
                            <input type="checkbox" value="" id="checkbox-p-1"  name="sample-checkbox-p" />全选
                        </label>
                    </fieldset>

                </div>
                <a href="javascript:void(0)" class="btn btn-auto fl mr10" onclick="batchAddPrice(1);">批量填写定价</a>
                <a href="javascript:void(0)" class="btn btn-auto fl" id="batchDelBtn">批量删除</a>

                <div class="page rocky-page1" style="text-align: right;"></div>
            </div>
        </div>

        <div class="user-btn mt20 tac">
            <a href="javascript:void(0)" class="btn btn-conserve btn-bind-sw t-disable-bg" id="saveBtn"  onclick="saveGGP();" >保存</a>
            <a href="javascript:void(0)" class="btn btn-138" onclick="top.utils.closeTopTab();">取消</a>
        </div>

        <div class="user-btn mt20 cc addSelBox" style="display: none;">
            <div class="usb-btn">
                <div class="b-text query-num-box">
                    <span><i class="b-t-ps">*</i> 提示：橙色字体 表明上述商品中有对该客户已设置过“客户定价”，重新设置后会覆盖原有的定价，请保证本次设置正确即可。</span>
                </div>
            </div>
        </div>

    </div>


    <script type="text/html" id="ctsListTpl">
        {{# if(d && !d.error && d.datas.length){ }}
        {{# $.each(d.datas,function(index,item){  var $index = (index + 1) + (d.pi-1)*d.ps; }}
        <tr data-eid="{{item.eid}}">
            <td>
                <div class="user-custom-form fl ml10">
                    <fieldset class="checkboxes">
                        <label for="checkbox-0{{$index}}" class="label_check check-box-child" style="vertical-align: middle;">
                            <input data-good='{{JSON.stringify(item)}}' type="checkbox"  value="{{item.eid}}" id="checkbox-0{{$index}}" data-eid="{{item.eid}}" name="sample-checkbox-0{{$index}}" />
                        </label>
                    </fieldset>
                </div>
            </td>
            <td {{# if($.inArray(item.eid,hasPrice) > -1){ }} style="color:#FFA000;" {{# } }}>
                {{top.utils.notNull(item.smName)}}</td>
            <td>{{top.utils.notNull(item.smInternalCode)}}</td>
            <td>{{top.utils.notNull(item.sctName)}}</td>
            <td>
                <div class="price-multi">
                    {{top.utils.notNull(item.eContactor)}}<br>{{top.utils.notNull(item.eMobile)}}
                </div>
            </td>
            <td>
                {{top.utils.notNull(item.eProvinceName)}}
                {{# if(item.eProvinceName){ }}
                {{top.utils.notNullBeforePix(item.eCityName,' - ')}}
                {{# }else{ }}
                {{top.utils.notNull(item.eCityName)}}
                {{# } }}
                {{# if(item.eCityName){ }}
                {{top.utils.notNullBeforePix(item.eRegionName,' - ')}}
                {{# }else{ }}
                {{top.utils.notNull(item.eRegionName)}}
                {{# } }}
            </td>
            </td>
            <td>
                {{# if(item.priceFloat){ }}
                <div class="user-custom-form user-choose-form">
                    <fieldset class="radios">
                        <label for="radio-{{index}}-1" class="label_radio">
                            <input type="radio" checked  value="1" id="radio-{{index}}-1" name="radio-{{index}}" />在“基价”基础上：<i class="fl-t">{{# if(item.priceFloat>0){ }}上浮{{# }else if(item.priceFloat==0){ }}浮动{{# }else if(item.priceFloat<0){ }}下浮{{# }else{  }}浮动{{# } }}</i>
                        </label>
                        <div class="user-choose-amount fl">
                            <input class="amount percent" type="text" value="{{top.utils.notNull(item.priceFloat)}}" >
                            <a href="javascript:void(0)" class="down count-up"></a>
                            <a href="javascript:void(0)" class="up count-down"></a>
                        </div>
                        <span class='r-text fl'>%；</span>
                        <span class="r-text fl drt-text" {{# if(GoodLists.length == 1){ }}{{# }else{ }}style="display: none;"{{# } }}>售价：&yen;<b class="float-price">{{# if(GoodLists.length == 1){ }}{{top.utils.toFixed((GoodLists[0].gBasePrice*(1+parseFloat(item.priceFloat)/100)),2)}}{{# } }}</b></span>
                    </fieldset>
                </div>
                <div class="user-custom-form user-choose-form set-single-price">
                    <fieldset class="radios">
                        <label for="radio-{{index}}-2" class="label_radio">
                            <input type="radio"  value="2" id="radio-{{index}}-2" name="radio-{{index}}" />直接输入销售价格
                        </label>
                        <span class="r-text fl ml13">¥</span>
                        <input maxlength="11"  class="c-input dirctPrice" readonly  type="text" value="{{top.utils.notNull(item.groupPrice)}}"  >#*c-input-error  错误样式*#
                        <span class="r-text fl">元</span>
                    </fieldset>
                </div>
                {{# }else if(item.groupPrice){ }}
                <div class="user-custom-form user-choose-form">
                    <fieldset class="radios">
                        <label for="radio-{{index}}-1" class="label_radio">
                            <input type="radio"  value="1" id="radio-{{index}}-1" name="radio-{{index}}" />在“基价”基础上：<i class="fl-t">上浮</i>
                        </label>
                        <div class="user-choose-amount fl">
                            <input class="amount percent" readonly type="text" value="" >
                            <a href="javascript:void(0)" class="down count-up"></a>
                            <a href="javascript:void(0)" class="up count-down"></a>
                        </div>
                        <span class='r-text fl'>%；</span>
                        <span class="r-text fl drt-text" style="display: none;">售价：&yen;<b class="float-price"></b></span>
                    </fieldset>
                </div>
                <div class="user-custom-form user-choose-form set-single-price">
                    <fieldset class="radios">
                        <label for="radio-{{index}}-2" class="label_radio">
                            <input type="radio" checked  value="2" id="radio-{{index}}-2" name="radio-{{index}}" />直接输入销售价格
                        </label>
                        <span class="r-text fl ml13">¥</span>
                        <input maxlength="11"  class="c-input dirctPrice"  type="text" value="{{top.utils.notNull(item.groupPrice)}}"  >#*c-input-error  错误样式*#
                        <span class="r-text fl">元</span>
                    </fieldset>
                </div>
                {{# }else{ }}
                <div class="user-custom-form user-choose-form">
                    <fieldset class="radios">
                        <label for="radio-{{index}}-1" class="label_radio">
                            <input type="radio" checked  value="1" id="radio-{{index}}-1" name="radio-{{index}}" />在“基价”基础上：<i class="fl-t">{{# if(item.priceFloat>0){ }}上浮{{# }else if(item.priceFloat==0){ }}浮动{{# }else if(item.priceFloat<0){ }}下浮{{# }else{  }}浮动{{# } }}</i>
                        </label>
                        <div class="user-choose-amount fl">
                            <input class="amount percent" type="text" value="{{top.utils.notNull(item.priceFloat)}}" >
                            <a href="javascript:void(0)" class="down count-up"></a>
                            <a href="javascript:void(0)" class="up count-down"></a>
                        </div>
                        <span class='r-text fl'>%；</span>
                        <span class="r-text fl drt-text" style="display: none;">售价：&yen;<b class="float-price"></b></span>
                    </fieldset>
                </div>
                <div class="user-custom-form user-choose-form set-single-price">
                    <fieldset class="radios">
                        <label for="radio-{{index}}-2" class="label_radio">
                            <input type="radio"  value="2" id="radio-{{index}}-2" name="radio-{{index}}" />直接输入销售价格
                        </label>
                        <span class="r-text fl ml13">¥</span>
                        <input maxlength="11"  class="c-input dirctPrice" readonly  type="text" value="{{top.utils.notNull(item.groupPrice)}}"  >#*c-input-error  错误样式*#
                        <span class="r-text fl">元</span>
                    </fieldset>
                </div>
                {{# } }}

            </td>
            <td>
                <a href="javascript:void(0)" class="t-link del-cts" >删除</a>
            </td>
        </tr>
        {{# }); }}

        {{# }else{ }}
        <tr>
            <td colspan="9">
                <div class="t-none">暂未添加客户，请添加您要定价的客户  <a href="javascript:void(0)" class="t-link" onclick="$('#addCustom').trigger('click');" >马上添加>></a></div>
            </td>
        </tr>
        {{# } }}

    </script>

    <script type="text/html" id="batchAddPriceTpl">
        <div class="xjgl-dialog-ctn">
            <div class="xdc-text">您正在对<i class="d-red">{{d.cCount}}</i>个客户批量设置定价</div>
            <div class="user-custom-form user-choose-form"  style="margin-top:10px;">
                <fieldset class="radios">
                    <label for="radio-s-1" class="label_radio">
                        <input type="radio"   value="1" id="radio-s-1" name="radio-s" />在“基价”基础上：<i class="fl-t">浮动</i>
                    </label>
                    <div class="user-choose-amount fl">
                        <input class="amount percent" type="text" readonly >
                        <a href="javascript:void(0)" class="down count-up"></a>
                        <a href="javascript:void(0)" class="up count-down"></a>
                    </div>
                    <span class='r-text fl'>%；</span>
                    <span class="r-text fl drt-text" style="display: none;">{{# if(GoodLists.length == 1){ }}售价：&yen;<b class="float-price"></b>{{# } }}</span>
                </fieldset>
            </div>
            <div class="user-custom-form user-choose-form set-single-price" style="margin-top:10px;">
                <fieldset class="radios">
                    <label for="rradio-s-1" class="label_radio">
                        <input type="radio" value="2" id="radio-s-1" name="radio-s" />直接输入销售价格
                    </label>
                    <span class="r-text fl ml13">¥</span>
                    <input  maxlength="11" class="c-input dirctPrice" readonly type="text" >#*c-input-error  错误样式*#
                    <span class="r-text fl">元</span>
                </fieldset>
            </div>
            <div class="xdc-btn tac" style="text-align: center; margin:15px;">
                <a href="javascript:void(0)" class="btn">保存定价</a>
            </div>
            <div class="xdc-info">
                重要提示：<br>
                1、浮动框可输入：+, －正负的整数  或  0；<br>
                2、0为按照基价销售，正数为上浮，负数为下浮；<br>
                3、直接定价时请输入大于0的数字，可保留两位小数；<br>
                4、多个商品时，不可直接输入销售价格；
            </div>
        </div>
    </script>

        #parse("common/header_js_new.vm")
    <script src="/front/js/spjg/spjgCtrl.js?v=$!{jscss_version}"></script>
        <!--添加客户弹出层-->

    <script>
        var layer,laypage,laytpl,GoodLists = [], CtsLists = [], nowPage = 1 ,gId , hasPrice = [];
        layui.config({
            base:'/js/layui/extend/'
        }).use(['layApp','layer','laypage','laytpl'],function () {
            layer = layui.layer,laypage = layui.laypage , laytpl = layui.laytpl;
            $(function(){
                $('body').addClass('user-has-js');

                gId = getUrlParam("gId");
                if(!gId){
                    top.ue.alert({content:"参数缺失，无法正常加载页面，请联系客服，<span style='color:red'>错误码：GID404</span>"});
                    return false;
                }
                /*if(!gId){
                    top.ue.msg("缺少必须参数",{},function () {
                        top.utils.closeTopTab();
                    });
                }*/

                $(".btn-reset").on("click",function () {
                    $("#searchForm").get(0).reset();
                    $("[type=hidden]").val(null);
                    $(".usb-select2,.usb-select2-s").each(function () {
                        $(this).select2("destroy");
                        initSelect();
                    })
                })

                bindEvt();

                $("#addCustom").on("click",function () {
                    var _sels = [];
                    $.each(CtsLists,function (i,e) {
                        _sels.push(e.eid);
                    })
                    top.ue.getCustomersModal({
                        hasSels:_sels,
                        newUI:true,
                        yes: function (idx, lay, selDatas) {
                            selDatas.push.apply(selDatas,CtsLists);
                            CtsLists = selDatas;
                            $("#ctsCount").text(CtsLists.length);
                            if(CtsLists.length){
                                $(".addSelBox").show();
                                setTextDisable(false)
                            }else {
                                $(".addSelBox").hide();
                                setTextDisable(true)
                            }

                            getCtsFromAdd();
                            return true;
                        }
                    });
                })
                $("#batchDelBtn").on("click",function () {
                    var _sels = getSelIds("#customerList","eid");
                    if(_sels.length){
                        top.rui.dynamic({
                            title:"",
                            skin: "dialog-old dialog-old-no-title",
                            content:"<p style='margin: 40px auto 0;text-align: center;'>您正在删除"+_sels.length+"个客户，是否确定删除？</p>",
                            area:['420px','220px'],
                            yes:function (idx,lay) {
                                top.ue.close(idx);
                                $.each(_sels,function (i,e) {
                                    $("#customerList").find("[data-eid="+e+"]").remove();
                                    remCtsData(e);
                                });
                                $(".check-box-prt").each(function () {
                                    $(this).find(":checkbox").prop("checked",false);
                                })
                                getCtsFromAdd(nowPage);
                            }
                        })
                    }else{
                        layer.msg("请先选择客户");
                        return false;
                    }
                })

                $(".check-box-prt").each(function () {
                    $(this).on("click",function () {
                        var _check = $(this).find("input:checkbox").prop("checked") || false;
                        $(".check-box-prt").not($(this)).find("input:checkbox").prop("checked",!_check);
                    })
                })

            });

            setTimeout(function () {

                top.utils.ajax({
                    url:'/api/priceManage/sales/goods_price/findGoodsPriceEidByGid',
                    data:{gid:gId},
                    success:function(data,res) {
                        hasPrice = data;
                    }
                })


                getGood();


                /*业务分组：*/
                $.ajax({
                    url:"/api/customerGoodsPriceManage/price/query/shopCustomerType",
                    type:'post',
                    success:function (res) {
                        if(res && res.code == 0 && res.data){
                            var shopCustomerJson = res.data.result;
                            $.each(shopCustomerJson,function(i,n){
                                $('#sctSelect').append('<option value='+n.sctId+'>'+n.sctName+'</option>');

                            })
                        }
                    }
                })
            },300)


        })

        function getGood() {
            top.utils.ajax({
                url:'/api/customerGoodsPriceManage/price/detail',
                data:{gId:gId},
                success:function (data) {
                    data.gId = gId;
                    GoodLists = [];
                    GoodLists.push(data);
                    $("#detailBox").html(laytpl($("#detailTpl").html()).render({datas:data}));
                    initGoodsWidth();
                },
                error:function() {
                    $("#detailBox").html(laytpl($("#detailTpl").html()).render({error:true}));
                }
            })
        }

        /*根据添加的客户重新生成分页列表*/
        var _cPs = 10;
        function getCtsFromAdd(cpi) {
            if(!CtsLists.length) {
                $("#customerList").html(laytpl($("#ctsListTpl").html()).render({error:true}));
                setTextDisable(false);
                $(".addSelBox").hide()
                return false;
            }

            cpi = cpi || 1;
            var _pages = parseInt((CtsLists.length + _cPs - 1)/_cPs);
            if(cpi > _pages) cpi = _pages;
            laypage({
                cont: $(".rocky-page1",document.body), //容器。值支持id名、原生dom对象，jquery对象,
                pages: _pages, //总页数
                skin: "#0f93ce",
                skip:true,
                curr:cpi,
                groups: 5 //连续显示分页数 总页数少于此数时不显示第一页和最后一页
                ,jump:function (obj,first) {
                    var _page = obj.curr , _lPage = $(obj.cont,document.body);
                    nowPage = _page;
                    if(_page > 9 && _page < 100){
                        _lPage.addClass("two");
                    }else if(_page > 99){
                        _lPage.addClass("three");
                    }else{
                        _lPage.addClass("one");
                    }
                    _lPage.find(".layui-laypage-total").css("color","#333").prepend("<b style='font-weight: 100; margin-right: 10px; color: #333;'>共"+_pages+"页/"+CtsLists.length+"条数据</b>");
                    var _start = (obj.curr - 1) * _cPs;
                    var _data = CtsLists.slice(_start,_start + _cPs);

                    $("#customerList").html(laytpl($("#ctsListTpl").html()).render({datas:_data,pi:obj.curr,ps:_cPs}));

                    //setDisableOrOpen();
                    bindEvt();

                    $("#customerList").find(".del-cts").each(function () {
                        $(this).unbind("click").on("click",function () {
                            $(this).closest("tr").remove();
                            remCtsData($(this).closest("tr").data("eid"));
                            getCtsFromAdd(nowPage);
                        })
                    })

                    $(".check-box-prt").each(function () {
                        $(this).on("click",function () {
                            var _check = $(this).find("input:checkbox").prop("checked") || false;
                            $(".check-box-prt").not($(this)).find("input:checkbox").prop("checked",!_check);
                        })
                    })

                    if(CtsLists.length==0){
                        $("#saveBtn").addClass("btn-disabled");
                        setTextDisable(true);
                    }else{
                        $("#saveBtn").removeClass("btn-disabled");
                        setTextDisable(false);
                    }

                }
            });
            if(CtsLists.length==0){
                $("#saveBtn").addClass("btn-disabled");
                setTextDisable(true);
                $(".addSelBox").hide()
            }else{
                $("#saveBtn").removeClass("btn-disabled");
                setTextDisable(false);
                $(".addSelBox").show()
            }
        }

        /*删除指定行的客户数据*/
        function remCtsData(eid) {
            $.each(CtsLists,function (i,e) {
                if(e && e.eid == eid){
                    CtsLists.splice($.inArray(e,CtsLists),1);
                    setDisableOrOpen();
                }
            })
            $("#ctsCount").text(CtsLists.length);
            if(CtsLists.length){
                $(".addSelBox").show();
                $("#saveBtn").removeClass("btn-disabled");
                setTextDisable(false);
            }else {
                $(".addSelBox").hide();
                $("#saveBtn").addClass("btn-disabled");
                setTextDisable(true);
            }
        }

        function setDisableOrOpen(doc) {
            doc = doc || document.body;
            if(GoodLists.length == 1){
                $(".set-single-price",doc).find(".radios").removeClass("disable").find("input:text").prop("disabled",false);
                $(".set-single-price",doc).find(".label_radio").removeClass("disable");
            }else{
                $(".set-single-price",doc).find(".radios").addClass("disable").find("input:text").prop("disabled",true);
                $(".set-single-price",doc).find(".label_radio").addClass("disable");
                $(".set-single-price",doc).prev(".user-choose-form").find("label").click();
                $(".set-single-price",doc).find(".radios").css('color', '#ccc');
                $(".set-single-price",doc).find("input").css('background-color', '#f5f5f5');
            }
        }

        /**
         * 批量设置分组价格
         */
        function batchAddPrice(isSpc) {
            if(!GoodLists.length) {
                layer.msg("请先选择商品！");
                return;
            }
            if($("#batchCtsBtn").hasClass("b-disabled")){
                return false;
            }
            if(!CtsLists.length){
                top.ue.msg("请先添加客户");
                return false;
            }
            var _sels = getSelIds("#customerList","eid");
            _d = {
                gCount: GoodLists.length,
                cCount: CtsLists.length
            }
            if(isSpc){
                if(_sels.length){
                    _d.cCount = _sels.length;
                }else{
                    layer.msg("请先选择客户");
                    return false;
                }
            }
            top.rui.dynamic({
                title:"批量填写定价",
                skin:"new_dialog_ui",
                content:laytpl($("#batchAddPriceTpl").html()).render(_d),
                area:['600px'],
                btn:false,
                success:function (lay,idx) {
                    bindEvt(lay);
                    setDisableOrOpen(lay);
                    lay.find(".btn").on("click",function () {
                        var _per = $(lay).find(".percent").val() , _dp = $(lay).find(".dirctPrice").val();
                        if(_per == "" && _dp == ""){
                            top.ue.msg("请您输入定价");
                            return false;
                        }
                        var v = lay.find(":radio:checked").val();
                        var _base = GoodLists[0].gBasePrice || 0;
                        var _floatPrice = top.utils.toFixed(_base + _base*_per/100,2);
                        if(isSpc){
                            $.each(_sels,function (i,e) {
                                var _tr = $("#customerList").find("tr[data-eid="+e+"]");
                                _tr.find(".percent").val(_per);
                                _tr.find(".dirctPrice").val(_dp);
                                _tr.find(".label_radio :radio[value="+v+"]").click();
                                if(v == 1){
                                    _tr.find(".drt-text").show();
                                    _tr.find(".float-price").text(parseFloat(_floatPrice).toFixed(2));
                                }else{
                                    _tr.find(".drt-text").hide()
                                }
                                if(GoodLists.length == 1 && _per){
                                    _tr.find(".drt-text").show().find(".float-price").text(_floatPrice);
                                    if(_per<0){
                                        _tr.find(".fl-t").text('下浮');
                                    }else _tr.find(".fl-t").text('上浮');
                                }else{
                                    _tr.find(".drt-text").hide()
                                }
                            })
                        }else{
                            $(".percent").val(_per);
                            $(".dirctPrice").val(_dp);
                            $(".label_radio :radio[value="+v+"]").click();
                            if(GoodLists.length == 1 && _per){
                                $(".drt-text").show().find(".float-price").text(_floatPrice);
                                if(_per<0){
                                    $(".fl-t").text('下浮');
                                }else $(".fl-t").text('上浮');
                            }else{
                                $(".drt-text").hide()
                            }
                        }

                        $.each(CtsLists,function (i,cts) {
                            if(isSpc){
                                if($.inArray(cts.eid,_sels) > -1){
                                    if(v ==1){
                                        CtsLists[i].priceFloat = _per;
                                        CtsLists[i].groupPrice = null;
                                    }else{
                                        CtsLists[i].priceFloat = null;
                                        CtsLists[i].groupPrice = _dp;
                                    }
                                }
                            }else{
                                if(v ==1){
                                    CtsLists[i].priceFloat = _per;
                                    CtsLists[i].groupPrice = null;
                                }else{
                                    CtsLists[i].priceFloat = null;
                                    CtsLists[i].groupPrice = _dp;
                                }
                            }
                        })
                        top.ue.close(idx);
                    })
                    $(".check-box-prt").each(function () {
                        $(this).on("click",function () {
                            var _check = $(this).find("input:checkbox").prop("checked") || false;
                            $(".check-box-prt").not($(this)).find("input:checkbox").prop("checked",!_check);
                        })
                    })
                }
            })
        }


        /**
         * 保存
         * @returns {boolean}
         */
        function saveGGP() {
            if($("#saveBtn").hasClass("btn-disabled")){
                return false;
            }

            var _data = {
                gids:gId
            };

            var _empArr = [];
            var _groupPriceArray = [];
            $.each(CtsLists,function (i,e) {
                var _cts = {
                    eId:e.eid,
                    priceFloat:"",
                    price:""
                };
                if(GoodLists.length > 1){
                    if(e.priceFloat){
                        _cts.priceFloat = e.priceFloat;
                    }else _empArr.push(i+1);
                }else{
                    if(e.priceFloat || e.groupPrice){
                        _cts.priceFloat = e.priceFloat;
                        _cts.price = e.groupPrice;
                    }else  _empArr.push(i+1);
                }
                _groupPriceArray.push(_cts);
            })
            if(!_groupPriceArray.length){
                top.ue.msg("请先添加客户并设置客户定价");
                return false;
            }
            if(_empArr.length){
                top.ue.msg("还有 "+_empArr.length+" 个客户尚未设置定价");
                return false;
            }
            var groupPriceVo = {};
            groupPriceVo.goodsPrices = _groupPriceArray;
            var groupPriceJson = $.toJSON(groupPriceVo);
            top.utils.ajax({
                url:"/api/customerGoodsPriceManage/price/batchSave/batchSaveGoodsPrices",
                data:{
                    "gids" : _data.gids,
                    "goodsPrices" : groupPriceJson,
                    "flag" : 2
                },
                success:function (data,res) {
                    top.ue.alert({
                        content:"成功对"+_groupPriceArray.length+"个客户设置定价",
                        ok:function (idx) {
                            /*var pathName= getUrlParam("pathName") || location.href;
                            //pathName = pathName+'?gId='+gId;
                            var titleBack= getUrlParam("titleBack") || '商品客户定价';
                            var gp = getUrlParam("gp");

                            top.utils.iframeLoad();
                            top.utils.closeTopTab(null,true,function(){
                                if(!gp) top.utils.openWithTab('dspkhdj', '商品客户定价',pathName, {refresh: true,fstBread:'销价管理',scdBread:'客户定价',thirdBread:'商品客户定价'});
                                else top.utils.openWithTab(top.utils.getRandom(), titleBack,pathName, {refresh: true,fstBread:'商品价格'});
                            })*/
                            top.ue.close(idx);
                            top.utils.closeExitsTab(top.utils.getActTab().dom);
                        }
                    })
                },error:function () {
                    top.ue.alert({
                        content:"抱歉，客户定价设置失败"
                    })
                }
            })
        }


        /*修改基价*/
        function reviseBasePrice(gid,bPriceDom) {

            var bPrice = $(bPriceDom).text().replace(/¥/g,'');

            var modelText = '<div class="dialog" id="modelText"><div class="xdc-form cc" style="margin:0 auto;"><span class="text">输入基价：</span><input class="input" type="text" maxlength="11"  name="basePrice"><span class="text">元</span></div></div>';
            top.rui.dynamic({
                title: '设置基价',
                content: modelText,
                skin: "dialog-old dialog-old-no-title xjgl-dialog-ctn",
                area: ['400px', '200px'],
                btn: ['保存'],
                success: function (lay, idx) {
                    bindEvt(lay);
                    lay.find('input[name="basePrice"]').val(bPrice);
                },
                yes: function (idx, lay) {
                    var basePrice = parseFloat($('input[name="basePrice"]', lay).val()).toFixed(2);
                    if(basePrice <= 0 || !basePrice || basePrice=='NaN') {
                        top.layer.msg('基价须大于0');
                        return false;
                    }
                    $.ajax({
                        url: "/api/priceManage/updateGoodsGBasePrice",
                        data: {gid: gId, gBasePrice: basePrice},
                        type: 'get',
                        success: function (res) {
                            if (res.code != 0) {
                                top.layer.msg(res.message);
                            }
                            else {
                                $("#basePrice-"+gid).html("&yen;"+basePrice);
                                updateBaseIns(basePrice)
                                top.ue.close(idx);
                                top.ue.msg("修改基价成功");
                                getGood();
                                return;
                            }
                        }
                    })
                }
            })
        }

    </script>

</body>
</html>