<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>热销商品管理 -我的医药网</title>
    
    <!-- mypharma_公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    
    <!-- mypharma_样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/validate.css?v=$!{jscss_version}">
       
    <!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
      <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
      <script type="text/javascript">
	    DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
    
  </head>
 
  <body>
    <div class="container">
       #parse("common/header_top.vm")
       #parse("common/header.vm")
       <div class="content">
        <div class="wrap cc">
			#parse("common/left_menu_sales.vm")
          
          <div class="user_right fl">
            <!-- 用户中心_主体内容_S -->
            <div class="indmain">
                <div class="path">
                    <p><a href="/sales/index.html" class="color">销售中心</a> &gt; 商城管理 &gt; 热销商品管理</p>
                </div>
                <div class="order_query order">
                   <form action="/sales/store/industryHot_main.html" method="post" id="searchForm">
                                <input type="hidden" name="pi" value="$!pi">
								<input type="hidden" name="ps" value="$!ps">
                        <ul> 
                            <li>
                                <label>商品名称：</label><input name="gName" type="text" value="$!{gName}" class="w-txt w103">
                            </li>
                            <li>
                                <label>商品编码：</label><input name="gSn" type="text" value="$!{gSn}" class="w-txt w103">
                            </li>
                            <li>
                                <label>商品内码：</label><input name="gInSn" type="text" value="$!{gInSn}" class="w-txt w103">
                            </li>
                            <li>
                                <label>商品助记码：</label><input name="gNameCode" type="text" value="$!{gNameCode}" class="w-txt w103">
                            </li>
                            <li>
	                            <label>销售区域：</label>
	                            <div class="sltitem sltitem-120">
	                                <span></span>
	                                <ul>
	                                       #if(!$null.isNull($!{siteFactoryList}) && ($!siteFactoryList.size()!=0))
	                                        #foreach($item in $siteFactoryList)
	                                        <li data-value="$!{item.siteId}"><a href="javascript:;">$!item.siteName</a></li>                                         
	                                        #end                              
	                                       #end 
	                                </ul>
	                                <input type="hidden" name="siteId" id="siteId">
	                            </div>
                        	</li>
                        </ul>
                       <div class="btn">
                       <a href="javascript:searchPager('/sales/store/industryHot_main.html',false);" class="btn_query">查询</a>
                       <a href="javascript:searchPager('/sales/store/industryHot_main.html',true);" class="btn_query btn_export">清空查询条件</a>
                       </div>               
                    </form>
                </div>
                <div class="order_detail">         
                    <div class="btn-box">
                    	<a href="javascript:addGoods();" class="btn_add" id="sel-a">添加</a>
                    	<div class="fr user_cx_tips mt10">功能说明：用于旗舰商城首页热销商品板块推荐显示，每个销售区域最多可显示8个商品。</div>
                    </div>  
                    <div class="table">
                        <table cellpadding="0" cellspacing="0">
                            <thead class="head">
                                <tr class="line">
                                    <th width="150px">商品名称</th>
                                    <th>商品编码</th>
                                    <th>商品内码</th>
                                    <th width="150px">销售区域</th>
                                    <th width="80px">销量</th>
                                    <th width="150px">创建时间</th>
                                    <th width="60px">热销状态</th>
                                    <th width="50px">排序</th>
                                    <th width="100px">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            #if(!$null.isNull($shopHotList) && $shopHotList.size()>0)
	                            #foreach($shopHot in $shopHotList)
	                               <tr>
                                    <td>$!{shopHot.goods.gName}</td>
                                    <td>$!{shopHot.goods.gSn}</td>
                                    <td>$!{shopHot.goods.gInSn}</td>
                                    <td 
                                    #if($!goodSiteNameMap && $!goodSiteNameMap.get($!{shopHot.gId}))
                                    title="$!goodSiteNameMap.get($!{shopHot.gId})"
                                    #end
                                    >
                                    	#if($!goodSiteNameMap && $!goodSiteNameMap.get($!{shopHot.gId}))
                                    		$!utils.substring($!goodSiteNameMap.get($!{shopHot.gId}),13)
                                    	#end
                                    </td>
                                    <td>
                                    #if($!{shopHot.goods.gTotal})
                                       $!{shopHot.goods.gTotal}
                                    #else
                                       0
                                    #end
                                    </td>
                                    <td>$!utils.formatDate($!{shopHot.shAddTime},"yyyy-MM-dd HH:mm:ss")</td>
                                    <td>
                                    #if($!{shopHot.shStatus} == 1)
                                                                                                                     启用
                                    #else
                                                                                                                    停用
                                    #end
                                    </td>
                                    <td>$!{shopHot.shOrder}</td>
                                    <td>
                                    <a href="javascript:editItem($!shopHot.shId,'edit');" class="btn-txt">修改</a>
                                    <a href="javascript:hotDel($!shopHot.shId);" class="btn-txt">删除</a>
                                    </td>
                                   </tr>
	                            #end
	                        #else
	                           <tr>
	                             <td colspan="9">无相关数据！</td>
	                           </tr>
                            #end
                            </tbody>
                        </table>
                        <!--分页开始 -->
							#if($!{pagerInfo})
								#if($!{pagerTotal} > 1)
									#pagerInfo($!pagerInfo,$!{pagerTotal},"/sales/store/industryHot_main.html")
								#end
							#end
						<!--分页结束 -->
                    </div>
                </div>
            </div>
            <!-- 用户中心_主体内容_E -->
          </div>
        </div>
      </div>
    </div>
    #parse("/common/footer.vm")
  
    <!-- mypharma_脚本 -->
    <script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/publish.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/pop_div.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/pager.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/jquery.validate.min.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/messages_zh.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
	<script src="/js/dialog/dialog.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/jquery.json-2.2.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/js/industryGoodsHelper.js?v=$!{jscss_version}" type="text/javascript"></script>
    <script src="/h5/res/layer2/layer.js?v=$!{jscss_version}"></script>
    #parse("common/common_script.vm")
    <script type="text/javascript">
    $(function(){
    $.sltitem.select("siteId", "$!siteId");
    })
    function checkForm(lay) {
        $("#editHotForm",lay).validate({
            submitHandler: saveItem, //如果验证通过的回调函数
            rules: {
            	shOrder: {
                	required: true,
                	digits: true
                }
                
            },
            messages: { 
            	shOrder: {
					required: "请输入 排序",
					digits: "请输入整数"
                }
            }
           
        });
    }
    
	function checkGInSnValue(url,type){
		var gInSns = $("#gInSns").val();
		if(gInSns == undefined){
			searchGoodsPager1(url,type);	
		}else{
			gInSns = gInSns.replace("，",",").replace(/\s+/g,"");
			$("#gInSns").val(gInSns);
			if(gInSns.split(",").length>200 && url.indexOf("?")==-1){
				dialog({
		            title: "提示信息",
		            content: "Sorry,您每次最多可导入200个内码，您可以分多次导入商品。",
		            width: 300
		        });
				return false;
			}else if(url!=""){
				searchGoodsPager1(url,type);	
			}
		}
	}
	function searchGoodsPager1(url,flag,isSearchButton) {
        var _lay = top.$("#layui-layer" + top.app.dialog_goods_idx);
		var mask = $("#popUpMaskP");
		var dialog = $("#popUpDIVP");
		var obj = {};
		if(!flag){
		   //点击查询按钮的时候
		   if(isSearchButton){
			   $("#searchGoodsForm input[name=pi]",_lay).val(1);
		   }
		   obj = $("#searchGoodsForm",_lay).serialize();
		}else{
		   obj = {"ppId":$("#ppId",_lay).val()};
		}
		top.ue.load();
	        $.ajax({
	            url: url,
	            type: "POST",
	            data: obj,
	            cache: false,
                complete:function () {
                    top.ue.closeLoad();
                },
	            success: function (result) {
		            if (result.success == false) {
		            	dialog({
		                       title: "提示信息",
		                       content: result.message,
		                       width: 400
		                   });
		            }else{
						/*//显示弹出层与遮照层
						showPopUpDIV(dialog,mask);
						//设置弹出框内容
						document.getElementById("content").innerHTML = result;
							initSelect();*/
                        _lay.find(".layui-layer-content").html(result);
                        top.rui.initTools(_lay);
		            }
	            }
	        });
	}


	
	function initSelect(){
		$.sltitem.select("haiZhisiteId", $!("#haiZhisiteId").val());
		$(".sltitem","#popUpDIVQ").click(function(e){
			e.stopPropagation();
			var len = $(this).find('li').length;
			$(this).find("span").addClass("on");
			if(len > 6){
				$(this).find("ul").css('height','120px').show();
			}else{
				$(this).find("ul").show();
			}		
		});
		
		
		$(".sltitem li","#popUpDIVQ").click(function(e){
			e.stopPropagation();
			var text = $(this).text();
			var value = $(this).data("value");
			$(this).closest("ul").prev().text(text).removeClass("on");
			$(this).closest("ul").next().val(value);
			$(this).closest("ul").next().change();
			$(this).closest("ul").hide();
		});
	}
	
	
  //添加商品
    function addGoods(){
	  $("#content").load("/sales/store/industryGoodsHelper.html",function(){
		  initSelect()
	  });
	  var mask = $("#popUpMaskQ");
	  var dialog = $("#popUpDIVQ");
	  //showPopUpDIV(dialog,mask);
		top.ue.load();
		$.ajax({
			url:"/sales/store/industryGoodsHelper.html",
			complete:function () {
				top.ue.closeLoad();
            },
			success:function (res) {
                top.app.dialog_goods_idx = top.rui.dynamic({
                    title:"添加商品",
                    skin:'dialog-old',
                    content:res,
                    area:['1250px'],
                    end:function () {
                        top.app.dialog_goods_idx = null;
                    },
                    yes:function (idx,lay) {
                        saveGoods(idx, lay)
                    }
                })
            }
		})


	  
//     	var mask = $("#popUpMaskQ");
// 		var dialog = $("#popUpDIVQ");
//             $.ajax({
//                 url: "/sales/store/goods_help.html",
//                 type: "POST",
//                 data: {},
//                 dataType: "html",
//                 cache: false,
//                 success: function (result) {
//     	            if (result !== "") {
//     	            	//设置弹出框内容
// 						document.getElementById("content").innerHTML = result;
// 						//显示弹出层与遮照层
// 						showPopUpDIV(dialog,mask);
//     	            }
//                 }
//             });
    }
  
  
  //保存商品
    function saveGoods(idx,lay){
    	var length = $("input[name='chk']:checked",lay).length;
    	if(length == 0){
    		dialog({
                title: "提示信息",
                content: "请选择你要添加的商品",
                width: 300
            });
    		return ;
    	}
    	var gIds = [];
    	$("input[name='chk']:checked",lay).each(function(){
    		gIds.push($(this).attr("id"));
    	});
    	
    	var gIdJson = $.toJSON(gIds);
    	
       //判断是否已经添加过
        top.ue.load();
    	$.ajax({
            url: "/sales/store/industryHot_isExist.html",
            type: "POST",
            data: {"ids":gIdJson},
            dataType: 'json',
            cache: false,
            complete:function () {
                top.ue.closeLoad();
            },
            success: function (result) {
                if (result.success == false) {
                	dialog({
                           title: "提示信息",
                           content: result.message,
                           width: 300
                       });
                }else{
                	//重复添加的时候
                	if(result.data && result.data.length>0){
                		var msg = "以下商品已添加过，不能重复添加<table border='1px;'>";
                	    msg += "<tr><th width='100'>商品ID</th><th>商品名称</th></tr>";
                	    var item = result.data;
                	    for(var index in item){
                	    	msg +="<tr>";
                	    	msg +="<td><span style='color:red'>"+item[index].gid+"</span></td>";
                	    	msg +="<td><span style='color:red'>"+item[index].goods.gname+"</span></td>";
                	    	msg +="</tr>";
                	    }
                		msg += "</table>"
                        top.ue.alert({
                            title: "提示信息",
                            content: msg,
                            area: ['400px']
                        });
                		return ;
                	}else{
                		//验证通过
                		$.ajax({
                            url: "/sales/store/industryHot_batchAdd.html",
                            type: "POST",
                            data: {"jsonParam":gIdJson},
                            dataType: 'json',
                            cache: false,
                            success: function (result) {
                                if (result.success == false) {
                                    top.ue.msg(result.message);
                                } else {
                                    top.ue.close(idx);
                                    top.ue.msg("添加成功");
                                    location.href = location.href;
                                }
                            }
                        });
                	}
                }
            }
        });
    }
    
    
  //增加与编辑，mode值有：add与edit
	function editItem(id,mode) {
		var mask = $("#popUpMask");
		var dialog = $("#popUpDIV");
        if (mode == "edit") {
            $.ajax({
                url: "/sales/store/industryHot_editUI.html",
                type: "POST",
                data: {"id": id},
                cache: false,
                success: function (result) {
    	            if (result.success == false) {
    	            	dialog({
		                       title: "提示信息",
		                       content: result.message,
		                       width: 300
		                   });
    	            }else{
						/*//显示弹出层与遮照层
						showPopUpDIV(dialog,mask);
						//给弹出层表单设值
    	                setFormValue(result.data);
						//设置弹出层标题
    	                dialog.find('.dialog-title').text("编辑热销商品");
    	            	//清除错误信息
    	            	$(".error").parent().find("label").remove();
    	                //验证表单
    	                checkForm();*/
                        top.rui.dynamic({
                            title: "编辑热销商品",
                            content: dialog.html(),
                            skin: "dialog-old dialog-old-no-title",
                            area: ["460px"],
                            btn:['保存','关闭'],
                            success: function (lay, idx) {
                                setFormValue(result.data,lay,idx);
                                top.rui.initTools(lay);
                                checkForm(lay,idx);
                            },yes:function (idx,lay) {
                                $('#editHotForm',lay).attr("data-did",idx).submit();
                            }
                        })
    	            }
                }
            });
        }else {
            /*//显示弹出层与遮照层
			showPopUpDIV(dialog,mask);
			//设值弹出层表单值
			setFormValue();
			//设置弹出层标题
            dialog.find('.dialog-title').text("添加热销商品");
        	//清除错误信息
        	$(".error").parent().find("label").remove();
			//验证表单
            checkForm();*/
            top.rui.dynamic({
                title: "添加热销商品",
                content: dialog.html(),
                skin: "dialog-old dialog-old-no-title",
                area: ["460px"],
                btn:['保存','关闭'],
                success: function (lay, idx) {
                    setFormValue(null,lay,idx);
                    top.rui.initTools(lay);
                    checkForm(lay,idx);
                },yes:function (idx,lay) {
                    $('#editHotForm',lay).attr("data-did",idx).submit();
                }
            })

        }
    }
  
  
	//给弹出层表单设值
	function setFormValue(obj,lay){
		if (obj){
			$('#shId',lay).val(obj.shId);
			$('#shOrder',lay).val(obj.shOrder);
			if(obj.shStatus == 1){
				$('#shStatus_1',lay).prop("checked",true);
			}else{
				$('#shStatus_0',lay).prop("checked",true);
			}
		}else{
			$('#shId',lay).val("");
			$('#shOrder',lay).val("");
			$('#shStatus_1',lay).prop("checked",true);
		}
	}
	//增加或修改保存
	function saveItem(obj){
        var idx = $(obj).attr("data-did");
        var lay = top.$("#layui-layer"+ idx);
		var url = null;
		var flag = true;
		var id = $("#editHotForm",lay).find("#shId").val();
    	if(!isEmpty(id)){
    		url = "/sales/store/industryHot_edit.html";
    	    flag = false;
    	}else{
    		url = "/sales/store/industryHot_add.html";
    	}
    	
    	var snObj = {};
    	snObj.shId = $("#shId",lay).val();
    	snObj.shOrder = $("#shOrder",lay).val();
    	snObj.shStatus = $("input[name='shStatus']:checked",lay).val();
	    var jsonParam = $.toJSON(snObj);
		top.ue.load();
		$.ajax({
           url: url,
           data: {"jsonParam":jsonParam},
           type: 'POST',
           dataType: 'json',
            complete:function () {
                top.ue.closeLoad();
            },
           success: function(result) {
		   		
                if (result.success == false) {
                    top.ue.msg(result.message);
                }else{
                    top.ue.close(idx);
                	var content = flag?"添加热销商品成功":"修改热销商品成功";
                	top.ue.alert({
		                title: '提示信息',
		                content: content,
		                end: function() {
		                    window.location.reload(true);
		                }
		            })
                }
	       }
        });
	}
    
	
	//删除热销商品
    function hotDel(value){
        top.ue.confirm({
						    title: "提示信息",
						    content: "你确定要删除该条记录吗？",
						    ok: function() {
						    $.ajax({
						           url: '/sales/store/industryHot_del.html',
						           data: {"id":value},
						           type: 'POST',
						           dataType: 'json',
						           success: function(result) {
						               if (result.data == true) {
						                  top.ue.alert({
							                title: '提示信息',
							                content: "删除热销商品成功",
							                end: function() {
// 							                    window.location.href="/sales/store/hot_main.html";
							                	window.location.reload(true);
							                }
							            })

						               } else {
                                           top.ue.msg("删除热销商品失败");
						             }
						           }
						        });
						    }
						}); 
    
    }
    
	function saveHot(){
		$('#editHotForm').submit();
	}
	
    </script>
    
    <!-- 修改页面 -->
    <div class="mask" id="popUpMask"></div>
    <div class="dialog w460" id="popUpDIV">
      <div class="head"><span class="dialog-title">添加</span><a href="javascript:closePopUpDIV('popUpDIV','popUpMask');" class="btn-close"></a></div>   
      <div class="con">
          <form id="editHotForm">
          <input type="hidden" name="shId" id="shId" />
          <table cellpadding="0" cellpacing="0" border="0" class="table-box">
                <tbody>
                    <tr>
                        <td class="table-tit">顺序<i>*</i>：</td>
                        <td><input type="text" name="shOrder" id="shOrder" min="0" max="99999" maxlength="5" class="txt"></td>
                    </tr>
                    <tr>
                        <td class="table-tit">热销状态：</td>
                        <td>
                        <input type="radio" id="shStatus_1" name="shStatus" value="1" class="btn-state" checked="checked">启用 
                        <input type="radio" id="shStatus_0" name="shStatus" value="0" class="btn-state ml21">停用
                        </td>
                    </tr>
                </tbody>
           </table>
          <div class="btn"><a href="javascript:saveHot();" class="btn-txt mr7">保存</a><a href="javascript:closePopUpDIV('popUpDIV','popUpMask');" class="btn-txt" >关闭</a></div>
          </form>
      </div>
    </div>
    
    <!-- 添加页面 -->
    <div class="mask" id="popUpMaskQ"></div>
    <div class="dialog w460" id="popUpDIVQ" style="width:1200px;height:560px;">
      <div class="head"><span class="dialog-title">选择商品</span><a href="javascript:closePopUpDIV('popUpMaskQ','popUpDIVQ');window.location.reload(true);" class="btn-close"></a></div>  
      <div class="con" id="content">
      </div>
    </div>
  </body>
</html>