<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>公告管理 -我的医药网</title>

    <!-- mypharma_公共资源 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- mypharma_样式 -->
    <link rel="stylesheet" type="text/css" href="/css/global.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/order.css?v=$!{jscss_version}">
    <link rel="stylesheet" type="text/css" href="/css/validate.css?v=$!{jscss_version}">

    <!--PNG格式图片兼容IE6解决方案 -->
    <!--[if IE 6]>
    <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js?v=$!{jscss_version}"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->

</head>

<body>
<div class="container">
    #parse("common/header_top.vm")
    #parse("common/header.vm")
    <div class="content">
        <div class="wrap cc">
            #parse("common/left_menu_sales.vm")
            <div class="user_right fl">
                <!-- 用户中心_主体内容_S -->
                <div class="indmain">
                    <div class="path">
                        <p><a href="/sales/index.html" class="color">销售中心</a>&gt; 商城管理 &gt; 公告管理</p>
                    </div>
                    <div class="order_query order">
                        <form action="/sales/store/notice_main.html" method="post" id="searchForm">
                            <input type="hidden" name="pi" value="$!pi">
                            <input type="hidden" name="ps" value="$!ps">
                            <ul>
                                <li>
                                    <label>公告标题：</label>
                                    <input name="snTitle" type="text" value="$!{snTitle}" class="w-txt w192">
                                </li>
                                <li>
                                    <label>日期：</label>
                                    <div class="sltitem w192">
                                        <input type="text" name="startTime" id="startTime" class="w-txt w180"
                                               value="$!{startTime}" readonly="readonly"
                                               onfocus="WdatePicker({skin : 'whyGreen', dateFmt : 'yyyy-MM-dd', maxDate:'#F{$dp.$D('+'\\'+'\'endTime'+'\\'+'\')}'})"/>
                                    </div>
                                    <i class="slt_t">至</i>
                                    <div class="sltitem w192">
                                        <input type="text" name="endTime" id="endTime" class="w-txt w180"
                                               value="$!{endTime}" readonly="readonly"
                                               onfocus="WdatePicker({skin : 'whyGreen', dateFmt : 'yyyy-MM-dd', minDate:'#F{$dp.$D('+'\\'+'\'startTime'+'\\'+'\')}'})"/>
                                    </div>
                                </li>
                                <li>
                                    <label>是否显示：</label>
                                    <!--                                         <div class="sltitem" > -->
                                    <!--                                             <select id="snStatus" name="snStatus"> -->
                                    <!--                                             <option value="" selected="selected"></option> -->
                                    <!--                                             <option value="1" #if($!{snStatus} == 1) selected="selected" #end >显示</option> -->
                                    <!--                                             <option value="0" #if($!{snStatus} == 0) selected="selected" #end>不显示</option> -->
                                    <!--                                             </select> -->
                                    <!--                                         </div> -->
                                    <div class="sltitem w112" id="cate">
                                        <span class=""></span>
                                        <ul style="display: none;">
                                            <li data-value="1"><a href="javascript:void(0);">显示</a></li>
                                            <li data-value="0"><a href="javascript:void(0);">不显示</a></li>
                                        </ul>
                                        <input type="hidden" name="snStatus" id="snStatus">
                                    </div>
                                </li>
                            </ul>
                            <div class="btn tac">
                                <a href="javascript:searchPager('/sales/store/notice_main.html',false);"
                                   class="btn_query">查询</a>
                                <a href="javascript:searchPager('/sales/store/notice_main.html',true);"
                                   class="btn_query btn_export btn-empty"><img src="/image/icon-refresh.png" alt="">重置筛选条件</a>
                            </div>
                            <div class="btn">
                                <a href="javascript:editItem('','add');" class="btn_query btn_export btn-line mr7"
                                   id="sel-a">添加</a>
                            </div>
                        </form>
                    </div>
                    <div class="order_detail">
                        <div class="table">
                            <table cellpadding="0" cellspacing="0">
                                <thead class="head">
                                <tr class="line">
                                    <th>标题</th>
                                    <th width="60">是否显示</th>
                                    <th width="50">排序</th>
                                    <th width="150">创建时间</th>
                                    <th width="100">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #if(!$null.isNull($shopNoticeList) && $shopNoticeList.size()!=0)
                                        #foreach($shopNotice in $shopNoticeList)
                                        <tr>
                                            <td><span class="con_ws"
                                                      title="$!shopNotice.snTitle">$!shopNotice.snTitle</span></td>
                                            <td>
                                                #if($!{shopNotice.snStatus} == 1)
                                                    是
                                                #else
                                                    否
                                                #end
                                            </td>
                                            <td>$!shopNotice.snOrder</td>
                                            <td>$utils.formatDate($!shopNotice.snAddTime,"yyyy-MM-dd HH:mm:ss")</td>
                                            <td>
                                                <a href="javascript:editItem($!shopNotice.snId,'edit');"
                                                   class="btn-txt">修改</a>
                                                <a href="javascript:noticeDel($!shopNotice.snId);"
                                                   class="btn-txt">删除</a>
                                            </td>
                                        </tr>
                                        #end
                                    #else
                                    <tr>
                                        <td colspan="5">无相关数据！</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                            <!--分页开始 -->
                            #if($!{pagerInfo})
                                #if($!{pagerTotal} > 1)
                                    #pagerInfo($!pagerInfo,$!{pagerTotal},"/sales/store/notice_main.html")
                                #end
                            #end
                            <!--分页结束 -->
                        </div>
                    </div>
                </div>
                <!-- 用户中心_主体内容_E -->
            </div>
        </div>
    </div>
</div>
    #parse("/common/footer.vm")

<!-- mypharma_脚本 -->
<script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/publish.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/pop_div.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/pager.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/jquery.validate.min.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/messages_zh.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/ajaxupload.3.6.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/dialog/dialog.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/jquery.json-2.2.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/public/My97DatePicker/WdatePicker.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/load.js?v=$!{jscss_version}" type="text/javascript"></script>
    #parse("common/common_script.vm")
<script type="text/javascript">
    $(function () {
        $.sltitem.select("snStatus", "$!snStatus");
    })

    function  initFileUpload(lay) {
        var uploadPic = $("#uploadPic",lay);
        new top.AjaxUpload(uploadPic, {
            action: "/cdn/imageInfo_upload.html",
            name: 'file_path',
            responseType: "json",
            onSubmit: function (file, ext) {
                if (ext && /^(jpg|gif|png|jpeg)$/.test(ext)) {
                    ext_str = ext;
                } else {
                    top.ue.msg("非图片文件格式,请重传");
                    return false;
                }
                top.ue.load();
            },
            onComplete: function (file, result) {
                top.ue.closeAll("loading");
                if (result.success == false) {
                    if (result.message == "outofsize") {
                        top.ue.msg("文件过大，无法上传");
                    } else if (result.message == "error") {
                        top.ue.msg("文件过大，无法上传");
                    }
                    return false;

                } else {
                    $("#snImgPath",lay).val(result.data.id);//response返回的是mogoDB记录id
                    $('#showPic',lay).attr("src", result.data.picUrl);
                    $("#bucket_key",lay).val(result.data.id);
                    $("#imageInfo",lay).val($.toJSON(result.data.imageInfo));
                }

            }
        });
    }

    function checkForm(lay) {
        $("#editNoticeForm",lay).validate({
            submitHandler: saveItem, //如果验证通过的回调函数
            rules: {
                snTitle: {
                    required: true
                },
                snContent: {
                    required: true
                },
                snOrder: {
                    required: true,
                    digits: true
                }

            },
            messages: {
                snTitle: {
                    required: "请输入标题"
                },
                snContent: {
                    required: "请输入 内容"
                },
                snOrder: {
                    required: "请输入 排序",
                    digits: "请输入整数"
                }
            }

        });
    }


    //增加与编辑，mode值有：add与edit
    function editItem(id, mode) {
        var mask = $("#popUpMask");
        var dialog = $("#popUpDIV");
        if (mode == "edit") {
            top.ue.load();
            $.ajax({
                url: "/sales/store/notice_editUI.html",
                type: "POST",
                data: {"id": id},
                cache: false,
                complete:function () {
                    top.ue.closeAll("loading");
                },
                success: function (result) {
                    if (result.success == false) {
                        top.ue.msg(result.message);
                    } else {
                        /*//显示弹出层与遮照层
                        showPopUpDIV(dialog, mask);
                        //给弹出层表单设值
                        setFormValue(result.data);
                        //设置弹出层标题
                        dialog.find('.dialog-title').text("编辑公告");
                        //清除错误信息
                        $(".error").parent().find("label").remove();
                        //验证表单
                        checkForm();*/
                        top.rui.dynamic({
                            title: "编辑公告",
                            content: dialog.html(),
                            skin: "dialog-old dialog-old-no-title w700",
                            area: ["700px"],
                            success: function (lay, idx) {
                                setFormValue(result.data,idx,lay);
                                $(".error", lay).parent().find("label").remove();
                                checkForm(lay);
                                initFileUpload(lay);
                                top.rui.initTools(lay);
                            },
                            yes: function (idx, lay) {
                                $('#editNoticeForm',lay).attr("data-did",idx).submit();
                            }
                        })
                    }
                }
            });
        } else {
            /*//显示弹出层与遮照层
            showPopUpDIV(dialog, mask);
            //设值弹出层表单值
            setFormValue();
            //设置弹出层标题
            dialog.find('.dialog-title').text("添加公告");
            //清除错误信息
            $(".error").parent().find("label").remove();
            //验证表单
            checkForm();*/
            top.rui.dynamic({
                title: "添加公告",
                content: dialog.html(),
                skin: "dialog-old dialog-old-no-title w700",
                area: ["700px"],
                success: function (lay, idx) {
                    setFormValue(null,idx,lay);
                    $(".error", lay).parent().find("label").remove();
                    checkForm(lay);
                    initFileUpload(lay);
                    top.rui.initTools(lay);
                },
                yes: function (idx, lay) {
                    $('#editNoticeForm',lay).attr("data-did",idx).submit();
                }
            })

        }
    }


    //给弹出层表单设值
    function setFormValue(obj,idx,lay) {
        if (obj) {
            $('#snId',lay).val(obj.snId);
            $('#snTitle',lay).val(obj.snTitle);
            $('#snContent',lay).val(obj.snContent);
            $('#snOrder',lay).val(obj.snOrder);
            $("#snImgPath",lay).val(obj.snImgPath);//response返回的是mogoDB记录id
            $('#showPic',lay).attr("src", obj.httpImgPath);
            $("#bucket_key",lay).val(obj.snImgPath);
            if (obj.snStatus == 1) {
                $('#snStatus_1',lay).prop("checked", true);
            } else {
                $('#snStatus_0',lay).prop("checked", true);
            }
        } else {
            $('#snId',lay).val("");
            $('#snTitle',lay).val("");
            $('#snContent',lay).val("");
            $('#snOrder',lay).val("");
            $("#snImgPath",lay).val("");//response返回的是mogoDB记录id
            $('#showPic',lay).attr("src", "");
            $("#bucket_key",lay).val("");
            $('#snStatus_1',lay).prop("checked", true);
        }
    }

    //增加或修改保存
    function saveItem(obj) {
        var idx = $(obj).attr("data-did");
        var lay = top.$("#layui-layer"+ idx);
        var url = null;
        var flag = true;
        var id = $("#editNoticeForm",lay).find("#snId").val();
        if (!isEmpty(id)) {
            url = "/sales/store/notice_edit.html";
            flag = false;
        } else {
            url = "/sales/store/notice_add.html";
        }

        var snObj = {};
        snObj.snId = $("#snId",lay).val();
        snObj.snTitle = $("#snTitle",lay).val();
        snObj.snContent = $("#snContent",lay).val();
        snObj.snOrder = $("#snOrder",lay).val();
        snObj.snStatus = $("input[name='snStatus']:checked",lay).val();
        snObj.snImgPath = $("#snImgPath",lay).val();
        snObj.bucketKey = $("#bucket_key",lay).val();
        snObj.imageInfo = $("#imageInfo",lay).val();
        var jsonParam = $.toJSON(snObj);
        top.ue.load();
        $.ajax({
            url: url,
            data: {"jsonParam": jsonParam},
            type: 'POST',
            dataType: 'json',
            complete:function () {
                top.ue.closeAll("loading");
            },
            success: function (result) {

                if (result.success == false) {
                    top.ue.msg(result.message);
                } else {
                    top.ue.close(idx);
                    var content = flag ? "添加公告成功" : "修改公告成功";
                    top.ue.alert({
                        title: '提示信息',
                        content: content,
                        end: function () {
                            window.location.reload(true);
                        }
                    })
                }
            }
        });
    }

    //删除导航
    function noticeDel(value) {
        top.ue.confirm({
            title: "提示信息",
            content: "你确定要删除该条记录吗？",
            ok: function () {
                $.ajax({
                    url: '/sales/store/notice_del.html',
                    data: {"id": value},
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        if (result.data == true) {
                            top.ue.alert({
                                title: '提示信息',
                                content: "删除公告成功",
                                end: function () {
                                    window.location.href = "/sales/store/notice_main.html";
                                }
                            })

                        } else {
                            top.ue.msg("删除公告失败");
                        }
                    }
                });
            }
        });

    }

    function saveNotice() {
        $('#editNoticeForm').submit();
    }
</script>
<div class="mask" id="popUpMask"></div>
<div class="dialog w700" id="popUpDIV">
    <div class="head"><span class="dialog-title">添加</span><a href="javascript:closePopUpDIV('popUpDIV','popUpMask');"
                                                             class="btn-close"></a></div>
    <div class="con">
        <form id="editNoticeForm">
            <input type="hidden" name="snId" id="snId"/>
            <input type="hidden" name="snImgPath" id="snImgPath"/>
            <input type="hidden" name="bucket_key" id="bucket_key"/>
            <input type="hidden" name="imageInfo" id="imageInfo"/>
            <table cellpadding="0" cellpacing="0" border="0" class="table-box">
                <tbody>
                <tr>
                    <td class="table-tit">标题<i>*</i>：</td>
                    <td>
                        <input type="text" class="txt" name="snTitle" id="snTitle" maxlength="50">
                    </td>
                </tr>
                <tr>
                    <td class="table-tit">上传图片：</td>
                    <td colspan="3">
                        <div class="imgArea"><img id="showPic" width="136px" height="60px"/></div>
                        <a style="cursor:pointer" id="uploadPic">
                            <img alt="upload" src="/image/ico_upload.jpg"/>
                        </a>
                        <span style="color:red">建议上传尺寸660*300</span>
                    </td>
                </tr>
                <tr>
                    <td class="table-tit">内容<i>*</i>：</td>
                    <td><textarea name="snContent" rows="5" cols="10" id="snContent"></textarea></td>
                </tr>
                <tr>
                    <td class="table-tit">排序<i>*</i>：</td>
                    <td><input type="text" class="txt" name="snOrder" id="snOrder" maxlength="5" min="0" max="99999">
                    </td>
                </tr>
                <tr>
                    <td class="table-tit">是否显示：</td>
                    <td>
                        <input type="radio" class="check" id="snStatus_1" name="snStatus" value="1" class="btn-state">是
                        <input type="radio" class="check" id="snStatus_0" name="snStatus" value="0"
                               class="btn-state ml21">否
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btn"><a href="javascript:saveNotice();" class="btn-txt mr7">保存</a><a
                    href="javascript:closePopUpDIV('popUpDIV','popUpMask');" class="btn-txt">关闭</a></div>
        </form>
    </div>
</div>

</body>

</html>