<link rel="stylesheet" href="/js/webupload/webuploader.css?v=1.13">
<script src="/js/ajaxupload.3.6.js?v=$!{jscss_version}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css?v=$!{jscss_version}" />
<style>
    .down-zjd-modal {
        font-size: 14px;
    }
    .down-zjd-modal .layui-layer-title{
        padding: 0 20px 0 20px;
        height: 45px;
        line-height:45px;
        color: #ffffff;
        text-align: center;
        background: #0092d0;
    }
    .down-zjd-modal .layui-layer-setwin .layui-layer-close1 {
        background: url("/image/index/icons/icon-close-white.png") no-repeat center;
    }
    .down-zjd-modal .layui-layer-btn .layui-btn-disabled{
        border: 1px solid #e6e6e6;
        background-color: #FBFBFB;
        color: #C9C9C9;
        cursor: not-allowed;
        opacity: 1;
    }
    .down-zjd-modal .layui-layer-btn .layui-layer-btn0 {
        width: 122px;
        height: 34px;
        line-height: 34px;
        color: #ffffff;
        border-color: #0092d0;
        background-color: #0092d0;
    }
	.fc-day>div{
        min-height: 26px!important;
	}
</style>

<div class="user_right fl">
    <!-- 用户中心_主体内容_S -->
    <div class="indmain">
        <dl class="cgzx-index-box">
            <dt>
                <span class="fl dt-rz">
                	#if($!{enterprise.eStatus} == 0)
						未认证
					#elseif($!{enterprise.eStatus} == 1)
						已认证
					#elseif($!{enterprise.eStatus} == 2)
						企业认证待审核中
					#elseif($!{enterprise.eStatus} == 3)
						企业已禁用
					#elseif($!{enterprise.eStatus} == -1)
						企业认证申请被驳回
					#end
                </span>
                <span class="fl dt-title">$!{enterprise.eName}</span>
                <i class="fl dt-hydj" class="dt-hydj">
                	<a onclick="top.utils.openWithTab('czzgz','我的成长值','/purchase/growth/myGrowthValue.html',{fstBread:'我的成长值',scdBread:'成长值规则'})" href="javascript:void(0);" title="点击可查看成长值详细信息">
                    	#if($!leId == 1)
                    	<img src="../../image/icon_grade_02.png">
                    	#elseif($!leId == 2)
                    	<img src="../../image/icon_grade_03.png">
                    	#elseif($!leId == 3)
                    	<img src="../../image/icon_grade_04.png">
                    	#elseif($!leId == 4)
                    	<img src="../../image/icon_grade_05.png">
                    	#else
                    	<img src="../../image/icon_grade_01.png">
                    	#end
                    </a>
                </i>
                <p class="fr dt-tips">
                	<div class="txtScroll-top fr ml5">
	                    <div class="bd">
	                        <ul class="infoList">
	                          	#if(!$null.isNull($creditMessages) && $creditMessages.size()>0)
									#foreach($creditMessage in $creditMessages)
										#if($!userType == 2 || $!userType == 3)
										<li>
										<a href="javascript:void(0);" onclick="top.utils.openWithTab('qyrz','企业认证','/sales/account/enterprise_register.html',{fstBread:'账户管理'})" style="color:red;">$!utils.substring($!{creditMessage},13)</a>
										</li>
										#elseif($!userType == 1)
										<li>
										<a href="javascript:void(0);" onclick="top.utils.openWithTab('qyrz','企业认证','/sales/account/enterprise_certified.html',{fstBread:'账户中心'})" href="/purchase/account/enterprise_certified.html" style="color:red;">$!utils.substring($!{creditMessage},13)</a>
										</li>
										#end
									#end
								#end
	                        </ul>
	                    </div>
	                </div>
                </p>
            </dt>
            <dd>

                <div class="integral_sign_top cc">
                	
                    <div class="fl integral_sign_left">
                        <div class="integral_sign_img fl">
                            <p class="text">
                            	#if($!flag)
		                    		#if($!signCount >= 7)
		                    			#if($!checkDouble)
		                    				已领1金币
		                    			#else
		                    				已领1金币
		                    			#end
		                    		#else
		                    			#if($!checkDouble)
		                    				已领1金币
		                    			#else
		                    				已领1金币
		                    			#end
		                    		#end
		                    	#else
		                    		#if($!con == 'yes')
		                    			#if($!signCount >= 6)
		                    				#if($!checkDouble)
		                    					可领1金币
		                    				#else
		                    					可领1金币
		                    				#end
		                    			#else
		                    				#if($!checkDouble)
		                    					可领1金币
		                    				#else
		                    					可领1金币
		                    				#end
		                    			#end
		                    		#else
		                    			#if($!checkDouble)
		                    				可领1金币
		                    			#else
		                    				可领1金币
		                    			#end
		                    		#end
		                    	#end
                            </p>
                        </div>
<!--                         #if($!flag) -->
<!--                             <a class="btn_sign_no">已签到</a> -->
<!--                         #else -->
<!--                             <a class="btn_sign" href="javascript:sign();">立即签到</a> -->
<!--                         #end -->
                    </div>
                    
                    <div class="integral_sign_ctn fl" style="width: 510px;">
                        <p class="sign_tips">
<!--                             <span class="info">账户余额<a class="amount" href="#">$!utils.doubleFormat($!accountBalanceCount)</a>元</span> -->
<!--                             <span class="division">|</span> -->
                            <span class="info">优惠券 : 可使用<a class="amount" href="javascript:void(0);" onclick="top.utils.openWithTab('youhuiquan','我的优惠券','/purchase/member/vouchers.html',{fstBread:'资产中心',scdBread:'我的优惠券'})">$!{notUseVoucherCount}</a>张</span>
                            <span class="division">|</span>
                            <span class="info">药金币<a class="amount" href="javascript:void(0);" onclick="top.utils.openWithTab('jifenmingxi','药金币明细','/purchase/point/jfmx.html',{fstBread:'药金币',scdBread:'药金币明细'})" title="点击查看获得金币明细">$!pointSum</a>个</span>
                            <span class="division">|</span>
                            <span class="info">余额 : ¥
							#if($!isWalletMenuOpen)
									#if(!$!isMainAccount&&$!userType>1)
										$!myBalance
									#else
										#if(!$!isMainAccount&&$!userType==1&&!$!isWalletOpen)
											$!myBalance
										#else
                                			<a class="amount" href="javascript:void(0);" #if($!canSeaBalanceDetail||$!isWalletMenuOpen) onclick="top.utils.openWithTab('zhanghuyue','账户余额','/purchase/account/balance_to_open.html',{fstBread:'资产',scdBread:'账户余额'})" #end title="点击查看账户余额">$!myBalance</a>
										#end
									#end
							#else
									$!myBalance
							#end 
							 元
							</span>

							#if($!isWalletOpen)
                                <a class="amount" style=" padding: 10px; color: #0f94a5; background: #e2f5f8; font-size: 14px; text-decoration: none; font-weight: 100;" href="javascript:void(0);" onclick="top.utils.openRechargeModal();" >充值</a>
							#elseif($!isMainAccount)
                                <a class="amount" style=" padding: 10px; color: #0f94a5; background: #e2f5f8; font-size: 14px; text-decoration: none; font-weight: 100;" href="javascript:void(0);" onclick="top.utils.openWithTab('zhanghuyue','账户余额','/purchase/account/balance_to_open.html',{fstBread:'资产',scdBread:'账户余额'})" >开通余额</a>
							#end

                        </p>
                        <p class="sign_tips mt20" style="margin-top:20px;">
	                       	#if($!flag)
                                签到成功，获得1金币，明天继续哦！
	                    	#else
	                    		#if($!con == 'yes')
	                    			#if($!signCount >= 6)
	                    				#if($!checkDouble)
	                    					亲，今日可领取1金币，快存起来当零花钱吧！
	                    				#else
	                    					亲，今日可领取1金币，快存起来当零花钱吧！
	                    				#end
	                    			#else
	                    				#if($!checkDouble)
	                    					亲，今日可领取1金币，快存起来当零花钱吧！
	                    				#else
	                    					亲，今日可领取1金币，快存起来当零花钱吧！
	                    				#end
	                    			#end
	                    		#else
	                    			#if($!checkDouble)
	                    				亲，今日可领取1金币，快存起来当零花钱吧！
	                    			#else
	                    				亲，今日可领取1金币，快存起来当零花钱吧！
	                    			#end
	                    		#end
	                    	#end
                        </p>
                        <p class="sign_text ">
                        	#if($!checkDouble)
                            (1) 每日签到可获得1金币；<br />
                            (2) 企业首次绑定手机号，可获得<span style="color: #ec540a">50</span>金币;<br />
                            (3) 新版金币商城正式上线， 即日起至12月31日所有商品9折兑换。立即进入<a class="yjb" href="http://$!{wwwHostAndPort}/integralShop/index.html" target="_blank">金币商城</a><br />
                            <img class="img" src="../image/icon_29.jpg"><span class="ps">特别提示：</span>使用线上支付获得金币数量更多！<a class="a"  href="http://cms.mypharma.com/node/134" target="_black">查看说明</a>
                        	#else
							(1) 每日签到可获得1金币；<br />
							(2) 企业首次绑定手机号，可获得<span style="color: #ec540a">50</span>金币;<br />
                            <span style="color: #ec540a">(3)  新版金币商城正式上线， 即日起至12月31日所有商品9折兑换。立即进入</span><a class="yjb" href="http://$!{wwwHostAndPort}/integralShop/index.html" target="_blank">金币商城</a><br />
							<img class="img" src="../image/icon_29.jpg"><span class="ps">特别提示：</span>使用线上支付获得金币数量更多！<a class="a"  href="http://cms.mypharma.com/node/134" target="_black">查看说明</a>
                        	#end
                        </p>
                    </div>
                    <div class="fr integral_sign_calendar">
                        <div class="Mycalendar">
                        	<div id="calendar"></div>
                        </div>
                    </div>
                </div>

                <ul class="cgzx-index-state cc">
                    <li><a class="a" href="javascript:void(0);" onclick="top.utils.openWithTab('caigoudingdan','采购订单','/purchase/order/wddd.html?status=1',{fstBread:'订单中心',scdBread:'采购订单'})" href="">待付款<span class="amount">($!waitPayCount)</span></a></li>
                    <li><a class="a" href="javascript:void(0);" onclick="top.utils.openWithTab('caigoudingdan','采购订单','/purchase/order/wddd.html?status=2',{fstBread:'订单中心',scdBread:'采购订单'})">待发货<span class="amount">($!waitSendCount)</span></a></li>
                    <li class="none"><a class="a" href="javascript:void(0);" onclick="top.utils.openWithTab('caigoudingdan','采购订单','/purchase/order/wddd.html?status=3',{fstBread:'订单中心',scdBread:'采购订单'})">待收货<span class="amount">($!{waitAcceptCount})</span><i class="tips"><img src="../image/icon_cgzx_03.png"></i></a></li>
                    <li><a class="a" href="http://$!{wwwHostAndPort}/cart.html" target="_blank">进货单<span class="amount">($!cartCount)</span></a></li>
                    <li class="none"><a class="a" href="javascript:void(0);" onclick="top.utils.openWithTab('gongyingshang','采购关系管理','/purchase/member/purchase.html?status=1',{fstBread:'账户中心',scdBread:'采购关系管理'})"  title="点击查看已有采购关系和未合作的供应商信息">供应商<span class="amount">($!{purchaseRelationCount})</span><i class="tips"><img src="../image/icon_cgzx_02.png"></i></a></li>
                </ul>

            </dd>
        </dl>

        <div class="explain_title mt10">
        	<h3 class="fl">会员权益</h3>
        	<span class="a-more fr" onclick="privilege();">查看会员特权&gt;&gt;</span>
        </div>

        <div class="cgzx-index-ctn cc">

            <div class="fl cgzx-index-ctn-left">

                <div class="main">
                    <a class="sPrev" href="javascript:void(0)"></a>
                    <ul>
							#if($!leId == 1)
	                    		<li><a class="a" href="http://$!{wwwHostAndPort}/sxy" target="_blank" title="点击查看采购操作指南视频教程"><img class="img" src="../image/icon_cgzx_05.png"><p class="text">精品课程</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_07.png"><p class="text">专享勋章</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_09.png"><p class="text">专享活动</p></a></li>
                                <li><a class="a" href="#" id="zskf" title="立即咨询在线客服"><img class="img" src="../image/icon_cgzx_11.png"><p id="zskf" class="text">专属客服</p></a></li>
                                <li><a class="a" href="http://$!{wwwHostAndPort}/goods/quickPurchase.html" target="_blank" title="点击查看历史采购商品"><img class="img" src="../image/icon_cgzx_15.png"><p class="text">急速补货</p></a></li>
	                    	#elseif($!leId == 2)
                                <li><a class="a" href="http://$!{wwwHostAndPort}/sxy" target="_blank"><img class="img" src="../image/icon_cgzx_05.png"><p class="text">行业信息</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_06.png"><p class="text">专属优惠</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_07.png"><p class="text">专享勋章</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_09.png"><p class="text">专享活动</p></a></li>
                                <li><a class="a" href="#" id="zskf" title="立即咨询在线客服"><img class="img" src="../image/icon_cgzx_11.png"><p id="zskf" class="text">专属客服</p></a></li>
                                <li><a class="a" href="http://$!{wwwHostAndPort}/goods/quickPurchase.html" target="_blank" title="点击查看历史采购商品"><img class="img" src="../image/icon_cgzx_15.png"><p class="text">急速补货</p></a></li>
	                    	#elseif($!leId == 3)
	                    		<li><a class="a" href="http://$!{wwwHostAndPort}/sxy" target="_blank" title="点击查看采购操作指南视频教程"><img class="img" src="../image/icon_cgzx_05.png"><p class="text">精品课程</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_06.png"><p class="text">专属优惠</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_07.png"><p class="text">专享勋章</p></a></li>
                                <li><a class="a" href="http://$!{wwwHostAndPort}/yjr" target="_blank"><img class="img" src="../image/icon_cgzx_08.png"><p class="text">信用贷款</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_09.png"><p class="text">专享活动</p></a></li>
                                <li><a class="a" href="#" id="zskf" title="立即咨询在线客服"><img class="img" src="../image/icon_cgzx_11.png"><p id="zskf" class="text">专属客服</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_12.png"><p class="text">数据分析</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_14.png"><p class="text">特权优先</p></a></li>
                                <li><a class="a" href="http://$!{wwwHostAndPort}/goods/quickPurchase.html" target="_blank" title="点击查看历史采购商品"><img class="img" src="../image/icon_cgzx_15.png"><p class="text">急速补货</p></a></li>
	                    	#elseif($!leId == 4)
	                    		<li><a class="a" href="http://$!{wwwHostAndPort}/sxy" target="_blank" title="点击查看采购操作指南视频教程"><img class="img" src="../image/icon_cgzx_05.png"><p class="text">精品课程</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_06.png"><p class="text">专属优惠</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_07.png"><p class="text">专享勋章</p></a></li>
                                <li><a class="a" href="http://$!{wwwHostAndPort}/yjr" target="_blank"><img class="img" src="../image/icon_cgzx_08.png"><p class="text">信用贷款</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_09.png"><p class="text">专享活动</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_10.png"><p class="text">活动优先</p></a></li>
                                <li><a class="a" href="#" id="zskf" title="立即咨询在线客服"><img class="img" src="../image/icon_cgzx_11.png"><p id="zskf" class="text">专属客服</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_12.png"><p class="text">数据分析</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_13.png"><p class="text">独家代理</p></a></li>
                                <li><a class="a" href="#"><img class="img" src="../image/icon_cgzx_14.png"><p class="text">特权优先</p></a></li>
                                <li><a class="a" href="http://$!{wwwHostAndPort}/goods/quickPurchase.html" target="_blank" title="点击查看历史采购商品"><img class="img" src="../image/icon_cgzx_15.png"><p class="text">急速补货</p></a></li>
	                    	#else
	                    		<img src="../../image/icon_grade_01.png">
	                    	#end
                    </ul>
                    <a class="sNext" href="javascript:void(0)"></a>
                </div>

            </div>

            <div class="fl cgzx-index-ctn-right">
                <img src="../image/img_cgzx_02.jpg">
            </div>

        </div>
     <div class="rocky-tips">
         <p class="rocky-tips-text">温馨提示：物流配送成功后48小时订单自动确认收货，若无物流信息则发货后7天订单自动确认收货，如遇收货问题请及时点击延期收货</p>
     </div>
     <style>
	    .rocky-tips{
	    	background:#ffe1b1;
	    	border:1px solid #ddd;
	    	padding:8px 16px;
	    	margin:8px 0;
            height:20px;
            text-align:left;
	    }
	    .rocky-tips-text{
            display:block;
            width:auto;
            height:20px;
            line-height:20px;
            background-image:url("../image/laba.png");
			background-repeat:no-repeat;
			background-position:0 0;
            padding-left:25px;
            font-size:14px;
            font-family: "微软雅黑";
            color:#ff6969;
            text-align:left;
	    }
    </style>
        <div class="explain_title mt10">
        	<h3 class="fl">最新订单</h3>
        	<span class="a-more fr" onclick="more();">更多&gt;&gt;</span>
        </div>  	
      <div class="order_detail yh order_font">                
            <div class="table">
                <table cellpadding="0" cellspacing="0">
                            <thead class="head">
                                <tr class="line">
                                    <th></th>
                                    <th>订单号</th>
                                    <th width="80">下单时间</th>
                                    <th>供应商</th>
                                    <th>订单状态</th>
                                    <th>付款状态</th>
                                    <th>订单金额（元）</th>
                                    <th width="130">操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
							#if(!$null.isNull($orderList) && $orderList.size()!=0)
                            #foreach($item in $orderList)
                            #set($pageOrder = $!{velocityCount} + ($!pagerInfo.pageIndex - 1) * $!pagerInfo.pageSize)
                               <tr>
                                    <td>$!pageOrder</td>
                                    <td class="tal">
									 #if($!item.orderType==5)
                                           <i class="pre-sell">预售</i>
                                       #end
                                    #if($!item.orderType == 1)  
		                               <span class="tg_order">
		                               <a class="a-link" href="javascript:view($!item.oId);"><b>$!item.oSn</b></a>
		                               </span>
		                               #* 订单备注图标加tips效果 *#
		                               #if ($!item.deliveryNote != "")
		                               <img src="/image/msg.png" data-tips="true" data-tips-title="$!item.deliveryNote" class="img-tips" width="20" height="20"/>
		                               #end
		                            #else
		                               <a class="a-link" href="javascript:view($!item.oId);">
		                               <b>$!item.oSn</b>
		                               </a>
		                               #* 菲加云订单图标加tips效果 *#
		                               #if ($!item.sourceCode == "saas" || $!item.sourceCode == "saas-cp")
		                               <i class="order-tips-fjy" data-tips-style="{color:'#000'}" data-tips="true" data-tips-title="此订单来源于菲加云"></i>
		                               #end
		                               #* 订单备注图标加tips效果 *#
		                               #if ($!item.deliveryNote != "")
		                               <i class="order-tips-msg" data-tips-style="{color:'#000'}" data-tips="true" data-tips-title="$!item.deliveryNote"></i>
		                               #end
		                            #end 
                                    </td>
                                    <td>$utils.formatDate($!item.oAddTime,"yyyy-MM-dd HH:mm:ss")</td>
                                    <td><a class="a-link" href="$!item.suUrl" target="_blank">$!item.oSellerName</a></td>
                                    <td>
                                    ##买家订单状态
						            #if($!item.oStatus == -90)  
						                            已取消  
						            #elseif($!item.oStatus == -21 || $!item.oStatus == -22)  
						                            已取消
						            #elseif($!item.oStatus == -10)  
						                            卖家驳回
						            #elseif($!item.oStatus == 0)  
						                            待审核
						            #elseif($!item.oStatus == 10)  
						                            卖家未发货
						            #elseif($!item.oStatus == 30)  
						                            卖家未发货
						            #elseif($!item.oStatus == 90)  
						                            卖家已发货
						            </br>
									#if("$!item.autoReceiptTips" != "")
                                        <img src="/image/msg.png" data-tips="true" data-tips-title="$!item.autoReceiptTips" class="img-tips" width="20" height="20"/>
									#end
						            #elseif($!item.oStatus == 100)  
						                            已签收
						            #else  
						              $!item.oStatus  
						            #end
									#if($!item.orderType==5&&$!item.oStatus <90&&$!item.oStatus >=0)
										<p class="pre-sell-user">$!item.pdSaleTimeStr</p>
									#end
                                    </td>
                                    <td>
                                    <!-- 买家订单支付状态 -->
						            #if($!item.payStatus == 0)  
						              --
						            #elseif($!item.payStatus == 10)  
						                                    未付款
						            #elseif($!item.payStatus == 50)  
						                                    已支付
						            #else  
						            #end  
						            
						            #if($!item.oPaymentMethod == 1)
						            <span class="pay-txt" style="cursor:pointer;" title="该订单支付方式是“在线支付”">在线支付</span>
						            #elseif($!item.oPaymentMethod == 2)
						            <span class="pay-txt" style="cursor:pointer;" title="该订单支付方式是“账期付款”">账期付款</span>
						            	#if($item.leftTime&&$item.payStatus==10&&$item.leftTime<=7&&$item.oStatus!=-100&&$item.oStatus!=-90&&$item.oStatus!=-21&&$item.oStatus!=-22&&$item.oStatus!=-10)
								            <script>
								            		var  leftTime=${item.leftTime};
								            		var str="";
								            		if(leftTime<0){
								            			str="账期付款逾期将影响支付方式使用，请及时付款";
								            		}else{
								            			str="账期付款即将到期，请及时付款";
								            		}
												    var _img = '<img src="/image/msg.png" data-tips="true" data-tips-title="'+str+'" class="img-tips" width="20" height="20"/>';
												    document.writeln(_img)
										    </script>
										#end
						            #elseif($!item.oPaymentMethod == 3)
						            <span class="pay-txt blue" style="cursor:pointer;" title="该订单支付方式是“线下付款”">线下付款</span>
						            #elseif($!item.oPaymentMethod == 4)
						            <span class="pay-txt" style="cursor:pointer;" title="该订单支付方式是“药白条”">
						            #if($!item.fnName)
						                                    药白条-$!item.fnName
						            #else
						                                    药白条
						            #end
						            </span>
						            #elseif($!item.oPaymentMethod == 5)
						            <span class="pay-txt" style="cursor:pointer;" title="该订单支付方式是“帮你付”">
						            #if($!item.fnName)
						                                    帮你付-$!item.fnName
						            #else
						                                    帮你付
						            #end
						            </span>
						            #elseif($!item.oPaymentMethod == 6)
						            <span class="pay-txt" style="cursor:pointer;" title="该订单支付方式是“闪贷”">
						            #if($!item.fnName)
						                                    闪贷-$!item.fnName
						            #else
						                                    闪贷
						            #end
						            </span>
						            #elseif($!item.oPaymentMethod == 7)
										<span class="pay-txt" style="cursor:pointer;" title="该订单支付方式是“余额支付”">余额支付</span>
						            #end  
                                    </td>
                                    <td>  
                                   	#if($!item.orderType == 1)	  
		                                    #if($!item.orderType == 1&&$!item.oStatus ==0)  
	                                    	未确定
	                                    #end
	                                    #if($!item.orderType == 1&&$!item.oStatus>0)
	                                        	$!utils.priceFormart($!{item.oTotalPrice})
	                                    #end
	                                    #if($!item.orderType == 1&&0>$!item.oStatus)
	                                        #if(-10==$!item.oStatus)
	                                        	$!utils.priceFormart($!{item.oTotalPrice})
	                                        #else
	                                        		--
	                                    	#end
	                                    #end
                                 	#else
                                 	$!utils.priceFormart($!{item.oTotalPrice})
                                 	#end 
                                 	
                                 	#if($!item.sourceCode!="" && ($!item.sourceCode=="wdyy-app" || $!item.sourceCode=="wdzs-app"))
                                 	<span class="pay-txt phone" style="cursor:pointer;" title="使用手机在我的医药网app采购的订单">手机订单</span>
                                 	#end
	                            	</td>
                                    <td width="130">
                                    #if($!item.orderType == 0 || $!item.orderType == 5)
                                    #if($!item.oStatus==90 || $!item.oStatus==100 || $!item.oStatus==-90 || $!item.oStatus==-21 || $!item.oStatus==-22 || $!item.oStatus==-10)
                                    <a class="btn-txt-n" href="javascript:void(0);" onclick="buyAgain($!item.oId);" >再次购买</a>
                                    #end
                                    #end
                                    <a href="javascript:view($!item.oId);" class="btn-txt-n">查看</a>
                                    #if($!item.orderType != 1)  
                                    #if($!item.oStatus < 30 && $!item.oStatus >=0 )   
                                    
                                    #if(($!item.orderType == 5 && $!item.payStatus==50)||($!item.oPaymentMethod==4 && $!item.payStatus==50)||($!item.oPaymentMethod==6)||($!item.oPaymentMethod==5&&($!item.oStatus==10||$!item.oStatus==-10)) )
                                    #else
                                    
                                    ## 平安租赁的订单不能取消
                                    #if($!item.ofnId != 3)
                                    <a class=btn-txt-n href="javascript:cancel($!item.oId);" >取消订单</a>
                                    #end
                                    
                                    #end
                                    
                                    #end
                                    #end
                                    
                                    #if($!item.payStatus == 50 && $!{item.payPrice} > 0)
                                    <a href="javascript:download($!item.oId);" class="btn-txt-n">下载回单</a>
                                    #end
                                    
                                    #if($!item.oPaymentMethod!=3 && $!item.oPaymentMethod!=4&& $!item.oPaymentMethod!=5&& $!item.oPaymentMethod!=6)#if($!item.oStatus >= 10)#if($!item.payStatus == 10)  
                                    
                                    #if($!item.payMoney > 0)
                                    <a class="btn-txt-n" href="javascript:pay($!item.oId) ;" >立即支付</a>
                                    #end
                                    #end#end#end
                                    
								    #if($!item.oStatus == 90)  
								    <a href="javascript:accept($!item.oId);" class="btn-txt-n">确认收货</a>
								    #end 
   								    #if($!item.isDelay == 0&&$!item.isClose == 0&&$!item.oStatus==90)  
								    <script>
									    var now = new Date("$utils.formatDate($!item.sendTime,"yyyy/MM/dd HH:mm:ss")");
									    var timestamp = Date.parse(now);
									    var timestamp2 = Date.parse(new Date());
									    if(timestamp2-timestamp>0){
									    	document.writeln('<a class="btn-txt-n" href="javascript:delay($!item.oId);">延期收货</a>')
									    }
								    </script>
								    #end

                                    ##下载质检报告单按钮
                                    #if($!item.hasGoodsBatch==1)
                                        <a class="btn-txt-l" quality-data="$!item.oId" href="javascript:void(0);" >下载质检报告单</a>
                                    #end

                                    #if($!item.leaseDocument2 == 1)
                                        <a class="btn-txt-n" href="javascript:void(0);" onclick="showPeerModal('$!item.oId',2,0)">上传签收单</a>
                                    #end
                                    #if($!item.leaseDocument2 == 2)
                                        <a class="btn-txt-n" href="javascript:void(0);" onclick="showPeerModal('$!item.oId',2,1)">修改签收单</a>
                                    #end

                                    #if($!item.leaseDocument3 == 1)
                                        <a class="btn-txt-n" href="javascript:void(0);" onclick="showPeerModal('$!item.oId',3,0)">上传发票</a>
                                    #end
                                    #if($!item.leaseDocument3 == 2)
                                        <a class="btn-txt-n" href="javascript:void(0);" onclick="showPeerModal('$!item.oId',3,1)">修改发票</a>
                                    #end

									#if($!{item.pingAnYbtStatus}==1)
										<a class="btn-txt-n" style="width: auto;" href="javascript:void(0);"onclick="submitPingAn('$!item.pingAnBuyerUrl','$!item.pingAnSecret','$!item.pingAnAppid','$!item.oSn')">债权转让签章</a>
									#end
									#if($item.pingAnYbtStatus==3)
										<a class="btn-txt-n" href="javascript:void(0);"onclick="submitPingAn2('$!item.pingAnReceiptUrl','$!item.pingAnSecret','$!item.pingAnAppid','$!item.oSn')">签收签章</a>
									#end

									#if($!item.sdStatus==2)
								    <a class="btn-txt-n" quality-data="$!item.oId" href="javascript:void(0);"  id="btn_$!item.oId"  onclick="loanConfirm($!item.oId)">确认还款计划</a>
								    #end
									
									
                                    #if($!item.isGy==1)
                                        #if(!$item.orderContract.contractFileKey)
                                            <a class="btn-txt-n btn-small-file  jzb-ht-btn"  data-oid="$!item.oId"   href="javascript:void(0);" >上传销售合同</a>
                                        #end
                                        #if($item.orderContract.contractFileKey)
                                            <a class="btn-txt-n btn-small-file  chakan"   data-oid="$!item.oId"  data-name="$!item.orderContract.contractFileName"  data-key="$!item.orderContract.contractFileKey"  href="javascript:void(0);" >查看销售合同</a>
                                        #end
                                    #end

								    #if($!item.obStatus)
                                        #if($!item.obStatus == 0)
                                            <br><b>退货中</b>
                                        #end
								    #else
								    #*
								    #if($!item.oStatus>=10 && $!item.oStatus<90 && $!item.payStatus == 50)
								    <a href="javascript:backAll($!item.oId);" class="btn-txt-n">全部退货</a>
								    #end
								    *#
								    #end
								    </td>
                                </tr>
                                #end
                                #else
		                           <tr>
		                             <td colspan="11">无相关数据！</td>
		                           </tr>
                                #end
						     </tbody>
                         </table>
              </div>
              <form id="operForm" name="operForm" method="post">
                 <input type=hidden name="source" value="1"/>
				 <input type=hidden name="oId" />
				 <input  type="hidden" name="returnPageParam" id="returnPageParam" value="$!{returnPageParam}"/>
			  </form>
			  <form id="payForm" action="" name="payForm" method="get" target="_blank">
				 <input  type="hidden" name="oId" id="oId"/>
			  </form>
			  <form id="cartForm" action="" name="cartForm" method="post" target="_blank">
		      </form>
        </div>
    	<!-- 底部广告 -->
    	#if($!bottomAd)
            #set($aLinkUrl = $utils.getAccessLinkUrl($!{bottomAd.aLinkUrl}))
            #if($aLinkUrl == "javascript:void(0);")
        	<div id="dhh_content"><a target="blank_" href="$aLinkUrl" onclick="return false;"><img src="$utils.getNewImgDomain($!{bottomAd.aImgPath})" alt=""></a></div>
		    #else
        	<div id="dhh_content"><a target="blank_" href="$aLinkUrl"><img src="$utils.getNewImgDomain($!{bottomAd.aImgPath})" alt=""></a></div>
		    #end
        #end
    </div>
    <!-- 用户中心_主体内容_E -->
</div>

    <div class="back-info">
        <div class="bi-title">
            <h3>退款信息填写</h3>
            <a href="javascript:void(0);" class="close-btn">×</a>
        </div>
        <div class="bi-ctx">
            <p class="bi-tips">
                该订单需原路退款，请维护支付时使用的银行卡信息
            </p>
            <form class="">
                <input type="hidden" id="lineOid" name="lineOid" value="$!ra.raId">
                <div class="form-line">
                    <label >账号类型：</label>
                    <input type="radio" name="zhlx" value="1" id="zhlx1" style="width: 18px; vertical-align: middle;">
                    <label for="radio1" style="width: auto">个人</label>
                    <input type="radio" name="zhlx" value="2" id="zhlx2" style="width: 18px;vertical-align: middle;">
                    <label for="radio2" style="width: auto">企业</label>
                </div>
                <div class="form-line" style="margin-top: 0">
                    <label for="khd">开户地：</label>
                    <select name="province" id="province" placeholder="请选择" data-tips="开户地省份">
                        <option value="">请选择</option>
                    </select>
                    <select name="city" id="city" placeholder="请选择" data-tips="开户地市区">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="form-line">
                    <label  for="khyh">开户银行：</label>
                    <select name="bankid" id="bankid" placeholder="请选择" style="width: 248px;">
                        <option value="">请选择</option>
                    #if($bankList && $!bankList.size!=0)
                    #foreach($item in $bankList)
                    <option value="$!item.id">$!item.name</option>
                    #end
                    #end
                    </select>
                </div>
                <div class="form-line">
                    <label for="khzh">开户支行：</label>
                    <input type="text" id="khzh" name="khzh" placeholder="请输入开户支行名称">
                </div>
                <div class="form-line">
                    <label for="skr">收款账户：</label>
                    <input type="text" id="skr" name="skr" placeholder="请输入收款人姓名">
                </div>
                <div class="form-line">
                    <label for="yhzh">银行账号：</label>
                    <input type="text" id="yhzh" data-reg="/^(\d{8,})$/" name="yhzh" data-plc1="$!ra.accountNumber" data-plc="请输入银行卡账号">
                </div>
                <div class="form-line mn-btns" style="text-align: left; margin-top: 20px;">
                    <label for=""></label>
                    <a href="javascript:void(0);" class="mn-btn btn-filled bi-confirm" style="margin-left: 0">确认</a>
                    <a href="javascript:void(0);" class="mn-btn bi-cancel">取消</a>
                </div>
            </form>
        </div>
    </div>

	<div id="sugp"  class="sugp-css" style="display: table; width: 95%; height: 100%;">
		#if(!$null.isNull($contractTemplates) && $contractTemplates.size()!=0)
			<div style="width: 100%; display: table-cell; vertical-align: middle;">
				#foreach($item in $contractTemplates)
					<p class="cc">$!item.suName &nbsp;&nbsp;<a class="s-text" href="javascript:void(0)" onclick="downloadHT('$!item.templateFileKey','$!item.templateName')">$!item.templateName</a>&nbsp;&nbsp;<a class="s-link" href="javascript:void(0)" onclick="downloadHT('$!item.templateFileKey','$!item.templateName')">下载</a></p>
				#end
			</div>
		#end
	</div>
	<form id="pingAnForm" method="post" target="_blank">
		<input type="hidden" name="appsecret" id="appsecret"/>
		<input type="hidden" name="appid" id="appid"/>
		<input type="hidden" name="templateNo" id="templateNo" value="2"/>
		<input type="hidden" name="orderNo" id="orderNo"/>
	</form>
	<script type="html/text" id="editJzbOrderTpl">
		<div id="order_jzb"  class="sugp-css sugp-css-ck"  >
			<p class="cc">
                <a class="s-text" href="javascript:void(0)" onclick="top.app.frameWindow.downloadHT('{{d.key}}','{{d.name}}')">{{d.name}}</a>
                <a href="javascript:void(0);" data-name="{{d.name}}" data-oid="{{d.id}}" data-option="1" class="s-link btn-small-file jzb-hack" style="padding:3px 5px!important; margin: 0 0 0 20px;">修改</a>
                <a class="s-link" href="javascript:void(0);"  data-id="{{d.id}}" onclick="top.app.frameWindow.deletetemp({{d.id}},'{{d.name}}')" style="padding:3px 5px;">删除</a>
            </p>
		</div>
		<div style="position: absolute; bottom: 0; left: 50%; margin-left: -130px; color: #e35c5c;">提示：该订单确认收货后不可修改和删除</div>
	</script>
    
    #*同行单弹窗TPL*#
    <script type="text/html" id="txdModalTpl">
        <div class="txd-modal">
            <div class="txd-left fl">
                <div class="txd-head">
                    <span>
						{{# if(d.fileList && d.fileList.length){ }}
                        {{# }else{ }}
							{{# if(d.type==1){ }}
							随货同行单
							{{# }else if(d.type==2){ }}
							签收单
							{{# }else if(d.type==3){ }}
							发票
							{{# } }}范例
						 {{# } }}
                    </span>
                </div>
                <div class="txd-ctx" style="padding: 0">
                    {{# if(d.fileList && d.fileList.length){ }}
                        {{# for(var i=0;i<d.fileList.length;i++){ var file = d.fileList[i]; }}
                            {{# if(i==0){ }}
                            <img src="$!{downloadUrl}/{{file.originalStoreKey}}" alt="" class="exp-img">
                            {{# } }}
                        {{# } }}
                    {{# }else{ }}
                        <img src="/image/txd-{{d.type}}.jpg" alt="示例" class="exp-img">
                    {{# } }}
                </div>
            </div>
            <div class="txd-right fr">
                <div class="txd-head">
                    <span>
                        {{# if(d.type==1){ }}
                        随货同行单
                        {{# }else if(d.type==2){ }}
                        签收单
                        {{# }else if(d.type==3){ }}
                        发票
                        {{# } }}
                    </span>
                    <img class="layer-close" src="/image/index/icons/icon-close-white.png" alt="关闭">

                </div>
                <div class="txd-ctx">
                    <div class="txd-upfile-box">
                        <p class="txd-tips">
                            {{# if(d.audit_result){ }}
                            {{d.audit_result}}
                            {{# }else{ }}
                            请上传
                            {{# if(d.type==1){ }}
                            随货同行单
                            {{# }else if(d.type==2){ }}
                            签收单
                            {{# }else if(d.type==3){ }}
                            发票
                            {{# } }}
                            原件照片或原件扫描件
                            {{# } }}
                        </p>
                        <div class="txd-file-list">
                            {{# if(d.fileList){ }}
                            {{# for(var i=0;i<d.fileList.length;i++){ var file = d.fileList[i] }}
                            <div class="txd-file">
                                <div class="prev-box" data-fid="{{file.fileId}}" data-file='{{ JSON.stringify(file) }}' >
                                    <input type="hidden" name="fileName" value="{{file.fileName}}">
                                    <input type="hidden" name="originalStoreKey" value="{{file.originalStoreKey}}">
                                    <input type="hidden" name="remark" value="{{file.remark}}">
                                    <img class="btn-del" src="/image/icon-del-file.png" alt="删除">
                                    <img class="prev-img" src="$!{downloadUrl}/{{file.thumbStoreKey}}" data-big="$!{downloadUrl}/{{file.originalStoreKey}}">
                                </div>
                            </div>
                            {{# } }}
                            {{# } }}

                            <div class="txd-file txd-file-add"></div>
                        </div>
                    </div>
                    <div class="txd-btn-box">
                        <div class="txd-btn-wrap">
                            <p>格式要求JPG、JPEG、PNG、BMP格式，单张图片不大于2M</p>
                            {{# if(d.edit){ }}
                            <a href="javascript:void(0);" onclick="submitPeer('{{d.oid}}',{{d.type}},'{{d.remark}}',this,1)" class="txd-btn">重新提交审核</a>
                            {{# }else { }}
                            <a href="javascript:void(0);" onclick="submitPeer('{{d.oid}}',{{d.type}},'{{d.remark}}',this,1)" class="txd-btn">提交审核</a>
                            {{# } }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </script>
    
<script src="/js/jquery-1.9.1.min.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/layui/layui.js?v=$!{jscss_version}" type="text/javascript" ></script>
<script src="/js/publish.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/pager.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/extend.datetime.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/jquery.json-2.2.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/dialog/dialog.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/ajax.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/jquery.SuperSlide.js?v=$!{jscss_version}"></script>
<script src="/js/fullcalendar.min.js?v=$!{jscss_version}" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.nicescroll.min.js?v=$!{jscss_version}"></script>
<script src="/js/webupload/webuploader.nolog.min.js?v=$!{jscss_version}" type="text/javascript"></script>
<script src="/js/peerModal.js?v=$!{jscss_version}" type="text/javascript"></script>
<script> (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//rograndec.udesk.cn/im_client/js/udeskApi.js?_t=1464586170171","ud"); ud({"code":"hbcekjj","link":"//rograndec.udesk.cn/im_client?web_plugin_id=13108","panel":{"css": {"right":"110px"}},"mobile":{"mode":"blank","color":"#1293a5","pos_flag":"crb","onlineText":"联系客服，在线咨询","offlineText":"客服下班，请留言","pop":{"direction":"top","arrow":{"top":0,"left":"70%"}}},"mode":"inner","color":"#1293a5","pos_flag":"srm","onlineText":"联系客服，在线咨询","offlineText":"客服下班，请留言","targetSelector":"#zskf","pop":{"direction":"top","arrow":{"top":0,"left":"70%"}}}); </script>
<script type="text/javascript">


 function submitPingAn(url,secret,appid,orderNo) {
        $("#pingAnForm").prop("action",url);
        $("#appid").val(appid);
        $("#appsecret").val(secret);
         $("#templateNo").val(1);
        $("#orderNo").val(orderNo);
        $("#pingAnForm").submit();
    }
 function submitPingAn2(url,secret,appid,orderNo) {
        $("#pingAnForm").prop("action",url);
        $("#appid").val(appid);
        $("#appsecret").val(secret);
         $("#templateNo").val(2);
        $("#orderNo").val(orderNo);
        $("#pingAnForm").submit();
    }


	var layer,layApp,laytpl;
	layui.config({
	    base: '/js/layui/extend/'
	}).use(['layApp','layer','form','laytpl'], function () {
	    layer = layui.layer;
	    layApp = layui.layApp,laytpl = layui.laytpl;
	    layApp.citySelect({
	        province: "#province",
	        city: "#city",
	        url: "/location/provincialCity",
	        place:true
	    })

        $(function(){
            jQuery(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,delayTime:700});

            /*$(".img-tips").each(function(){
              var _this = $(this);
              _this.hover(function(){
                  layer.tips(_this.attr("data-tips"),_this);
              },function(){
                  layer.closeAll();
              })
          })*/

            /***
             * 下载质检报告单
             */
            $(".btn-txt-l").on("click",function () {
                var $this = $(this);
                var oid = $(this).attr("quality-data");
                layer.open({
                    type: 2,
                    title: '<b>请选择批次号下载质检报告单</b>',
                    skin:'down-zjd-modal',
                    shadeClose: false,
                    shade: 0.8,
                    area: ['70%', '400px'],//宽和高
                    content: '/purchase/order/orderDetailQuality.html?oid='+oid,
                    btn:['下载质检报告单'],
                    btnAlign:'c',
                    success:function (lay,idx) {
                        var  iframe = lay.find("iframe");
                        var _ifmBody = $(iframe[0].contentDocument).find("body"); //得到iframe页面的body 对象，可以用此对象来获取iframe页面的所有元素，包括已选择的checkbox；
                        var array = [];
                        //lay.find(".layui-layer-btn0").addClass("layui-btn-disabled");
                        $(_ifmBody).find("input[type='checkbox']").each(function (i, item) {
                            $(this).on("click",function () {
                                if($(_ifmBody).find("input[type='checkbox']:checked").length){
                                    lay.find(".layui-layer-btn0").removeClass("layui-btn-disabled");
                                }else{
                                    lay.find(".layui-layer-btn0").addClass("layui-btn-disabled");
                                }
                            })
                        });
                    },
                    yes:function (idx,lay) {
                        var  iframe = lay.find("iframe");
                        var _ifmBody = $(iframe[0].contentDocument).find("body"); //得到iframe页面的body 对象，可以用此对象来获取iframe页面的所有元素，包括已选择的checkbox；
                        var array = [];

                        $(_ifmBody).find("input[type='checkbox']:checked").each(function (i, item) {
                            var obj = {};
                            obj.gid = $(item).val();
                            obj.batch = $(item).attr("batch");
                            array.push(obj);
                        });

                        if (array.length > 0) {
                            layer.load();
                            window.location.href = "/purchase/quality/oderDownload.html?batchList="+$.toJSON(array);
                            layer.closeAll("loading");
                            /* layer.close(idx);*/   //关闭弹窗  可自由控制是否关闭
                        }else{
                            layer.msg("请选择要下载的质检单批次号");
                        }
                    }
                });
            })


            $(".jzb-ht-btn").each(function(){
                initJZBHT($(this))
            })

            $(".chakan").on("click",function () {
                var $this = $(this);
                var _data = {
                    name : $this.attr("data-name"),
                    key:$this.attr("data-key"),
                    id:$this.attr("data-oid")
                }
                top.ue.confirm({
                    type: 1,
                    title: '<b>查看销售合同</b>',
                    skin:'down-zjd-modal',
                    shadeClose: false,
                    shade: 0.8,
                    area: ['510px', '280px'],//宽和高
                    content: laytpl($("#editJzbOrderTpl").html()).render(_data),
                    btn:['关闭'],
                    btnAlign:'c',
                    success:function (lay,idx) {
                        //initJZBHTWebUL(lay.find(".btn-small-file"),idx);
                        top.utils.initIframeUploader(lay.find(".btn-small-file"),{},function (res,dom) {
                            var _this = dom , response = res;
                            var _edit=_this.attr("data-option");
                            var _name=_this.attr("data-name");
                            var o_id=_this.attr("data-oid");
                            var _file = response.data;
                            if(_edit){
                                top.ue.confirm({
                                    content:'确认替换已有的销售合同“'+_name+'”?',
                                    ok:function () {
                                        top.ue.load();
                                        $.ajax({
                                            url: '/purchase/order/updateOrderContract.html',
                                            data: {
                                                "templateName": _file.imageInfo.original_name,
                                                "templateFileKey": _file.imageInfo.bucket_key,
                                                "oId": o_id
                                            },
                                            type: 'POST',
                                            dataType: 'json',
                                            complete: function () {
                                                top.ue.closeLoad();
                                            },
                                            success: function (data) {
                                                if (data.data != -1) {
                                                    top.ue.close(idx);
                                                    window.location.reload();
                                                } else {
                                                    top.ue.alert({
                                                        title: "提醒",
                                                        content: "订单已签收无法修改",
                                                        end: function () {
                                                            top.ue.close(idx);
                                                            window.location.reload();
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                })

                            }else{
                                $.ajax({
                                    url: '/purchase/order/insertOrderContract.html',
                                    data: {"templateName":_file.imageInfo.original_name,"templateFileKey":_file.imageInfo.bucket_key,"oId":o_id},
                                    type: 'POST',
                                    dataType: 'json',
                                    success: function(data) {
                                        top.ue.close(pidx);
                                        window.location.reload();
                                    }
                                });
                            }

                        })
                    }
                });
            });
        })

	})
    
    //下载合同
    function downloadHT(key,name){
        window.location.href="/order/downloadHT.html?key="+key+"&name="+name;
        return false;
    }

    /*本地页面文件上传*/
    function initJZBHT(_this,pidx) {
        (function (_this) {
            var uploadPic = _this;
            var _edit=_this.attr("data-option");
            var _name=_this.attr("data-name");
            var o_id=_this.attr("data-oid");
            new AjaxUpload(uploadPic, {
                action: "/cdn/imageInfo_upload.html",
                name: 'file_path',
                responseType: "json",
                onSubmit: function (file, ext) {
                    if (ext && /^(jpg|gif|png|jpeg)$/.test(ext)) {
                        ext_str = ext;
                    } else {
                        top.ue.msg("非图片文件格式,请重传！");
                        return false;
                    }
                    top.ue.load();
                },
                onComplete: function (file, result) {
                    var response = result;
                    top.ue.closeAll("loading");
                    if (result.success == false) {
                        if (result.message == "outofsize") {
                            top.ue.msg("文件过大，无法上传！");
                        } else if (result.message == "error") {
                            top.ue.msg("文件过大，无法上传！");
                        }
                        return false;

                    } else {
                        if(response && response.success){
                            var _file = response.data;
                            if(_edit){
                                top.ue.confirm({
                                    content:'确认替换已有的销售合同“'+_name+'”?',
                                    ok:function () {
                                        top.ue.load();
                                        $.ajax({
                                            url: '/purchase/order/updateOrderContract.html',
                                            data: {
                                                "templateName": _file.imageInfo.original_name,
                                                "templateFileKey": _file.imageInfo.bucket_key,
                                                "oId": o_id
                                            },
                                            type: 'POST',
                                            dataType: 'json',
                                            complete: function () {
                                                top.ue.closeLoad();
                                            },
                                            success: function (data) {
                                                if (data.data != -1) {
                                                    top.ue.close(pidx);
                                                    window.location.reload();
                                                } else {
                                                    top.ue.alert({
                                                        title: "提醒",
                                                        content: "订单已签收无法修改",
                                                        end: function () {
                                                            top.ue.close(pidx);
                                                            window.location.reload();
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                })

                            }else{
                                $.ajax({
                                    url: '/purchase/order/insertOrderContract.html',
                                    data: {"templateName":_file.imageInfo.original_name,"templateFileKey":_file.imageInfo.bucket_key,"oId":o_id},
                                    type: 'POST',
                                    dataType: 'json',
                                    success: function(data) {
                                        top.ue.close(pidx);
                                        window.location.reload();
                                    }
                                });
                            }

                        }else{
                            top.layer.tips("文件上传失败",_this);
                        }
                    }
                }
            });
        })(_this);
    }

    /*父级页面文件上传*/
    function initJZBHTWebUL(_this,pidx){
        (function(_this){
            var _edit=_this.attr("data-option");
            var _name=_this.attr("data-name");
            var o_id=_this.attr("data-oid");
            uploader1 = top.WebUploader.create({
                swf: '/js/webupload/uploader.swf',
                server: '/cdn/imageInfo_upload.html',
                pick: _this,
                resize: false,
                auto:true,
                fileVal:"files[]",
                accept: {
                    title: 'Images',
                    extensions: 'doc,docx,pdf,jpg,png,rar,zip'
                },
                fileSingleSizeLimit:1024*1024*10
            });

            //上传失败拦截
            uploader1.on("error",function (errType) {
                layer.closeAll("loading");
                switch (errType){
                    case "Q_TYPE_DENIED":
                        layer.tips("对不起，您上传的文件格式不对，请选择正确的格式",_this);
                        break;
                    case "F_EXCEED_SIZE":
                        layer.tips("对不起，您上传的文件太大，文件不能超过10M",_this);
                        break;
                    case "F_DUPLICATE":
                        layer.tips("对不起，请不要重复选择同一个文件",_this);
                        break;
                    default :
                        layer.tips("文件选择失败",_this);
                        break;
                }
                uploader1.reset();
            })
            //添加成功事件
            uploader1.on("fileQueued",function (file) {
               top.ue.load();
            })
            uploader1.on("uploadSuccess",function (file,response) {
                if(response && response.success){
                    var _file = response.data;
                    if(_edit){
                        top.ue.confirm({
							content:'确认替换已有的销售合同“'+_name+'”?',
							ok:function () {
                                $.ajax({
                                    url: '/purchase/order/updateOrderContract.html',
                                    data: {"templateName":_file.imageInfo.original_name,"templateFileKey":_file.imageInfo.bucket_key,"oId":o_id},
                                    type: 'POST',
                                    dataType: 'json',
                                    success: function(data) {
                                        if (data.data!=-1) {
                                            top.ue.close(pidx);
                                            window.location.reload();
                                        }else{
                                            layer.closeAll();
                                            top.ue.alert({
                                                title: "提醒",
                                                content: "订单已签收无法修改",
                                                end: function() {
                                                    top.ue.close(pidx);
                                                    window.location.reload();
                                                },
                                                okVal: "确定"
                                            });
                                        }
                                    }
                                });
                            }
						})
                    }else{
                        $.ajax({
                            url: '/purchase/order/insertOrderContract.html',
                            data: {"templateName":_file.imageInfo.original_name,"templateFileKey":_file.imageInfo.bucket_key,"oId":o_id},
                            type: 'POST',
                            dataType: 'json',
                            success: function(data) {
                                top.ue.close(pidx);
                                window.location.reload();
                            }
                        });
                    }

                }else{
                    top.layer.tips("文件上传失败",_this);
                }
                uploader1.reset();
                top.ue.closeLoad();
            })
            uploader1.on( 'uploader1ror', function( file ) {
                top.ue.closeLoad();
                uploader1.reset();
                top.layer.tips("文件上传失败",_this);
            });
        })(_this)

    }

    function deletetemp(oId,_name){
        top.ue.confirm({
			content:'确认删除销售合同“'+_name+'”吗？',
			ok:function () {
                $.ajax({
                    url: '/purchase/order/deleteOrderContract.html',
                    data: {"oId":oId},
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        if (data.data!=-1) {
                            window.location.reload();
                        }else{
                            top.ue.alert({
                                title: "提醒",
                                content: "订单已签收无法删除",
                                end: function() {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                });
            }
		})
    }
    
    function delay(id){
        top.ue.confirm({
            title: '延期收货',
            content: "您确认要将此订单延期7天收货吗？",
            ok: function () {
                layer.load();
                $.ajaxPost("/purchase/order/delay", {"oid": id}, function (result) {
                    layer.closeAll("loading");
                    if (result != "") {
                        var obj = eval("(" + result + ")");
                        if (result.code == -1) {
                   		    top.ue.msg(result.message);
                            return;
                   	    }else{
                   	    	if(result.data == 1){
                   	    	    top.ue.msg("延期7天收货成功！");
                                window.location.href = "/purchase/order/wddd.html";
                   	    	}else{
                   	    	    top.ue.msg("延期7天收货失败！");
                                return false;
                   	    	}
                   	    }
                    }
                });
            }
        })
    }
    
    function cancel(id){
        top.ue.confirm({
            title: '取消订单',
            content: "您确认要取消此笔订单吗？",
            ok: function () {
                layer.load();
                $.ajaxPost("/purchase/order/isDualPay.html", {"oid": id}, function (result) {
                    layer.closeAll("loading");
                    if (result != "") {
                        var obj = eval("(" + result + ")");
                        if (1 == obj.data) {
                            var editFst = false;
                            var zjDiag = layer.open({
                                title: false,
                                type: 1,
                                content: $(".back-info"),
                                area: ["400px", "470px"],
                                closeBtn: 0,
                                success: function (lay, idx) {
                                    var _lineOid = "$!ra.raId", _len = 8;
                                    var form = lay.find("form");
                                    form.unbind("change");
                                    if (_lineOid) {
                                        editFst = true;
                                        $("#yhzh").attr("placeholder", $("#yhzh").attr("data-plc1"));
                                    } else {
                                        editFst = false;
                                        $("#yhzh").attr("placeholder", $("#yhzh").attr("data-plc"));
                                    }


                                    $(lay).find(".close-btn,.bi-cancel").on("click", function () {//取消和右上角按钮
                                        layer.close(idx);
                                    });
                                    $("#bankid").val("$!ra.bankId");
                                    if ("$!ra.provinceCode") $("#province").val($!ra.provinceCode).trigger("change");
                                    setTimeout(function () {
                                        $("#city").val("$!ra.cityCode");
                                        form.on("change", function (e) {
                                            if (editFst) {
                                                editFst = false;
                                                clearForm(form, e.target);
                                            }
                                        })
                                    }, 500);
                                    $("#khzh").val("$!ra.branchName");
                                    $("#skr").val("$!ra.accountName");
                                    $("#zhlx$!ra.accountType").prop("checked", "checked");

                                    $(lay).find(".bi-confirm").unbind("click").on("click", function () { //确认按钮
                                        var selizeForm = $(form).serializeArray();//序列化form表单值
                                        var _flag = 1;
                                        if (selizeForm.length != _len) {
                                            layer.msg("请选择账号类型！");
                                            return false;
                                        }
                                        $.each(selizeForm, function (key, v) {
                                            var _obj = $("#" + v.name);
                                            var _text = _obj.attr("data-tips") ? _obj.attr("data-tips") : _obj.parents(".form-line").find("label").text().replace(/：|:/g, "");
                                            if (!(v.name == "yhzh" && _lineOid)) {
                                                if (!_lineOid && v.name == "lineOid") {

                                                } else {
                                                    if (!v.value) {
                                                        layer.msg(_text + "不能为空！");
                                                        _flag = 0;
                                                        return false;
                                                    }
                                                    var _reg = _obj.attr("data-reg");
                                                    if (_reg && !eval(_reg).test(v.value)) {
                                                        layer.msg(_text + "格式不对！");
                                                        _flag = 0;
                                                        return false;
                                                    }
                                                }
                                            } else {
                                                var _reg = _obj.attr("data-reg");
                                                if (!editFst && !v.value) {
                                                    layer.msg(_text + "不能为空！");
                                                    _flag = 0;
                                                    return false;
                                                }
                                                if (v.value && _reg && !eval(_reg).test(v.value)) {
                                                    layer.msg(_text + "格式不对！");
                                                    _flag = 0;
                                                    return false;
                                                }
                                            }
                                        })
                                        if (!_flag) {
                                            return false;
                                        }
                                        if (!_flag) {
                                            return false;
                                        }
                                        layer.load();
                                        $.ajaxPost("/purchase/bankAccountSave.html", {
                                            "selizeForm": selizeForm,
                                            "oid": id
                                        }, function (result) {
                                            layer.closeAll("loading");
                                            if (result != "") {
                                                var obj = eval("(" + result + ")");
                                                if (1 == obj.data) {
                                                    layer.load();
                                                    $.ajaxPost("/purchase/order/ddqx.html", {"oid": id}, function (result) {
                                                        layer.closeAll("loading");
                                                        if (result != "") {
                                                            var obj = eval("(" + result + ")");
                                                            if (1 == obj.data) {
                                                                top.utils.iframeLoad();
                                                                top.utils.openWithTab('cgdd', '采购订单', '/purchase/order/wddd.html?$!utils.getReuturnParam($!{returnPageParam})', {fstBread: "订单中心"});
                                                                return false;
                                                            } else if (0 == obj.data) {
                                                                top.ue.msg("订单取消失败，请稍后重试！",{},function () {
                                                                    top.utils.iframeLoad();
                                                                    top.utils.openWithTab('cgdd', '采购订单', '/purchase/order/wddd.html?$!utils.getReuturnParam($!{returnPageParam})', {fstBread: "订单中心"});
                                                                    return false;
                                                                });
                                                            }
                                                        }
                                                    });
                                                } else if (0 == obj.data) {
                                                    top.ue.msg("退款信息保存失败，请稍后重试！",{},function () {
                                                        top.utils.iframeLoad();
                                                        top.utils.openWithTab('cgdd', '采购订单', '/purchase/order/wddd.html?$!utils.getReuturnParam($!{returnPageParam})', {fstBread: "订单中心"});
                                                        return false;
                                                    });
                                                }
                                            }
                                        })
                                    })
                                }
                            })
                            return;
                        } else if (0 == obj.data) {
                            layer.load();
                            $.ajaxPost("/purchase/order/ddqx.html", {"oid": id}, function (result) {
                                layer.closeAll("loading");
                                if (result != "") {
                                    var obj = eval("(" + result + ")");
                                    if (1 == obj.data) {
                                        top.utils.iframeLoad();
                                        top.utils.openWithTab('cgdd', '采购订单', '/purchase/order/wddd.html?$!utils.getReuturnParam($!{returnPageParam})', {fstBread: "订单中心"});
                                        return false;
                                    } else if (0 == obj.data) {
                                        top.ue.msg("订单取消失败，请稍后重试！",{},function () {
                                            top.utils.iframeLoad();
                                            top.utils.openWithTab('cgdd', '采购订单', '/purchase/order/wddd.html?$!utils.getReuturnParam($!{returnPageParam})', {fstBread: "订单中心"});
                                            return false;
                                        });
                                    }
                                }
                            });
                        } else {
                            top.ue.msg("订单取消失败，请稍后重试！",{},function () {
                                top.utils.iframeLoad();
                                top.utils.openWithTab('cgdd', '采购订单', '/purchase/order/wddd.html?$!utils.getReuturnParam($!{returnPageParam})', {fstBread: "订单中心"});
                                return false;
                            });
                        }
                    }
                });
            }
        })
	}
    
    function clearForm(form,target) {
        var _v =$(target).val();
        form[0].reset();
        if(target.name == "zhlx"){
            $("#zhlx"+_v).prop("checked","checked");
        }
        else $(target).val(_v);
        $("#yhzh").attr("placeholder",$("#yhzh").attr("data-plc"));
    }
    
    //下载回单
    function download(id){
    	window.location.href="/purchase/order/downloadOnePayReceipt.html?oId="+id;
    	return false;
    }
        
    function view(id){
    	//layer.load();
    	/*$("#operForm").attr("target","_self");
    	$("#operForm").find("input[name=oId]").val(id);
    	$("#operForm").attr("action","/purchase/order/ddxq.html");
    	$("#operForm").submit();*/
    	top.utils.openWithTab('ddxq','订单详情','/purchase/order/ddxq.html?oId='+id+"&source=1",{fstBread:'订单中心'})
    }
    
    function pay(id){
        layer.load();
        $.ajax({
            url: "/order/orderIsCanPay.html",
            type: "POST",
            data: {"oId":id},
            cache: false,
            async : false,  //同步属性设为false
            dataType: "json",
            success: function (result) {
                layer.closeAll("loading");
                if (result.success == true) {
                    if(1 == result.data){
                        ///$("#oId").val(id);
                        //$("#payForm").attr("action", );
                        //$("#payForm").submit();

                        // 新打开浏览器标签页方法，解决https到http跨协议问题
                        var url = "http://$!{wwwHostAndPort}/orderSuccessPurchase.html?oId=" + id;
                        top.utils.open(url, "_blank");
                    }else{
                        top.ue.msg("订单状态已经发生改变，请刷新页面！");
                        layer.load();
                        window.location.href = "/purchase/index.html";
                        return false;
                    }
                }
            }
        });
    }
    
    function backPart(id){
    	/*layer.load();
    	$("#operForm").attr("target","_self");
    	$("#operForm").find("input[name=oId]").val(id);
    	$("#operForm").attr("action","/purchase/order/ddthPart.html");
    	$("#operForm").submit();*/
        top.utils.iframeLoad();
        top.utils.openWithTab('cgdd','采购订单','/purchase/order/ddthPart.html?oId='+id,{fstBread:"订单中心"});
    }
    
    function backAll(id){
    	layer.load();
    	$.ajaxPost("/order/orderIsCanBack.html", {"oId":id}, function(result) {
    		layer.closeAll("loading");
    		if (result != "") {
    			var obj=eval("("+result+")");
    			if(1 == obj.data){
        			/*layer.load();
        			$("#operForm").attr("target","_self");
        			$("#operForm").find("input[name=oId]").val(id);
                	$("#operForm").attr("action","/purchase/order/ddth.html");
                	$("#operForm").submit();*/
                    top.utils.iframeLoad();
                    top.utils.openWithTab('cgdd','采购订单','/purchase/order/ddsh.html?oId='+id,{fstBread:"订单中心"});
        		}else{
        			top.ue.msg("订单状态已经发生改变，请刷新页面！");
                    top.utils.iframeLoad();
                    top.utils.openWithTab('cgdd','采购订单','/purchase/order/wddd.html',{fstBread:"订单中心"});
        			return false;
        		}
    		}
       });
    }
    
    function accept(id){
    	layer.load();
    	$.ajaxPost("/order/orderIsCanAccept.html", {"oId":id}, function(result) {
    		layer.closeAll("loading");
    		if (result != "") {
    			var obj=eval("("+result+")");
    			if(1 == obj.data){
                    top.utils.iframeLoad();
                    top.utils.openWithTab('cgdd','采购订单','/purchase/order/ddsh.html?oId='+id,{fstBread:"订单中心"});
        		}else{
        			top.ue.msg("订单状态已经发生改变，请刷新页面！");
                    top.utils.iframeLoad();
                    top.utils.openWithTab('cgdd','采购订单','/purchase/order/wddd.html',{fstBread:"订单中心"});
        			return false;
        		}
    		}
       });
    }
    
    function loanConfirm(oId){
        var _html = "<p style='text-align: center; margin-top: 15px; font-size: 18px;'>是否同意一次性还本付息?</p>" +
                "<p style='text-align: center;  color: #333; font-size:14px; margin-top:10px;'>(同意资金方将付款;不同意将终止贷款流程)</p>"
        layApp.alert({
            head:"",
            html: _html,
            btn:['同意','不同意'],
            ok:function (v,idx,lay) {//确定事件
            	layer.close(idx);
            	loanConfirmd(oId,1);
            },btn2:function(idx,lay){//不同意
            	layer.close(idx);
            	loanConfirmd(oId,2);
            }
        })
    }
    function loanConfirmd(id,val){
    	$("#btn_"+id).remove();
    	top.utils.iframeLoad()
    	$.ajax({
            url: "/order/loanConfirm.html",
            type: "POST",
            data: {"oId":id,"confirmation":val},
            dataType: "json",
            complete:function (){
            	top.ue.closeAll("loading");
            },
            success: function (result) {
            	if (result.data==1) {
            		window.location.reload();
            	}else{
                    top.ue.msg("还款计划状态发生变化,请刷新后重试");
            		window.location.reload();
            	}
            }
        });
    }

    
    function buyAgain(id){
    	top.ue.load();
    	$.ajax({
            url: "/order/buyAgain",
            type: "POST",
            data: {"oid":id,"source":"mypharma"},
            cache: false,
            dataType: "json",
            async:false,
            complete:function () {
                top.ue.closeLoad();
            },
            success: function (result) {
            	if (result.code == -1) {
            		 top.ue.msg(result.message);
                     return;
            	}else{
            		if(result.data == -1){
            			 top.ue.msg("订单中的商品全部为无效商品，无法加入进货单。无效商品包含无价格、无库存、无采购权限或者已下架");
                         return;
            		}
            		if(result.data == 0){
            			top.ue.alert({
                            title: '提示信息',
                            content:"订单中的商品全部加入进货单",
                            end: function() {
                                // 新打开浏览器标签页方法，解决https到http跨协议问题
                                top.utils.open("http://$!{wwwHostAndPort}/cart.html", "_blank");
         	               }
                        })
                        return;
            		}
            		if(result.data > 0){
                        top.ue.alert({
                            title: '提示信息',
                            content:"订单中有"+result.data+"个无效商品，无法加入进货单。无效商品包含无价格、无库存、无采购权限或者已下架",
                            width: 300,
                            okVal: "确定",
                            end: function() {
                                // 新打开浏览器标签页方法，解决https到http跨协议问题
                                top.utils.open("http://$!{wwwHostAndPort}/cart.html", "_blank");
         	                }
                        })
                        return;
            		}
            	}
            }
        });
    }
    
    function more(){
        top.utils.iframeLoad();
        top.utils.openWithTab('cgdd','采购订单','/purchase/order/wddd.html',{fstBread:"订单中心"});
    	/*layer.load();
    	window.location.href = "/purchase/order/wddd.html";*/
		return false;
    }
    
    function submitForm(i){
        top.utils.iframeLoad();
        top.utils.openWithTab('cgdd','采购订单','/purchase/order/wddd.html?status='+i,{fstBread:"订单中心"});
    	/*layer.load();
    	window.location.href = "/purchase/order/wddd.html?status="+i;*/
		return false;
    }
    
    function privilege(){
        top.utils.openWithTab('cgdd','成长值规则','/purchase/growth/myGrowthValue.html',{fstBread:"我的成长值"});
    	//window.location.href = "/purchase/growth/myGrowthValue.html";
    }
    </script>