
<!-- 用户中心_主体内容_S -->
<div class="indmain" >
	<div class="order_query order">
		<form action="/sales/promotion/enterprise.html" method="post"
			id="searchEnterpriseForm">
			<input type="hidden" name="pi" value="$!pi"> <input
				type="hidden" name="ps" value="$!ps">
			<ul>
			#if($!{userType}==2)
				<input type="hidden" id="selectcheckedType" value="1">
				<li><span style="margin-left: 20px;">业务分组</span> 
				<select name="checkValue" id="checkValue" style="width: 80px;">
						<option value="">--请选择--</option>
						#foreach($type in $!listType)
							<option value="$!{type.shopCustomerType.sctId}"  #if($!{type.shopCustomerType.sctId}==$!{smCustomerType})  selected="selected" #else #end>$!{type.shopCustomerType.sctName}</option>
						#end
				</select>	
				</li>
			#end	
				<li><span style="margin-left: 20px;">企业名称：</span><input
					class="input" name="smName" id="smName" type="text" value="$!{smName}">
				</li>
				<li><a
					href="javascript:searchEnterprisePagerC('/sales/promotion/enterprise.html',false,true);"
					class="btn_query">查询</a> <a
					href="javascript:searchEnterprisePagerC('/sales/promotion/enterprise.html',true);"
					class="btn_query btn_export mr7">清空查询条件</a></li>
			</ul>
		</form>
	</div>
	<div class="order_detail">
		<div class="table">
			<table cellpadding="0" cellspacing="0">
				<thead class="head">
					<tr class="line">
						<th><input type="checkbox" class="check" id="selectCustAll"
							onclick="selectCustAll(this,'userchk');"></th>
						<th>企业ID</th>
						<th>企业编码</th>
						<th>企业名称</th>
						<th>企业地址</th>
					</tr>
				</thead>
				<tbody>
					#if(!$null.isNull($enterpriseList) && $enterpriseList.size()!=0)
					#foreach($enterprise in $enterpriseList)
					
		   				 #if($!utils.isContais($!{enterprise.eId},$!eIds))
                         	<tr class="gray">
                         	<td><input type="checkbox"  disabled=“disabled” class="check" name="userchk" id="$!{enterprise.eId}"></td>
                         #else
                         	<tr>
                         	<td><input type="checkbox" class="check" name="userchk" id="$!{enterprise.eId}"></td>
                         #end
						<td>$!{enterprise.eId}</td>
						<td>$!{enterprise.smCode}</td>
						<td>$!{enterprise.smName}</td>
						<td>$!{enterprise.smAddress}</td>
					</tr>
					#end #end
				</tbody>
			</table>
			<!--分页开始 -->
			#if($!{pagerInfo}) #if($!{pagerTotal} > 1)
			#dialogPagerInfoC($!pagerInfo,$!{pagerTotal},"/sales/promotion/enterprise.html")
			#end #end
			<!--分页结束 -->
		</div>
	</div>
	<div class="btn" style="margin-top: 15px;">
		<a href="javascript:chooseEnterprise();">保存</a>
	</div>
</div>
<!-- 用户中心_主体内容_E -->




